﻿@model CoinListingApp.Models.Credit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_Notify")

@Html.Partial("_AdminHeading", "Give Credits")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control ddlUser" })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Available Credits</label>
            <div class="col-md-10">
                <label id="lblCredits">Please select an user first.</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Amount to Add</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-primary" />
                @*@Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-info" })*@
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('.ddlUser').select2();

            $('.ddlUser').on('select2:select', function (e) {

                $.ajax({
                    type: "GET",
                    url: "/webservice.asmx/getUserCredits",
                    data: "{'useremail':'" + e.params.data.text+"'}",
                    type: 'POST',
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#lblCredits').text(data.d);
                    }
               });

            });

            $('.ddlUser').val(null).trigger('change');
        });
    </script>
}
