﻿@model CoinListingApp.Models.IndividualCredits

@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">

                    @if (Model.CreditAmount > 0)
                    {
                        <h3><i class="sl sl-icon-diamond"></i>Credits - @Html.DisplayFor(model => model.CreditAmount) Available</h3>
                    }
                    else
                    {
                        <h3><i class="sl sl-icon-diamond"></i>Credits - You have no credits.  <a href="/users/buyCredits" alt="Buy more credits" style="color:#ff2222;">Click here to Buy Now</a></h3>
                    }
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            <h2>Subscription </h2>
                            @if (Model.IsSubscribed == true)
                            {
                                <table class="table">
                                    <tr>
                                        <th>
                                            Subscription Plan Name
                                        </th>
                                        <th>
                                            Subscription Expiry Date
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.SubName)
                                        </td>
                                        <td>
                                            @Model.SubExpiry.ToString("dd/MM/yyyy")
                                        </td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <h3>You have no subscription.</h3>
                            }
                        </div>
                    </div>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            <h2>Credit History </h2>
                            @if (Model.CreditHistory.Count > 0)
                            {
                                <table class="table">
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Credit Package Name
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.CreditHistory)
                                    {
                                        <tr>
                                            <td>
                                                @item.DateOfPurchase.ToString("dd/MM/yyyy")
                                                @*@Html.DisplayFor(modelItem => item.DateOfPurchase)*@
                                            </td>
                                            @if (item.Amount == -1)
                                            {
                                                <td>
                                                    N/A
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Amount)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TransactionDetail)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                            else
                            {
                                <h3>You have no credit purchases.</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>