﻿@model CoinListingApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}



<div class="utf_dashboard_list_box margin-top-0">
    <h4 class="gray"><i class="sl sl-icon-user"></i> @ViewBag.Title</h4>
    <div class="utf_dashboard_list_box-static">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row with-forms">
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-md-4">
                    <label>@Html.LabelFor(m => m.OldPassword)</label>
                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "input-text" })
                </div>

                <div class="col-md-4">
                    <label>@Html.LabelFor(m => m.NewPassword)</label>
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "input-text" })
                </div>

                <div class="col-md-4">
                    <label>@Html.LabelFor(m => m.ConfirmPassword)</label>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input-text" })
                </div>




            </div>
            <input type="submit" value="Change password" class="btn btn-default" />
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}