﻿@model CoinListingApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")

<style>
    #imagecontainer {
        width: 100%;
        height: 500px;
        margin-top: 120px;
        /*background-image: url('/images/CoinstackerMonogram.png');*/
        background: url('/images/CoinstackerMonogram_watermark.png') no-repeat center center;
    }
</style>

<div id="imagecontainer">
</div>

@*<p>
        @Html.ActionLink("Update Profile", "UpdateProfile", "Manage")
    </p>

    @if (ViewBag.Verified == false)
    {
        <p>
            @Html.ActionLink("Become a verified seller", "UploadFiles", "Manage")
        </p>
    }

    <p>
        @Html.ActionLink("Update password", "ChangePassword")
    </p>

    @if (this.User.IsInRole("Seller"))
    {
        <p>
            @Html.ActionLink("Manage Listings", "Listings", "Users")
        </p>
    }

    @if (this.User.IsInRole("Seller"))
    {
        <p>
            @Html.ActionLink("Manage Preferred Payments", "Payments", "Users")
        </p>
    }

    @if (this.User.IsInRole("Seller"))
    {
        <p>
            @Html.ActionLink("Manage Tracking", "Edit", "Trackings")
        </p>
    }

    <p>
        @Html.ActionLink("View Orders", "Index", "Orders")
    </p>

    <p>
        @Html.ActionLink("View Offers", "Index", "Offers")
    </p>

    <p>
        @Html.ActionLink("See how many credits you have", "Individual", "Credits")
    </p>

    <p>
        @Html.ActionLink("Buy Credits", "Index", "CreditPackages")
    </p>

    <p>
        @Html.ActionLink("Manage WatchList", "Watchings", "Users")
    </p>

    <p>
        @Html.ActionLink("Manage Favourites", "Favourites", "Users")
    </p>

    <p>
        @Html.ActionLink("Messages", "Index", "Messages")
    </p>*@
