﻿@model CoinListingApp.Models.UpdateProfileViewModel

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@section stylesheets{
    <link rel="stylesheet" href="~/Styles/UDUI/css/w3SchoolsModal.css">
}

@Html.Partial("_Notify")

@using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.HomeId)
    @Html.HiddenFor(model => model.DeliveryId)

    <div class="row">
        <div class="col-lg-12">
            <div id="utf_add_listing_part">
                <div class="add_utf_listing_section">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="sl sl-icon-user"></i>My Profile</h3>
                    </div>
                    <div class="edit-profile-photo">

                        @if (ViewBag.ImageData != null)
                        {
                            <img src="@ViewBag.ImageData" alt="" style="max-width:200px; max-height:200px; width:auto; height:auto;" />
                            @Html.ActionLink("remove", "RemoveProfilePicture", "Users", null, new { @style = "color:red;" })
                        }
                        else
                        {
                            <img src="/styles/UDUI/images/genericuser.png" alt="">
                        }

                        <div class="change-photo-btn">
                            <div class="photoUpload">
                                <span><i class="fa fa-upload"></i> Upload Photo</span>
                                <input type="file" class="upload" id="ProfilePicture" name="ProfilePicture" />
                                <span id="fileNameToUpload"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row with-forms">
                        <div class="form-group lis-relative">
                            <div class="col-md-4">
                                <h5>First Name</h5>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <h5>Surname</h5>
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <h5>Email address</h5>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Coinstacker name</h5>
                            @Html.TextBoxFor(m => m.CoinStackerName, new { @class = "form-control CoinStackerNameTextBox", @disabled = "true" })
                            @Html.HiddenFor(model => model.CoinStackerName)
                            @Html.ValidationMessageFor(m => m.CoinStackerName, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-4 col-md-4 ">
                            <div class="form-check">
                                <input class="form-control" id="OnCoinStackerNameId" type="checkbox" onclick="OnEditCoinStackerName()" />
                                <label class="form-check-label" for="flexCheckDefault">
                                    If you would like to use a Trade name instead, tick box to Edit. Make sure to Save any changes.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5>Receive our newsletter</h5>
                            @Html.CheckBoxFor(m => m.IsReceiveNewsletter, new { @class = "form-control IsReceiveNewsletter" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div id="utf_add_listing_part">
                <div class="add_utf_listing_section">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="sl sl-icon-home"></i>Home Address</h3>
                    </div>
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="form-group lis-relative">
                                <div class="col-md-4">
                                    <h5>Home Address Line 1</h5>
                                    @Html.TextBoxFor(m => m.HomeAddressLine1, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.HomeAddressLine1, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>Home Address Line 2</h5>
                                    @Html.TextBoxFor(m => m.HomeAddressLine2, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <h5>City</h5>
                                    @Html.TextBoxFor(m => m.HomeCity, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.HomeCity, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>State, Province or Region</h5>
                                    @Html.TextBoxFor(m => m.HomeStateProvince, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.HomeStateProvince, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>Country</h5>
                                    @Html.TextBoxFor(m => m.HomeCountry, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.HomeCountry, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>Postal Code</h5>
                                    @Html.TextBoxFor(m => m.HomePostalCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.HomePostalCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-12">
            <div id="utf_add_listing_part">
                <div class="add_utf_listing_section">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="fa fa-truck"></i>Delivery Address</h3>
                    </div>
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="form-group lis-relative">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.SameAsHomeAddress)
                                    @Html.CheckBoxFor(m => m.SameAsHomeAddress)
                                </div>
                            </div>
                        </div>
                        <div id="deliveryAddress" class="col-md-12">
                            <div class="form-group lis-relative">
                                <div class="col-md-4">
                                    <h5>Delivery Address Line 1</h5>
                                    @Html.TextBoxFor(m => m.DeliveryAddressLine1, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeliveryAddressLine1, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>Delivery Address Line 2</h5>
                                    @Html.TextBoxFor(m => m.DeliveryAddressLine2, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <h5>City</h5>
                                    @Html.TextBoxFor(m => m.DeliveryCity, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeliveryCity, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>State, Province or Region</h5>
                                    @Html.TextBoxFor(m => m.DeliveryStateProvince, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeliveryStateProvince, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>Country</h5>
                                    @Html.TextBoxFor(m => m.DeliveryCountry, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeliveryCountry, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>Postal Code</h5>
                                    @Html.TextBoxFor(m => m.DeliveryPostalCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeliveryPostalCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row text-center">
        <input type="submit" class="btn btn-default" value="Update Profile" />
    </div>
}
@*<hr />

    <div class="row text-center">

            <a class="button" href="@Url.Action("Edit", "Trackings")">Update Tracking Info</a>
    </div>*@

<hr />
<div class="row text-center">
    <button class="btn btn-danger" onclick="showModal()">Close Account</button>
</div>
<br />

<!-- The Modal -->
<div id="modalCloseAccount" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h3>Please confirm</h3>
        <div class="row text-center">
            <p class="modal-message">Are you absolutely sure you want to close this account?</p>
            <h2 style="color: firebrick">This action is irreversible.</h2>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-6 col-md-3">
                @using (Html.BeginForm("CloseAccount", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-danger confirm-modal-btn" style="margin-bottom: 0px" value="Confirm" />
                }
            </div>
            <div class="col-md-3">
                <input class="btn btn-primary dismiss-modal-btn" style="margin-bottom: 0px" value="Dismiss" type="button" />
            </div>
        </div>
    </div>
</div>

<style>
    .edit-profile-photo img {
        margin: auto;
        display: block;
    }
</style>

@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Styles/UDUI/scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

        $('.IsReceiveNewsletter').change(function () {
            var isChecked = $('#IsReceiveNewsletter').is(":checked")
            console.log(isChecked);

            $.ajax(`/Manage/updateIsReceiveNewsletter?IsReceiveNewsletter=${isChecked}`,
                {
      /*              timeout: 500,     // timeout milliseconds*/
                    success: function (data, status, xhr) {   // success callback function
                        console.log(data)
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback 
                        $('p').append('Error: ' + errorMessage);
                    }
                });


        })

            $('#ProfilePicture').change(function () {
            var fullPath = $(this).val();

            $('#fileNameToUpload').text(fullPath.replace(/^.*[\\\/]/, ''));
        });

        @if(Model is object && Model.SameAsHomeAddress)
        {

            @:toggleDeliveryAddressSameAsHomeAddress();
        }
        else
        {
            @:$('#SameAsHomeAddress').prop('checked', false);
        }

        var modal;
        var modalId = 'modalCloseAccount';
        var modalMessageDiv = $('#' + modalId + ' .modal-message')[0];
        //var confirmModalBtn = $('#' + modalId + ' .confirm-modal-btn')[0];

        $(document).ready(function () {

            $("#SameAsHomeAddress").click(function () {
                toggleDeliveryAddressSameAsHomeAddress();
            });

            // Get the modal
            modal = document.getElementById(modalId);

            //confirmModalBtn.onclick = function () {
            //    closeAccount()
            //};

            // Get the <span> element that closes the modal
            var closeModalSpan = $(".close-modal")[0];

            // When the user clicks on <span> (x), close the modal
            closeModalSpan.onclick = function () {
                closeModal()
            }

            var dismissModatBtn = $('#' + modalId + ' .dismiss-modal-btn')[0];

            dismissModatBtn.onclick = function () {
                closeModal()
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    closeModal()
                }
            }
        });

        function toggleDeliveryAddressSameAsHomeAddress() {
            $('#deliveryAddress').toggle();

            var isChecked = $('#SameAsHomeAddress').prop('checked');
            //console.log("check: " + isChecked);
            if (isChecked) {
                $('#DeliveryAddressLine1').val($('#HomeAddressLine1').val());
                $('#DeliveryAddressLine2').val($('#HomeAddressLine2').val());
                $('#DeliveryCity').val($('#HomeCity').val());
                $('#DeliveryStateProvince').val($('#HomeStateProvince').val());
                $('#DeliveryCountry').val($('#HomeCountry').val());
                $('#DeliveryPostalCode').val($('#HomePostalCode').val());

            } else {
                $('#DeliveryAddressLine1').val('');
                $('#DeliveryAddressLine2').val('');
                $('#DeliveryCity').val('');
                $('#DeliveryStateProvince').val('');
                $('#DeliveryCountry').val('');
                $('#DeliveryPostalCode').val('');
            }

        }

        function closeModal() {
            modal.style.display = "none";
            //confirmModalBtn.onclick = function () {
            //    closeModal()
            //};
        }

        function showModal() {
            modal.style.display = "block";
        }


        function OnEditCoinStackerName() {
            var lIsEdit = document.getElementById('OnCoinStackerNameId');
            if (lIsEdit.checked) {
                document.getElementsByClassName("CoinStackerNameTextBox")[0].disabled = false;
            } else {
                document.getElementsByClassName("CoinStackerNameTextBox")[0].disabled = true;
            }
        }


    </script>
}