﻿@model CoinListingApp.Models.SellerVerifyViewModel

@{
    ViewBag.Title = "BecomeSeller";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("UploadFiles", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div id="utf_add_listing_part">
                <div class="add_utf_listing_section">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="sl sl-icon-wallet"></i>Become a Seller</h3>
                    </div>
                    <div class="row">
                        
                        <h3>To become a verified Seller you must provide us with the following documents:</h3>

                        <br />
                        <p><i class="sl sl-icon-docs"></i> <b>A government issued ID such as Passport or Driver's Licence</b></p>
                        <p><i class="sl sl-icon-docs"></i> <b>A recent utility bill in your name such as a Council Tax statement, Bank Statement, Water/Gas/Electricity bill, Telephone Landline or Broadband bill</b></p>
                        <br />
                        <h3>Why do we need this information?</h3>
                        <p>
                            Our priority is to ensure Coinstacker is a safe environment to trade on for all our users. To avoid fake User accounts from Selling, we therefore require proof of your Identity. Please note that your information will be securely stored and will not be shared or sold to any 3rd party for commercial purposes or otherwise. We will only share your information with law enforcement, should the need arise, or we are required to do so by Law.
                        </p>
                        <p>
                            Coinstacker LTD reserves the right to decline any Seller application at their discretion. We will contact you should we require any further information to support your application.
                        </p>

                    </div>
                    <hr />
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="form-group lis-relative">
                                <div class="col-md-6">
                                    <h5>ID or Passport</h5>
                                    @Html.TextBoxFor(model => model.ID, "", new { @type = "file" })
                                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <h5>Proof of Residence</h5>
                                    @Html.TextBoxFor(model => model.PoR, "", new { @type = "file" })
                                    @Html.ValidationMessageFor(model => model.PoR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @ViewBag.UploadStatus
    <br />
    <input type="submit" value="UploadFiles" class="btn btn-primary" />
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 