﻿<div class="col-md-12 listing_grid_item">
    <div class="row">
        @foreach (CoinListingApp.Models.User item in Model)
        {

            <div class="col-md-3 col-lg-3 col-md-12">
                <a href="/users/seller/@item.UserID" class="utf_listing_item-container" data-marker-id="2" style="height: 150px;">
                    <div class="utf_listing_item" style="height: 200px;">
                        <img src="@item.ProfilePicture" alt="">
                        <div class="utf_listing_item_content">
                            <h3>@(item.Name + " " + item.Surname[0] + ".")</h3>
                        </div>
                    </div>
                    @*<div class="utf_star_rating_section" style="bottom:-65px;" >
                        <span class="utf_meta_listing_price" >@(item.Name + " " + item.Surname[0] + ".")</span>
                    </div>*@
                </a>
            </div>

        }
    </div>
</div>