﻿
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silver and Gold Buy & Sell</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Images/coinstacker_favicon.png">
    <!-- Style CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/udui/css/stylesheet.css">
    <link rel="stylesheet" href="/styles/udui/css/mmenu.css">
    <link rel="stylesheet" href="/styles/udui/css/style.css" id="colors">
    <link rel="stylesheet" href="~/styles/udui/css/colors_version/stylesheet_5.css" id="colors">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">

    <!-- Google Tag Manager -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7488137-2">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-7488137-2');
    </script>

    <!-- End Google Tag Manager -->

    @RenderSection("stylesheets", required: false)
</head>
<body>
    <style>
        .now_open {
            color: #ffffff;
            background: #54ba1d;
            border-color: #54ba1d;
            padding: 4px 12px !important;
            display: inline-block;
            font-size: 13px;
            font-weight: 600;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            text-decoration: none;
            line-height: 26px;
        }

            .now_open:hover {
                color: #54ba1d;
                background: #ffffff;
                border-color: #54ba1d;
            }

        a.button {
            padding: 4px 12px !important;
        }

        .max-bax table td, th {
            padding: 0;
            border-right: 1px solid #3F3E42;
            padding: 0px 10px;
            color: #D1D2D4;
        }

        .tableheader {
            position: absolute;
            right: 20px;
        }

        @@media only screen and (min-width: 220px) and (max-width: 660px) {
            .tableheader {
                position: relative;
                display: flex;
                justify-content: flex-end
            }
        }
    </style>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGS6J5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Wrapper -->
    <div id="main_wrapper">
        <header id="header_part">
            <div id="header" style="background-color: #000">
                <div class="container">

                    @*<div class="max-bax tableheader">
                        <table data-lp="spotPrice" class="js-lp toggle-pricing__table customwidth">
                            <tbody>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>t oz</th>
                                    <th>gram</th>
                                </tr>
                                <tr>
                                    <td>Gold</td>
                                    <td class="js-lp-gold-toz" id="tozgoldPrice">£0</td>
                                    <td class="js-lp-gold-grams" id="gramgoldPrice">£0</td>
                                </tr>
                                <tr>
                                    <td>Silver</td>
                                    <td class="js-lp-silver-toz" id="tozSilverPrice">£0</td>
                                    <td class="js-lp-silver-grams" id="gramSilverPrice">£0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@

                    @*<span class="tt">
                            <a class="tt__link" href="#tooltip1">
                                <span class="tt__hint">
                                    <div class="rounded-icon">
                                        <i class="icon icon--info-white">Spot price information</i>
                                    </div>
                                </span>
                            </a>
                            <div class="tt__content" id="tooltip1">
                                <span class="tt__close"><i class="icon icon--close-small"></i></span>
                                <p>
                                    Spot prices are updated every <strong class="js-lp-interval">60</strong> seconds.
                                    <br>
                                    Last updated at <strong class="js-lp-lastupdated">10:32</strong>
                                </p>
                            </div>
                        </span>*@

                    <div id="logo" style="width:100%;"> <a href="/home"><img src="~/Images/logo_v2.png" alt="" /></a> </div>
                    <div class="utf_left_side">
                        <br />

                        <div class="mmenu-trigger">
                            <button class="hamburger utfbutton_collapse" type="button">
                                <span class="utf_inner_button_box">
                                    <span class="utf_inner_section"></span>
                                </span>
                            </button>
                        </div>
                        <nav id="navigation" class="style_one">
                            <ul id="responsive">
                                <li>
                                    <a href="/Home">HOME</a>
                                </li>
                                <li>
                                    <a class="current" href="#">SHOP</a>
                                    <ul>
                                        @Html.Partial("_MainMenu")
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Listings">ALL LISTINGS</a>
                                </li>
                                <li>
                                    <a href="/SellersAZ">SELLERS A-Z</a>
                                </li>
                                <li>
                                    <a href="~/Home/HowItWorks">HOW IT WORKS</a>
                                </li>
                                <li>

                                    <a href="~/Listings/CheckoutV2">
                                        @{
                                            var qty = ((List<CoinListingApp.Controllers.ItemCartViewModel>)Session["Cart"]) != null ? ((List<CoinListingApp.Controllers.ItemCartViewModel>)Session["Cart"]).Sum(c => c.Qty) : 0;
                                            if (qty > 0)
                                            {
                                                <span class="sl sl-icon-basket-loaded"></span>
                                            }
                                            else
                                            {
                                                <span class="sl sl-icon-basket"></span>
                                            }

                                            @: SHOPPING CART ( <span id="qytCart">@qty</span> )
                                        }
                                    </a>
                                </li>
                                @*<li>
                                        <a href="#">User Panel</a>
                                        <ul>
                                            <li><a href="dashboard.html">Dashboard</a></li>
                                            <li><a href="dashboard_add_listing.html">Add Listing</a></li>
                                            <li><a href="dashboard_my_listing.html">My Listings</a></li>
                                            <li><a href="dashboard_bookings.html">Bookings</a></li>
                                            <li><a href="dashboard_messages.html">Messages</a></li>
                                            <li><a href="dashboard_wallet.html">Wallet</a></li>
                                            <li><a href="dashboard_visitor_review.html">Reviews</a></li>
                                            <li><a href="dashboard_bookmark.html">Bookmark</a></li>
                                            <li><a href="dashboard_my_profile.html">My Profile</a></li>
                                            <li><a href="dashboard_change_password.html">Change Password</a></li>
                                            <li><a href="dashboard_invoice.html">Invoice</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog_page.html">Blog Grid</a></li>
                                            <li><a href="blog_page_left_sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog_page_right_sidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog_detail_left_sidebar.html">Blog Detail Leftside</a></li>
                                            <li><a href="blog_detail_right_sidebar.html">Blog Detail Rightside</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="page_about.html">About Us</a></li>
                                            <li>
                                                <a href="#">Categorie Type</a>
                                                <ul>
                                                    <li><a href="page_categorie_one.html">Categorie One</a></li>
                                                    <li><a href="page_categorie_two.html">Categorie Two</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="add_listing.html">Add Listing</a></li>
                                            <li><a href="listing_booking.html">Booking Listing</a></li>
                                            <li><a href="page_pricing.html">Pricing Plan</a></li>
                                            <li><a href="wishlist_listings.html">Wishlist Page</a></li>
                                            <li><a href="page_filtering_style.html">Filtering Style</a></li>
                                            <li><a href="typography.html">Typography</a></li>
                                            <li><a href="page_element.html">Page Element</a></li>
                                            <li><a href="page_faqs.html">Page Faq</a></li>
                                            <li>
                                                <a href="#">Icons</a>
                                                <ul>
                                                    <li><a href="page_icons_one.html">Icon-Mind Icon</a></li>
                                                    <li><a href="page_icons_two.html">Simple Line Icon</a></li>
                                                    <li><a href="page_icons_three.html">Font Awesome Icon</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="page_not_found.html">Page Error 404</a></li>
                                            <li><a href="page_coming_soon.html">Coming Soon</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                    <div class="utf_right_side">
                        <br />
                        <div class="header_widget">
                            @if (this.User.IsInRole("Seller") || this.User.IsInRole("Buyer"))
                            {
                                @*<a href="/manage/updateprofile" class="button border with-icon"><i class="sl sl-icon-user"></i> My Account</a>
                                    <a href="/account/logout" class="button border sign-in"><i class="fa fa-sign-out"></i> Sign Out</a>*@

                                <a href="/manage/updateprofile" class="nav_bar_right_buttons"><i class="sl sl-icon-user"></i> My Account</a>
                                @:&nbsp;&nbsp;&nbsp;&nbsp; <a href="/account/logout" class="nav_bar_right_buttons"><i class="fa fa-sign-out"></i> Sign Out</a>
                            }
                            else
                            {
                                @*<a href="/account/login" class="button border sign-in"><i class="fa fa-sign-in"></i> Sign In</a>*@
                                <a href="/account/login" class="nav_bar_right_buttons"><i class="fa fa-sign-in"></i> LOGIN</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>

        @RenderBody()

        <!-- Footer -->
        <div id="footer" class="footer_sticky_part">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>Useful Links</h4>
                        <ul class="social_footer_link">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/Listings">Listing</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>My Account</h4>
                        <ul class="social_footer_link">
                            <li><a href="/manage/updateprofile">Profile</a></li>
                            <li><a href="/orders">My Orders</a></li>
                            <li><a href="/users/listings">My Listing</a></li>
                            <li><a href="/users/favourites">Favorites</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>Pages</h4>
                        <ul class="social_footer_link">
                            <li><a href="/SellersAZ">Our Sellers</a></li>
                            <li><a href="~/Home/HowItWorks">How it works</a></li>
                            <li><a href="~/Home/About">About us</a></li>
                            <li><a href="~/Home/Safety">Safety</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>Help</h4>
                        <ul class="social_footer_link">
                            <li><a href="~/Home/PrivacyPolicy">Privacy Policy</a></li>
                            <li><a href="~/Home/TermsAndConditions">Terms And Conditions</a></li>
                            <li><a href="~/Home/Shipping">Postage/Shipping</a></li>
                            <li><a href="~/Home/Contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_copyright_part">Copyright © @DateTime.Now.Year.ToString() - Coinstacker LTD - All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom_backto_top"><a href="#"></a></div>
    </div>

    @RenderSection("scripts", required: false)

    <!-- Scripts -->
    <script src="/styles/udui/scripts/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/styles/udui/scripts/chosen.min.js"></script>
    <script src="/styles/udui/scripts/slick.min.js"></script>
    <script src="/styles/udui/scripts/rangeslider.min.js"></script>
    <script src="/styles/udui/scripts/magnific-popup.min.js"></script>
    <script src="/styles/udui/scripts/jquery-ui.min.js"></script>
    <script src="/styles/udui/scripts/bootstrap-select.min.js"></script>
    <script src="/styles/udui/scripts/bootstrap-select.min.js"></script>
    <script src="/styles/udui/scripts/mmenu.js"></script>
    <script src="/styles/udui/scripts/tooltips.min.js"></script>
    <script src="/styles/udui/scripts/color_switcher.js"></script>
    <script src="/styles/udui/scripts/jquery_custom.js"></script>
    <script src="/styles/udui/scripts/jquery.ihavecookies.js"></script>

    <!-- Fotorama from CDNJS, 19 KB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <link href="/content/starrating/css/star-rating-svg.css" rel="stylesheet">
    <script src="/content/starrating/jquery.star-rating-svg.js"></script>

    <script>

        $(document).ready(function () {

            //var isChanged = false;
            //setInterval(GetCurrentPrice, 4000 * 60 * 60);

            $('#remember-me').change(function () {

                if ($('#remember-me').prop('checked') == true) {
                    $('#btnSubmit').prop('disabled', '');
                } else {
                    $('#btnSubmit').prop('disabled', 'disabled');
                }
            });

            $('body').ihavecookies({
                title: "Cookies & Privacy",
                message: "This website uses cookies to ensure you get the best experience on our website.",
                link: "/home/PrivacyPolicy/",
                delay: 1000,
                expires: 30 //30 day
            });
            function GetCurrentPrice() {
                // set endpoint and your access key
                endpoint = 'latest'
                base_currency = 'GBP'
                symbol = 'XAU,XAG'
                //XAG =>Silver
                //XAU =>Gold


                //uq192zg4m76qntk6n78maa39sahy8zawdliw3v55rvqjvojysg4pwsc6but6
                //microlent.think@gmail.com
                access_key = 'uq192zg4m76qntk6n78maa39sahy8zawdliw3v55rvqjvojysg4pwsc6but6';

                // get the most recent exchange rates via the "latest" endpoint:
                $.ajax({
                    url: 'https://www.metals-api.com/api/' + endpoint + '?access_key=' + access_key + '& base=' + base_currency + '& symbols=' + symbol,
                    dataType: 'json',
                    success: function (json) {
                        console.log(json);
                        if (json.error != null || json.error != undefined) {
                            console.log("Metals Price api Error Response: " + json.error.info);
                            //document.getElementById("spotPrice").style.display = 'none';
                        }
                        setTimeout(colorChange(isChanged), 1000);

                        if (json?.rates?.XAU != undefined) {
                            $('#tozgoldPrice').text('£' + Number(json?.rates?.XAU).toFixed(2));
                            $('#tozgoldPrice').css("color", 'orange')
                        } else {
                            $('#tozgoldPrice').text('£' + 0);
                        }
                        if (json?.rates?.XAU != undefined) {
                            $('#gramgoldPrice').text('£' + Number(json?.rates?.XAU).toFixed(2));
                            $('#gramgoldPrice').css("color", 'orange')
                        } else {
                            $('#gramgoldPrice').text('£' + 0);
                        }
                        if (json?.rates?.XAG != undefined) {
                            $('#tozSilverPrice').text('£' + Number(json?.rates?.XAG).toFixed(2));
                            $('#tozSilverPrice').css("color", 'orange')
                        } else {
                            $('#tozSilverPrice').text('£' + 0);
                        }
                        if (json?.rates?.XAG != undefined) {
                            $('#gramSilverPrice').text('£' + Number(json?.rates?.XAG).toFixed(2));
                            $('#gramSilverPrice').css("color", 'orange')
                        } else {
                            $('#gramSilverPrice').text('£' + 0);
                        }
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log('Error' + errorMessage)
                    }
                });
            }
            function colorChange() {

                console.log(isChanged);
                if (isChanged) {
                    $('#tozgoldPrice').css("color", '#D1D2D4');
                    $('#gramgoldPrice').css("color", '#D1D2D4');
                    $('#tozSilverPrice').css("color", '#D1D2D4');
                    $('#gramSilverPrice').css("color", '#D1D2D4');
                } else {
                    $('#tozgoldPrice').css("color", 'orange');
                    $('#gramgoldPrice').css("color", 'orange');
                    $('#tozSilverPrice').css("color", 'orange');
                    $('#gramSilverPrice').css("color", 'orange');
                }
                isChanged = !isChanged;
            }
        });
    </script>
</body>
</html>