﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coinstacker Admin</title>
    <!-- base:css -->
    @*<script src="/Scripts/jquery-3.4.1.min.js"></script>*@
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/coinstacker_favicon.png" />

    <link href="/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Styles/UDUI/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" />
    <script src="/Scripts/tinymce/tinymce.min.js"></script>
    <style>
        table.dataTable {
            border-collapse: collapse;
            /*width: 100% !important;*/
            display: inline-table;
        }

            table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
                position: absolute;
                bottom: 8px;
                right: 8px;
                display: block;
                font-family: 'Font Awesome\ 5 Free';
                opacity: 0.5;
                font-weight: 900;
            }

            table.dataTable thead .sorting_asc:after {
                content: "\f0de";
            }

            table.dataTable thead .sorting_desc:after {
                content: "\f0dd";
            }

            table.dataTable thead .sorting:after {
                opacity: 0.2;
                content: "\f0dc";
            }
    </style>


    <!-- Google Tag Manager -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7488137-2">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-7488137-2');
    </script>

    <!-- End Google Tag Manager -->

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGS6J5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container-scroller d-flex">
        <!-- partial:./partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item sidebar-category">
                    <p>Home</p>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link  nav-link-child" href="/admin/index">
                        <i class="mdi mdi-view-quilt menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item sidebar-category">
                    <p>Areas</p>
                    <span></span>
                </li>
                @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-palette menu-icon"></i>
                <span class="menu-title">UI Elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>*@
                <li class="nav-item">
                    <a class="nav-link" href="#nav_system_settings" data-toggle="collapse">
                        <i class="mdi mdi-calculator menu-icon"></i>
                        <span class="menu-title">System Settings</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="nav_system_settings">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Categories">Categories</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Postages">Postage</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/Listings">Listings</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/SystemDashboard/ManageMessageOfTheDay/1">Message of the Day</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/SystemNotifications">System Notifications</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#nav_users" data-toggle="collapse">
                        <i class="mdi mdi-face menu-icon"></i>
                        <span class="menu-title">Manage Users</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="nav_users">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/users">Users</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/UsersTransactions">Transactions</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/NewsletterUsers/1">Marketing</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/UserDashboard/Reports">Manage Reported Users</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#nav_system_pricing" data-toggle="collapse">
                        <i class="mdi mdi-credit-card-multiple menu-icon"></i>
                        <span class="menu-title">Pricing</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="nav_system_pricing">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/PricingDashboard/ManageAds/1">Free Ads</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Credits/Create">Account Credits</a></li>
                            @*<li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/PricingDashboard/ManageCreditPrice/1">Credit Price</a></li>*@
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/creditpackages">Credit Packages</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/billingplans">Subscriptions</a></li>
                            <li class="nav-item"> <a class="nav-link nav-link-child" href="/Admin/PricingDashboard/ManageDiscount/1">Discount</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link  nav-link-child" href="/CreditHistories">
                        <i class="mdi mdi-trending-up menu-icon"></i>
                        <span class="menu-title">Financials</span>
                    </a>
                </li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="nav-item">
                        <a class="nav-link  nav-link-child" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="mdi mdi-power menu-icon"></i>
                            <span class="menu-title">Logout</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:./partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row" style="height:150px;">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <div class="navbar-brand-wrapper">
                        <a class="navbar-brand brand-logo" href="/"><img src="/images/logo.png" alt="logo" style="max-width:200px" /></a>
                        <a class="navbar-brand brand-logo-mini" href="/"><img src="/images/logo.png" alt="logo" style="max-width:200px" /></a>
                    </div>
                    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back</h4>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item">
                            <h4 class="mb-0 font-weight-bold d-none d-xl-block">@DateTime.Now.ToShortDateString()</h4>
                        </li>

                        <li class="nav-item dropdown mr-2">
                            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-email-open mx-0"></i>
                                <span class="count bg-danger">1</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <i class="mdi mdi-information mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Just now
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-warning">
                                            <i class="mdi mdi-settings mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Settings</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Private message
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-info">
                                            <i class="mdi mdi-account-box mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">

                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                        </div>
                    </div>

                    <!-- row end -->
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:./partials/_footer.html -->
                <footer class="footer">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
                                <p class="text-center text-sm-left d-block d-sm-inline-block mb-0">Copyright © @DateTime.Now.Year.ToString() <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</p>
                                <p class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center mb-0">Hand-crafted & made with <i class="mdi mdi-heart-outline text-muted icon-sm"></i></p>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    @*<script src="/Scripts/jquery-3.4.1.js"></script>*@
    <!-- base:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="/js/dashboard.js"></script>
    <script src="/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- End custom js for this page-->
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            var path = window.location.pathname; //Returns path only (/path/example.html)

            $('.active').removeClass("active");

            $('.nav-link-child').each(function () {

                if (this.toString().includes(path)) {
                    $(this).addClass('active');
                    $(this).parents().eq(3).addClass('active')
                }

            });

        });
    </script>

    <style>
        dt {
            font-weight: 700;
            float: left;
            margin-right: 10px;
        }

        dd {
            margin-bottom: 15px;
        }

        dl {
            font-size: 15px;
            padding-left: 0px;
        }
    </style>
</body>
</html>