﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coinstacker</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/coinstacker_favicon.png">
    <!-- Style CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/styles/UDUI/css/stylesheet.css">
    <link rel="stylesheet" href="/styles/UDUI/css/mmenu.css">
    <link rel="stylesheet" href="/styles/UDUI/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/styles/UDUI/css/style.css" id="colors">
    <link rel="stylesheet" href="~/styles/udui/css/colors_version/stylesheet_5.css" id="colors">
    <link rel="stylesheet" href="/styles/UDUI/css/image-uploader.css">
    <link rel="stylesheet" href="/styles/UDUI/css/bootstrap2-toggle.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="~/Styles/UDUI/css/dataTables.bootstrap.min.css" />
    <link href="/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/dropzone/dropzone.css" id="colors">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- Google Tag Manager -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7488137-2">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-7488137-2');
    </script>

    <!-- End Google Tag Manager -->


    @RenderSection("stylesheets", required: false)
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGS6J5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Wrapper -->
    <div id="main_wrapper">
        <header id="header_part" class="fixed fullwidth_block dashboard">
            <div id="header" class="not-sticky header_adjusts_user_dashboard">
                <div class="container">
                    <div class="utf_left_side">
                        <div id="logo" style="padding: 20px;">@Html.Partial("_Profile", null, new ViewDataDictionary { { "user", User.Identity } }) </div>
                        @*<div class="mmenu-trigger">
                                <button class="hamburger utfbutton_collapse utf_dashboard_nav_responsive" type="button">
                                    <span class="utf_inner_button_box">
                                        <span class="utf_inner_section"></span>
                                    </span>
                                </button>
                            </div>*@
                        <div class="header_widget header_user_dashboard" style="text-align:center; margin-left: 260px;">
                            <h2>Dashboard</h2>
                            <nav id="breadcrumbs">
                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>Dashboard</li>
                                </ul>
                            </nav>
                        </div>
                        <br />
                        @*<nav id="navigation" class="style_one">
                                <ul id="responsive">
                                    <li>
                                        <a href="#">Home</a>
                                        <ul>
                                            <li><a href="index_1.html">Home Version 1</a></li>
                                            <li><a href="index_2.html">Home Version 2</a></li>
                                            <li><a href="index_3.html">Home Version 3</a></li>
                                            <li><a href="index_4.html">Home Version 4</a></li>
                                            <li><a href="index_5.html">Home Version 5</a></li>
                                            <li><a href="index_6.html">Home Version 6</a></li>
                                            <li><a href="index_7.html">Home Version 7</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Listings</a>
                                        <ul>
                                            <li>
                                                <a href="#">List Layout</a>
                                                <ul>
                                                    <li><a href="listings_list_with_sidebar.html">Listing List Sidebar</a></li>
                                                    <li><a href="listings_list_full_width.html">Listing List Full Width</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Grid Layout</a>
                                                <ul>
                                                    <li><a href="listings_grid_with_sidebar.html">Listing Grid Sidebar</a></li>
                                                    <li><a href="listings_two_column_map_grid.html">Listing Two Column Grid</a></li>
                                                    <li><a href="listings_grid_full_width.html">Listing Grid Full Width</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Half Listing Map</a>
                                                <ul>
                                                    <li><a href="listings_half_screen_map_list.html">Listing Half List</a></li>
                                                    <li><a href="listings_half_screen_map_grid.html">Listing Half Grid</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Listing Details</a>
                                                <ul>
                                                    <li><a href="listings_single_page_1.html">Single Listing Version 1</a></li>
                                                    <li><a href="listings_single_page_2.html">Single Listing Version 2</a></li>
                                                    <li><a href="listings_single_page_3.html">Single Listing Version 3</a></li>
                                                    <li><a href="listings_single_page_4.html">Single Listing Version 4</a></li>
                                                    <li><a href="listings_single_page_5.html">Single Listing Version 5</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="current" href="#">User Panel</a>
                                        <ul>
                                            <li><a class="active" href="dashboard.html">Dashboard</a></li>
                                            <li><a href="dashboard_add_listing.html">Add Listing</a></li>
                                            <li><a href="dashboard_my_listing.html">My Listings</a></li>
                                            <li><a href="dashboard_bookings.html">Bookings</a></li>
                                            <li><a href="dashboard_messages.html">Messages</a></li>
                                            <li><a href="dashboard_wallet.html">Wallet</a></li>
                                            <li><a href="dashboard_visitor_review.html">Reviews</a></li>
                                            <li><a href="dashboard_bookmark.html">Bookmark</a></li>
                                            <li><a href="dashboard_my_profile.html">My Profile</a></li>
                                            <li><a href="dashboard_change_password.html">Change Password</a></li>
                                            <li><a href="dashboard_invoice.html">Invoice</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog_page.html">Blog Grid</a></li>
                                            <li><a href="blog_page_left_sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog_page_right_sidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog_detail_left_sidebar.html">Blog Detail Leftside</a></li>
                                            <li><a href="blog_detail_right_sidebar.html">Blog Detail Rightside</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="page_about.html">About Us</a></li>
                                            <li>
                                                <a href="#">Categorie Type</a>
                                                <ul>
                                                    <li><a href="page_categorie_one.html">Categorie One</a></li>
                                                    <li><a href="page_categorie_two.html">Categorie Two</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="add_listing.html">Add Listing</a></li>
                                            <li><a href="listing_booking.html">Booking Listing</a></li>
                                            <li><a href="page_pricing.html">Pricing Plan</a></li>
                                            <li><a href="wishlist_listings.html">Wishlist Page</a></li>
                                            <li><a href="page_filtering_style.html">Filtering Style</a></li>
                                            <li><a href="typography.html">Typography</a></li>
                                            <li><a href="page_element.html">Page Element</a></li>
                                            <li><a href="page_faqs.html">Page Faq</a></li>
                                            <li>
                                                <a href="#">Icons</a>
                                                <ul>
                                                    <li><a href="page_icons_one.html">Icon-Mind Icon</a></li>
                                                    <li><a href="page_icons_two.html">Simple Line Icon</a></li>
                                                    <li><a href="page_icons_three.html">Font Awesome Icon</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="page_not_found.html">Page Error 404</a></li>
                                            <li><a href="page_coming_soon.html">Coming Soon</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>*@
                        <div class="clearfix"></div>
                    </div>

                    <div class="utf_right_side">
                        <div class="header_widget">

                            @*<div class="dashboard_header_button_item has-noti js-item-menu">
                                    <i class="sl sl-icon-bell"></i>
                                    <div class="dashboard_notifi_dropdown js-dropdown">
                                        <div class="dashboard_notifi_title">
                                            <p>You Have 2 Notifications</p>
                                        </div>
                                        <div class="dashboard_notifi_item">
                                            <div class="bg-c1 red">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your Listing <b>Burger House (MG Road)</b> Has Been Approved!</p>
                                                <span class="date">2 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="dashboard_notifi_item">
                                            <div class="bg-c1 green">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="content">
                                                <p>You Have 7 Unread Messages</p>
                                                <span class="date">5 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="dashboard_notify_bottom text-center pad-tb-20">
                                            <a href="#">View All Notification</a>
                                        </div>
                                    </div>
                                </div>*@
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @*@Html.AntiForgeryToken()*@

                                <div class="utf_user_menu header_user_dashboard">
                                    <div class="utf_user_name"><span><img src="images/dashboard-avatar.jpg" alt=""></span>Hi, @Session["UserName"]!</div>
                                    <ul>
                                        <li><a href="~/manage"><i class="sl sl-icon-layers"></i> Dashboard</a></li>
                                        <li><a href="~/manage/UpdateProfile"><i class="sl sl-icon-user"></i> My Profile</a></li>
                                        @if (((bool?)Session["isVerifiedSeller"]) ?? false)
                                        {
                                            <li><a href="~/users/listings"><i class="sl sl-icon-list"></i> My Listing</a></li>
                                        }
                                        <li><a href="~/Messages"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
                                        @*<li><a href="dashboard_bookings.html"><i class="sl sl-icon-docs"></i> Booking</a></li>*@
                                        <li><a href="~/account/Logout"><i class="sl sl-icon-power"></i> Logout</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        <br />
        <br />
        <!-- Dashboard -->
        <div id="dashboard">
            <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Menu</a>
            <div class="utf_dashboard_navigation js-scrollbar">
                <div class="utf_dashboard_navigation_inner_block">
                    <ul>
                        @*<li class="active"><a href="/manage/index"><i class="sl sl-icon-layers"></i>Dashboard</a></li>*@
                        <li><a href="/Home"><i class="sl sl-icon-arrow-left"></i>Back to Store</a></li>
                        <li><a href="/manage/UpdateProfile"><i class="sl sl-icon-user"></i>Update Profile</a></li>
                        <li><a href="/manage/ChangePassword"><i class="sl sl-icon-key"></i>Change Password</a></li>
                        @if (!((bool?)Session["isVerifiedSeller"]) ?? true)
                        {
                            <li><a href="/manage/uploadfiles"><i class="sl sl-icon-user-following"></i>Become a verfied seller</a></li>
                        }
                        <li><a href="/offers"><i class="sl sl-icon-fire"></i>Offers</a></li>

                        @if (((bool?)Session["isVerifiedSeller"]) ?? false)
                        {
                            <li><a href="/users/listings"><i class="sl sl-icon-list"></i>My Listings</a></li>
                        }

                        <li><a href="/orders"><i class="sl sl-icon-basket-loaded"></i>Orders</a></li>

                        <li><a href="/users/payments"><i class="sl sl-icon-credit-card"></i>Payment Management</a></li>

                        <li>
                            <a href="#"><i class="sl sl-icon-wallet"></i> Credits</a>
                            <ul>
                                @*<li><a href="dashboard_my_listing.html">Active <span class="nav-tag green">10</span></a></li>
                                    <li><a href="dashboard_my_listing.html">Pending <span class="nav-tag yellow">4</span></a></li>
                                    <li><a href="dashboard_my_listing.html">Expired <span class="nav-tag red">8</span></a></li>*@
                                <li><a href="/credits/individual"><i class="sl sl-icon-diamond"></i>My Credits</a></li>
                                <li><a href="/users/buyCredits"><i class="sl sl-icon-plus"></i>Buy Credits</a></li>
                            </ul>
                        </li>

                        <li><a href="/users/watchlist"><i class="sl sl-icon-eye"></i>Watch List</a></li>
                        <li><a href="/users/favourites"><i class="sl sl-icon-heart"></i>My Favourite Sellers</a></li>
                        <li><a href="/messages"><i class="sl sl-icon-paper-plane"></i>Messages</a></li>
                        <li class="header_user_dashboard"><a href="~/account/Logout"><i class="sl sl-icon-power"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="utf_dashboard_content">
                @*<div id="titlebar" class="dashboard_gradient">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Dashboard</h2>
                                <nav id="breadcrumbs">
                                    <ul>
                                        <li><a href="index_1.html">Home</a></li>
                                        <li>Dashboard</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>*@

                @*alerts*@
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="notification success closeable margin-bottom-30">
                                <p>You are currently signed in as <strong>Jonathon Cristy</strong> Has Been Approved!</p>
                                <a class="close" href="#"></a>
                            </div>
                        </div>
                    </div>*@
                <br />
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="bottom_backto_top"><a href="#"></a></div>
    <!-- Scripts -->
    <script src="/styles/UDUI/scripts/jquery-3.4.1.min.js"></script>
    <script src="/styles/UDUI/scripts/bootstrap.min.js"></script>
    <script src="/styles/UDUI/scripts/chosen.min.js"></script>
    <script src="/styles/UDUI/scripts/perfect-scrollbar.min.js"></script>
    <script src="/styles/UDUI/scripts/slick.min.js"></script>
    <script src="/styles/UDUI/scripts/rangeslider.min.js"></script>
    <script src="/styles/UDUI/scripts/magnific-popup.min.js"></script>
    <script src="/styles/UDUI/scripts/jquery-ui.min.js"></script>
    <script src="/styles/UDUI/scripts/mmenu.js"></script>
    <script src="/styles/UDUI/scripts/tooltips.min.js"></script>
    <script src="/styles/UDUI/scripts/color_switcher.js"></script>
    <script src="/styles/UDUI/scripts/jquery_custom.js"></script>
    <script src="/styles/UDUI/scripts/bootstrap2-toggle.min.js"></script>
    <script src="/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dropzone/dropzone.js"></script>

    <script>
        (function ($) {
            try {
                var jscr1 = $('.js-scrollbar');
                if (jscr1[0]) {
                    const ps1 = new PerfectScrollbar('.js-scrollbar');

                }
            } catch (error) {
                console.log(error);
            }
        })(jQuery);

        $(document).ready(function () {
            var anchor = $(".utf_dashboard_navigation_inner_block").find('a[href="' + window.location.pathname + '"]');
            anchor.parent().addClass("active");

            if (anchor.attr("href") == "/users/buyCredits" || anchor.attr("href") == "/credits/individual") {
                anchor.parent().parent().parent().addClass("active");
            }

        });
    </script>
    <!-- Style Switcher -->
    @*<div id="color_switcher_preview">
            <h2>Choose Your Color <a href="#"><i class="fa fa-gear fa-spin (alias)"></i></a></h2>
            <div>
                <ul class="colors" id="color1">
                    <li><a href="#" class="stylesheet"></a></li>
                    <li><a href="#" class="stylesheet_1"></a></li>
                    <li><a href="#" class="stylesheet_2"></a></li>
                    <li><a href="#" class="stylesheet_3"></a></li>
                    <li><a href="#" class="stylesheet_4"></a></li>
                    <li><a href="#" class="stylesheet_5"></a></li>
                </ul>
            </div>
        </div>*@

    @RenderSection("scripts", required: false)

    <style>
        .star {
            position: absolute;
            right: 30px;
            top: 15px;
            color: gold;
            display: none;
        }

        .isCover {
            position: absolute;
            right: 30px;
            top: 15px;
            color: gold;
            display: block !important;
        }

        .img-thumbnail-gal img {
            width: 100%;
            object-fit: cover;
        }
    </style>
</body>
</html>