﻿@model PagedList.IPagedList<CoinListingApp.Models.FullListing>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="container">

    @*@if (this.User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }*@

    @if (ViewBag.CategoryName != null)
    {
        <h1 class="text-center">@ViewBag.CategoryName Listings</h1>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="listing_filter_block">
                <div class="col-md-12 col-xs-12">
                    <div class="contact-form-action">
                        @using (Html.BeginForm())
                        {
                            <div class="input-group mb-3">
                                @Html.Hidden("newSearch", false)
                                <input class="form-control" id="search" name="search" type="text" value="@ViewBag.filter" onchange="flagAsNewSearch()" />
                                <div class="input-group-append">
                                    <input type="submit" value="Search" class="utf_theme_btn" />
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <br />
                <div class="col-md-12 col-xs-12">

                    <div class="sort-by">
                        <div class="utf_sort_by_select_item utf_search_map_section pull-left">
                            Order by:
                            <ul style="padding-left:0px;">
                                @if (ViewBag.CurrentSortOrder == "Newest")
                                {
                                    <li>@Html.ActionLink("Newest Listings first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button selected" })</li>
                                    <li>@Html.ActionLink("Oldest Listings first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Highest Price first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Lowest Price first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                }
                                else if (ViewBag.CurrentSortOrder == "Oldest")
                                {
                                    <li>@Html.ActionLink("Newest Listings first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Oldest Listings first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button selected" })</li>
                                    <li>@Html.ActionLink("Highest Price first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Lowest Price first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                }
                                else if (ViewBag.CurrentSortOrder == "Highest")
                                {
                                    <li>@Html.ActionLink("Newest Listings first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Oldest Listings first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Highest Price first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button selected" })</li>
                                    <li>@Html.ActionLink("Lowest Price first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                }
                                else if (ViewBag.CurrentSortOrder == "Lowest")
                                {
                                    <li>@Html.ActionLink("Newest Listings first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Oldest Listings first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Highest Price first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Lowest Price first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button selected" })</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Newest Listings first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Oldest Listings first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Highest Price first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                    <li>@Html.ActionLink("Lowest Price first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter, category = ViewBag.category }, new { @class = "utf_common_button" })</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="utf_listing_item-container list-layout">
                            <a href="/listings/details/@item.ListingID" class="utf_listing_item">
                                <div class="utf_listing_item-image">
                                    @if (!string.IsNullOrEmpty(item.Photos))
                                    {
                                        <img src="@item.Photos" alt="">
                                    }
                                    @Html.Partial("_WatchlistButton", item.WatchlistButtonViewModel)
                                    <span class="tag">Allow Offers: @(item.AllowOffers==1?"Yes":"No")</span>
                                    <span class="featured_tag">@item.Category.CategoryName</span>
                                    <div class="utf_listing_prige_block utf_half_list">
                                        <span class="utf_meta_listing_price"><i class="fa fa-tag"></i>	&#163; @Math.Round(item.Price, 2).ToString("N2")</span>
                                        <span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
                                    </div>
                                </div>
                                @if (item.isHighlight == 1)
                                {
                                    <span class="utf_open_now">Featured</span>
                                }
                                @if (item.PostageListing.Price == 0)
                                {
                                    <span class="utf_free_shipping">Free Shipping</span>
                                }
                                @if (item.shipInTwotoFourWeek || item.shipInFourtoEightWeek)
                                {
                                    <span class="utf_shipping_days">Pre-Sale</span>
                                }

                                <div
                                <div class="utf_listing_item_content">
                                    <div class="utf_listing_item-inner">
                                        <div class="row">
                                            <h2>@item.Title</h2>
                                        </div>
                                        <div class="row">
                                            @if (item.User.Address != null)
                                            {
                                                <span><i class="sl sl-icon-location"></i>@item.User.Address.Country, @item.User.Address.City </span>
                                            }
                                        </div>
                                        <div class="row">
                                            <span><i class="sl sl-icon-envelope-open"></i> @item.SellerNameMasked</span>
                                        </div>
                                        <div class="row">
                                            @if (item.AverageRating > 0)
                                            {
                                                <div class="utf_star_rating_section" data-rating="@item.AverageRating">
                                                    <div class="utf_counter_star_rating">(@item.AverageRating)</div>
                                                </div>
                                            }
                                            else
                                            {
                                                <span>Not rated yet</span>
                                            }
                                        </div>
                                        <div class="row" style="line-height: 1em; max-height: 3em; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow:hidden;">
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    @*<div class="utf_pagination_container_part margin-top-20 margin-bottom-75">
                            <nav class="pagination">
                                <ul>
                                    <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                                    <li><a href="#" class="current-page">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>*@
                    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
                    @Html.PagedListPager(Model, Page_No => Url.Action((string)ViewBag.CurrentAction,
                        new { id = ViewBag.SellerId, sort = ViewBag.CurrentSortOrder, search = ViewBag.filter, Page_No, category = ViewBag.category }))
                </div>
            </div>
        </div>
    </div>

    @{
        if (this.ViewContext.Controller is CoinListingApp.Controllers.ListingsController)
        {
            ((CoinListingApp.Controllers.ListingsController)this.ViewContext.Controller).MostViewed("category", 1);
        }
    }
</div>

<style>
    .input-group-append {
        margin-left: 10px;
    }
</style>

<script>
    function flagAsNewSearch() {
        $("#newSearch").val(true);
    }
</script>