﻿@using CoinListingApp.Models;

@{
    //List<Category> getChildren(int parentID)
    //{
    //    Entities db = new Entities();
    //    return db.Categories.Where(c => c.ParentCategoryID == parentID).ToList();

    //}

    //Get Node Information
    //Category getNode(int nodeID)
    //{
    //    Entities db = new Entities();
    //    return db.Categories.Single(c => c.CategoryID == nodeID);
    //}
}
@{
    string html = "";
    //string getMenu(int parentID)
    //{

    //}

    //string doGetMenu()
    //{
    //get top level categories
    Entities db = new Entities();
    var parentCategories = db.Categories.Where(c => c.ParentCategoryID == 0).ToList();

    foreach (var pc in parentCategories)
    {

        var children = db.Categories.Where(c => c.ParentCategoryID == pc.CategoryID).ToList();//getChildren(parentID);
        string CatName = "";

        Category curCategory = db.Categories.Single(c => c.CategoryID == pc.CategoryID); // getNode(parentID);

        //if (curCategory.ParentCategoryID == 0)
        //{
        //    CatName = curCategory.CategoryName;
        //}

        //has children
        if (children.Count > 0)
        {
            html += @"<li><a class='current' href='/listings/category=" + curCategory.CategoryID + "'>" + curCategory.CategoryName + @"</a>
<ul> ";
            //for each child
            //html += "<li>" + child.CategoryName + "</li>";
            foreach (var child in children)
            {
                //getMenu(child.CategoryID);

                var children2 = db.Categories.Where(c => c.ParentCategoryID == child.CategoryID).ToList();//getChildren(parentID);
                string CatName2 = "";

                Category curCategory2 = db.Categories.Single(c => c.CategoryID == child.CategoryID); // getNode(parentID);

                //if (curCategory.ParentCategoryID == 0)
                //{
                //    CatName = curCategory.CategoryName;
                //}

                //has children
                if (children2.Count > 0)
                {
                    html += @"<li><a class='current' href='/listings/category=" + curCategory2.CategoryID + "'>" + curCategory2.CategoryName + @"</a>
<ul> ";
                    //for each child
                    //html += "<li>" + child.CategoryName + "</li>";
                    foreach (var child2 in children2)
                    {
                        //getMenu(child.CategoryID);
                    }
                    html += @"</ul></li>";
                }
                else
                {
                    html += "<li><a class='current' href='/listings/category=" + curCategory2.CategoryID + "'>" + curCategory2.CategoryName + "</a></li>";
                }

            }
            html += @"</ul></li>";
        }
        else
        {
            html += "<li><a class='current' href='/listings/category=" + curCategory.CategoryID + "'>" + curCategory.CategoryName + "</a></li>";
        }

        //return "";
    }

    //return "";
    //}
}

@Html.Raw(html)