﻿<div class="col-md-12 listing_grid_item">
    <div class="row">
        @foreach (CoinListingApp.Models.Listing item in Model.Listings)
        {
            <br />
            <div class="col-md-3 col-lg-3 col-md-12" style="margin-bottom: 25px; margin-top: 25px;">
                <a href="/listings/details/@item.ListingID" class="utf_listing_item-container" data-marker-id="2">
                    <div class="utf_listing_item">
                        @if (!string.IsNullOrEmpty(item.Photos))
                        {
                            <img src="@item.Photos" alt=""> 
                        }
                        @if (item.isHighlight == 1)
                        {
                            <span class="utf_open_now">Featured</span>
                        }
                        @if (item.PostageListings.Sum(p => p.Price) == 0)
                        {
                            <span class="utf_free_shipping">Free Shipping</span>
                        }
                        @if (item.shipInTwotoFourWeek || item.shipInFourtoEightWeek)
                        {
                            <span class="utf_shipping_days">Pre-Sale</span>
                        }

                        <span class="tag"><i class="im im-icon-Hotel"></i> @item.Category.CategoryName</span>
                        <div class="utf_listing_item_content">
                            @*<div class="utf_listing_prige_block">
                <span class="utf_meta_listing_price"><i class="fa fa-tag"></i>	&#163; @Math.Round(item.Price, 2)</span>
            </div>*@
                            <h3>@item.Title</h3>
                        </div>
                    </div>
                    <div class="utf_star_rating_section">
                        <span class="utf_meta_listing_price"><i class="fa fa-tag" style="color:red"></i>	&#163; @Math.Round(item.Price, 2).ToString("N2")</span>
                        <span class="utf_view_count"><i class="fa fa-eye"></i> @item.ListingViews.Count()</span>
                        @Html.Partial("_WatchlistButton", new CoinListingApp.Models.WatchlistButtonViewModel { ListingId = item.ListingID, Watching = Model.UserWatchingListingsIds.Contains(item.ListingID) })
                        <span>&nbsp;</span>
                    </div>
                </a>
            </div>

        }
    </div>
</div>