﻿@using System.Net;

@if (TempData.Peek("StatusCode") != null && TempData.Peek("StatusCode").ToString() == ((int)HttpStatusCode.OK).ToString() && TempData.Peek("StatusDescription") != null && TempData.Peek("StatusDescription").ToString() != "OK")
{
    <span style="display: none">
        @TempData.Remove("StatusCode")
    </span>
    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Success</h4>
            <p>@TempData["StatusDescription"]</p>
        </div>
    </div>
}

@if (TempData.Peek("StatusCode") != null && TempData.Peek("StatusCode").ToString() == ((int)HttpStatusCode.Redirect).ToString())
{
    <span style="display: none">
        @TempData.Remove("StatusCode")
    </span>
    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Success</h4>
            <p>@TempData["StatusDescription"]</p>
        </div>
    </div>
}

@if (TempData.Peek("StatusCode") != null && TempData.Peek("StatusCode").ToString() == ((int)HttpStatusCode.BadRequest).ToString())
{
    <span style="display: none">
        @TempData.Remove("StatusCode")
    </span>
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Error</h4>
            <p>@TempData["StatusDescription"]</p>
        </div>
    </div>
}

@if (TempData.Peek("StatusCode") != null && TempData.Peek("StatusCode").ToString() == ((int)HttpStatusCode.NotFound).ToString())
{
    <span style="display: none">
        @TempData.Remove("StatusCode")
    </span>
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Something is missing</h4>
            <p>@TempData["StatusDescription"]</p>
        </div>
    </div>
}

@if (TempData.Peek("StatusCode") != null && TempData.Peek("StatusCode").ToString() == ((int)HttpStatusCode.PreconditionFailed).ToString())
{
    <span style="display: none">
        @TempData.Remove("StatusCode")
    </span>
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Something is not quite right</h4>
            <p>@TempData["StatusDescription"]</p>
        </div>
    </div>
}