﻿@using System.Net;


@if (Response.StatusCode == (int)HttpStatusCode.Accepted)
{
    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Success</h4>
            <p>@Response.StatusDescription</p>
        </div>
    </div>
}

@if (Response.StatusCode == (int)HttpStatusCode.BadRequest)
{
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">@Response.StatusCode</h4>
            <p>@Response.StatusDescription</p>
        </div>
    </div>
}