﻿@using CoinListingApp.Models;

@{
    Entities db = new Entities();

    CoinListingApp.Models.User user = db.Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault();

}

@if (user is object && user.ProfilePicture != null)
{
    <img style="border-radius: 50%;
        max-height: 75px;
        margin: auto;
        display: block;" src="@user.ProfilePicture" alt="Profile Picture" />

}
else
{
    <img style="border-radius: 50%;
        max-height: 75px;
        margin: auto;
        display: block;" src="/styles/UDUI/images/genericuser.png" alt="Profile Picture" />
}

@if(user is object)
{
    <span style="text-align:center; display:block; color:#fff;">@user.Name&nbsp;@user.Surname.Substring(0, 1)&nbsp;.</span>
}

<br />