﻿@model CoinListingApp.Models.SendMessageViewModel

<style>
    table {
        display: table;
        border-collapse: separate;
        border-spacing: 0.75px;
    }
</style>

@if (User.Identity.Name != "")
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        @Html.HiddenFor(model => model.ReceiverUserId)
        @Html.HiddenFor(model => model.ConversationId)
    
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 text-center">
                <input type="button" value="Send Message" class="btn btn-default" onclick="sendMessage()" />
            </div>
        </div>

    
    </div>

    <script>
        function sendMessage() {

            var model = @Html.Raw(Json.Encode(Model));

            console.log(model);

            model.Message = $('#Message').val();

            console.log(model.Message);

            $.post("/Messages/SendMessage", { sendMessageViewModel: model }, function (data) {
                //do whatever with the response
                if (data == "refresh") {
                    window.location.reload(true);
                }
            });
        }
    </script>

}
else
{
    <p>Please @Html.ActionLink("login", "Login", "Account", new { returnUrl = Context.Request.Path }, null) in to start conversation</p>
}
