﻿@{ 

}

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewData["PageTitle"]</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li>@ViewData["PageTitle"]</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
