﻿@model CoinListingApp.Models.WatchlistButtonViewModel

@if (Model.Watching)
{
    <span class="like-icon liked" id="likeBtn_@Model.ListingId" onclick="turnWatchingOff(@Model.ListingId)"></span>
}
else
{
    <span class="like-icon" id="likeBtn_@Model.ListingId" onclick="turnWatchingOn(@Model.ListingId)"></span>
}

<script>
    function turnWatchingOff(listingId) {
        toggleWatching(listingId, "UnWatch");
    }

    function turnWatchingOn(listingId) {
        toggleWatching(listingId, "Watch");
    }

    function toggleWatching(listingId, action) {

        var isAuthenticated = @Html.Raw(Json.Encode(Context.User.Identity.IsAuthenticated));

        if (!isAuthenticated) {
            window.location.href = window.location.origin + "/Account/Login?ReturnUrl=" + encodeURIComponent(window.location.pathname);
        } else {
            $.post("/Users/" + action, { id: listingId }, function (data) {
                //do whatever with the response
                if (data == "refresh") {
                    window.location.reload(true);
                }
                //alert(data);
            });
        }
    }
</script>

