﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div style=" padding: 20px; color:red">
    <h3>
        Sorry, an error occurred while processing your request.
    </h3>

    @if (Model.Exception is object)
    {
        var fileName = Path.Combine(Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().Location), "errors.log");

        using (FileStream fs = System.IO.File.Open(fileName, FileMode.OpenOrCreate))
        {
            var log = "[" + DateTime.Now + "] ||" + Model.ControllerName + "-" + Model.ActionName + "|| " + Model.Exception.ToString();
            byte[] text = new System.Text.UTF8Encoding(true).GetBytes(log);
            fs.Write(text, 0, text.Length);
        }

        <script>console.log(@Model.ControllerName-@Model.ActionName: @Model.Exception.ToString());</script>
    }

    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6> @*link name , action method name , controller name*@
    <br />
    <br />
</div>