﻿@model IEnumerable<CoinListingApp.Models.Postage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "Postage")

@Html.Partial("_Notify")


<h3>Actions:</h3>
@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
<hr />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostageID }, new { @class = "btn btn-info" })
                @*@Html.ActionLink("Details", "Details", new { id = item.PostageID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.PostageID }, new { @class = "btn btn-danger", @style = "margin-left:15px" })
            </td>
        </tr>
    }

</table>
