﻿@model CoinListingApp.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "Delete Category")

    <h3>Are you sure you want to delete category: @Html.DisplayFor(model => model.CategoryName)</h3>
<hr/>
<div>
    @*<dl class="">
        <dt>
            @Html.DisplayNameFor(model => model.ParentCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkedAsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkedAsDeleted)
        </dd>

    </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-info" })
        </div>
    }
</div>
