﻿@model IEnumerable<CoinListingApp.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "Categories")

@Html.Partial("_Notify")

<h3>Actions:</h3>
@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
<hr />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            ParentCategory
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isFeatured)
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @if (Model.Any(c => c.CategoryID == item.ParentCategoryID))
                { 
                    @Html.Raw(Model.First(c => c.CategoryID == item.ParentCategoryID).CategoryName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFeatured)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger", @style = "margin-left:15px;" })
            </td>
        </tr>
    }

</table>
