﻿@model CoinListingApp.Models.Packages

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")

<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-plus"></i>Choose Your Plan</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            <div class="row">
                                <div class="utf_pricing_container_block margin-top-30 margin-bottom-30">
                                    @foreach (var item in Model.CreditPackages)
                                    {

                                        <div class="plan featured col-md-3 col-sm-6 col-xs-12">
                                            <div class="utf_price_plan">
                                                <h3>@item.Name</h3>
                                                <span class="value">&#163;@item.Price<span>&nbsp; for</span></span><br />
                                                <span class="value">@item.QTY<span>&nbsp; Credits</span></span>

                                            </div>
                                            <div class="utf_price_plan_features">
                                                @item.Description
                                                <hr />
                                                <a class="button border" href="@Url.Action("Buy", "CreditPackages", new { id = item.PackageID })"><i class="sl sl-icon-basket"></i> Order Now</a>
                                            </div>
                                        </div>

                                    }
                                    @foreach (var item in Model.BillingPlans)
                                    {

                                        <div class="plan featured col-md-3 col-sm-6 col-xs-12">
                                            <div class="utf_price_plan">
                                                <h3>@item.Name</h3>
                                                <span class="value">&#163;@item.Price<span>&nbsp; per month</span></span><br />
                                                <span class="value">200<span>&nbsp; Credits per month</span></span>

                                            </div>
                                            <div class="utf_price_plan_features">
                                                @item.Description
                                                <hr />
                                                <a class="button border" href="@Url.Action("Buy", "BillingPlans", new { id = item.ID })"><i class="sl sl-icon-basket"></i> Order Now</a>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
