﻿@model CoinListingApp.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasFreeAds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasFreeAds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isSubscribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isSubscribed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerficationStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerficationStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Address_line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Address_line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1.Address_line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1.Address_line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File1.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File1.FileName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
