﻿@model CoinListingApp.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "Users Details")

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasFreeAds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasFreeAds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isSubscribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isSubscribed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerficationStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerficationStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Address_line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Address_line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1.Address_line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1.Address_line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit.UserID)
        </dd>

        @if (Model.File != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.File.FileName)
            </dt>

            <dd>
                @Html.ActionLink("Download ID/Password File", "Download", "Users", new { id = Model.File.ID, user = Model.Name + " " + Model.Surname, type = "ID" }, new { @target = "_blank" })
            </dd>
        }

        @if (Model.File1 != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.File1.FileName)
            </dt>

            <dd>
                @Html.ActionLink("DownloadFile Proof of Residence", "Download", "Users", new { id = Model.File1.ID, user = Model.Name + " " + Model.Surname, type = "ProofOfResidence" }, new { @target = "_blank" })
            </dd>
        }
    </dl>
</div>
<p>
    @if (Model.VerficationStarted > 0 && Model.isVerified < 1)
    {
        @Html.ActionLink("Verify", "Verify", new { id = Model.UserID }, new { @class = "btn btn-warning" })
    }
    @if (Model.isActive == 0)
    {
        @Html.ActionLink("Activate", "Activate", new { id = Model.UserID }, new { @class = "btn btn-success" })
    }
    else
    {
        @Html.ActionLink("Deactivate", "Deactivate", new { id = Model.UserID } , new { @class = "btn btn-danger" }) 
    }

    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-info" })
</p>
