﻿@model CoinListingApp.Models.EditListing

@{
    ViewBag.Title = "EditListing";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@using (Html.BeginForm("EditListing", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ListingID)

<div class="container form-horizontal">
    <div class="row text-center">
        <h2>Edit Listing</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-offset-5 col-md-2">
            <h5 class="alert alert-warning">Available credits: <b>@ViewBag.UserAvailableCredit</b></h5>
        </div>
    </div>
    @Html.Partial("_Notify")
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr />
    <div class="row text-center">
        <h4>Free Listing Updates</h4>
    </div>

    <div class="row form-group">
        <div class="col-md-3 col-sm-6 text-md-right">
            @Html.LabelFor(model => model.preOrderItem, "Pre-Order Item not yet in Stock", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-2 col-sm-4">
            @Html.CheckBoxFor(model => model.preOrderItem, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="row form-group IsShipping">

            <div class="col-md-7 col-sm-9 text-md-right">
                @Html.LabelFor(model => model.shipInTwotoFourWeek, "Shipping In 2-4 Weeks", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-5 col-sm-3">

                @Html.CheckBoxFor(model => model.shipInTwotoFourWeek, htmlAttributes: new { @class = "form-control" })
            </div> 

            <div class="col-md-7 col-sm-9 text-md-right">
                @Html.LabelFor(model => model.shipInFourtoEightWeek, "Shipping In 4-8 Weeks", htmlAttributes: new { @class = "control-label" })

            </div>
            <div class="col-md-5 col-sm-3">
                @Html.CheckBoxFor(model => model.shipInFourtoEightWeek, htmlAttributes: new { @class = "form-control" })
            </div> 
        </div> 
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label", @maxlength = "12" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = "12" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.QTY, "Quantity", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QTY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.PostagePriceIsIncluded, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-xs-1">
            @Html.EditorFor(model => model.PostagePriceIsIncluded)
        </div>
        <div class="col-md-5">
            <span id="freePostageErrorMessage" class="field-validation-valid text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.PostageList, "Postage Service offered", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-6">
            @for (int i = 0; i < Model.PostageList.Count; i++)
            {

                @Html.HiddenFor(model => Model.PostageList[i].Postage.Name)

                <div class="well">
                    @Html.HiddenFor(model => model.PostageList[i].PostageID)
                    <div class="row">
                        <div class="col-md-5 col-xs-6 text-right">
                            @Html.LabelFor(model => model.PostageList[i].Selected, Model.PostageList[i].Postage.Name)
                        </div>
                        <div class="col-md-5 col-xs-6">
                            @Html.CheckBoxFor(model => model.PostageList[i].Selected, new { @class = "postageServiceCheckbox" })
                        </div>
                    </div> 
                    <div class="row form-group postage-price-divs">
                        <hr />
                        <div class="col-md-5 text-md-right">
                            @Html.LabelFor(model => model.PostageList[i].Price, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PostageList[i].Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PostageList[i].Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group postage-price-divs">
                        <div class="col-md-5 text-md-right">
                            @Html.LabelFor(model => model.PostageList[i].EachAdditionalItemPrice, "Additional Postage Price per Item", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PostageList[i].EachAdditionalItemPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PostageList[i].EachAdditionalItemPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (!ViewBag.IsFreeUpdate)
    {
        <hr />
        <div class="row text-center">
            <div class="col-md-offset-4 col-md-4">
                <h4>Paid Listing Updates</h4>
                <h5 class="alert alert-warning"><b>Costs credits to update (unless you have a Subscription)</b></h5>
            </div>
        </div>
    }

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.Listing.Expires, htmlAttributes: new { @class = "control-label" })
            @if (!ViewBag.IsFreeUpdate)
            {
                <h5>Costs 1 credit</h5>
            }
        </div>
        <div class="col-md-6">
            <select class="form-control" id="Expires" name="Expires">
                <option value="0" selected>Don't update</option>
                <option value="30">30 Days</option>
                <option value="60">60 Days</option>
                @if (Model.Listing.User.isSubscribed > 0)
                {
                    <option value="90">90 Days</option>
                }
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.Listing.Photos, "Current photos", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-6">
            <div id="current-images"></div>
            @Html.ValidationMessageFor(model => model.Listing.Photos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right">
            @Html.LabelFor(model => model.Listing.Photos, "New photos", htmlAttributes: new { @class = "control-label" })
            @if (!ViewBag.IsFreeUpdate)
            {
                <h5><b>Note:</b> Updating the photos replace the current ones and it costs 1 credit.</h5>
            }
        </div>
        <div class="col-md-6">
            <div id="input-images"></div>
            @Html.ValidationMessageFor(model => model.Listing.Photos, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <div class="row form-group">
        <div class="col-md-offset-3 col-md-6 text-center">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>

    @if (@TempData["Message"] != null)
    {
        <script type="text/javascript">
                            window.onload = function () {
                                alert("@TempData["Message"]");
                            };
        </script>
    }
</div>
}

<div>
    @Html.ActionLink("Back to List", "Listings")
</div>

<script src="/styles/UDUI/scripts/jquery-3.4.1.min.js"></script>
<script src="/styles/UDUI/scripts/image-uploader.js"></script>

<script>

    function hidePostagePriceDivs() {
        $(".postage-price-divs").hide();
        if ($(".postageServiceCheckbox:checked").length > 1) {
            var postageServicesChecked = $(".postageServiceCheckbox:checked");
            for (var i = 0; i < postageServicesChecked.length; i++) {
                postageServicesChecked[i].checked = false;
            }
            $('#freePostageErrorMessage').text("Only one postage service can be selected if the postage is free.");
        }
    }

    $(document).ready(function () {


        var isShipInTwotoFourWeek = $("#shipInTwotoFourWeek").prop('checked');
        var shipInFourtoEightWeek = $("#shipInFourtoEightWeek").prop('checked');


        if (isShipInTwotoFourWeek == true || shipInFourtoEightWeek == true) {
            $("#preOrderItem").prop('checked', true);
        }
        else {
            $(".IsShipping").hide();

            $("#preOrderItem").click(function () {
                hideOrShowShipping();
            });

            $("#shipInFourtoEightWeek").click(function () {
                var isFourToEightShippingChecked = $('#shipInFourtoEightWeek').prop('checked');

                if (isFourToEightShippingChecked) {
                    $('#shipInTwotoFourWeek').prop('checked', false);
                }
            });

            $("#shipInTwotoFourWeek").click(function () {
                var shipInTwotoFourWeek = $('#shipInTwotoFourWeek').prop('checked');
                if (shipInTwotoFourWeek) {
                    $('#shipInFourtoEightWeek').prop('checked', false);
                }
            });
        }




        if ($("#PostagePriceIsIncluded").prop('checked')) {
            hidePostagePriceDivs();
        }

        $("#PostagePriceIsIncluded").click(function () {

            if (this.checked) {
                hidePostagePriceDivs();

            } else {
                $(".postage-price-divs").show();
                $('#freePostageErrorMessage').text("");
            }
        });

        $(".postageServiceCheckbox").click(function () {
            if (this.checked) {
                if ($("#PostagePriceIsIncluded").prop('checked')) {
                    if ($(".postageServiceCheckbox:checked").length > 1) {
                        this.checked = false;
                        $('#freePostageErrorMessage').text("Only one postage service can be selected if the postage is free.")
                    } else {
                        $('#freePostageErrorMessage').text("");
                    }
                }

            } else {
                if ($(".postageServiceCheckbox:checked").length <= 1) {
                    $('#freePostageErrorMessage').text("");
                }
            }
        });

        let preloaded = [];
        let coverImage = '@Html.Raw(Model.Listing.CoverImage)';

        if (coverImage) {
            preloaded.push({ id: 0, src: coverImage });
        }

        let currentPhotosFileNames = @Html.Raw(Json.Encode(ViewBag.CurrentPhotosFileNames));

        var aux = 1;
        for (var i = 0; i < currentPhotosFileNames.length; i++) {
            var idx = i + aux;
            if (coverImage != currentPhotosFileNames[i]) {
                preloaded.push({ id: idx, src: currentPhotosFileNames[i] });
            } else {
                aux = 0;
            }
        }

        $.noConflict();
        $("#current-images").imageDisplayer({
            preloaded: preloaded
        });

        $("#input-images").imageUploader({
            imagesInputName: "Photos",
            coverIndexInputName: "CoverImageIndex",
            maxImages: @ViewBag.MaxPhotosAllowed
        });

    });


    function hideOrShowShipping() {
        var isChecked = $('#preOrderItem').prop('checked');
        console.log(isChecked);
        if (isChecked) {
            $(".IsShipping").show();

        } else {
            $(".IsShipping").hide();

            $('#shipInTwotoFourWeek').prop('checked', false);
            $('#shipInFourtoEightWeek').prop('checked', false);
        } 
    }
</script>