﻿@model CoinListingApp.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "Edit Users")

@Html.Partial("_Notify")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Home_Address, "Home_Address", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Home_Address)

            @if (Model.Home_Address.HasValue)
            {
                <span>
                    @string.Join(", ",
                    Model.Address1.Address_line1,
                    Model.Address1.Address_line2,
                    Model.Address1.City,
                    Model.Address1.State_Province,
                    Model.Address1.PostalCode,
                    Model.Address1.Country
                    )
                </span>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Delivery_Address, "Delivery_Address", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Delivery_Address)

            @if (Model.Delivery_Address.HasValue)
            {
                <span>
                    @string.Join(", ",
                    Model.Address.Address_line1,
                    Model.Address.Address_line2,
                    Model.Address.City,
                    Model.Address.State_Province,
                    Model.Address.PostalCode,
                    Model.Address.Country
                    )
                </span>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="isActive" name="isActive">
                @if (Model.isActive == 0)
                {
                    <option value="0" selected>No</option>
                    <option value="1">Yes</option>
                }
                else
                {
                    <option value="0">No</option>
                    <option value="1" selected>Yes</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.hasFreeAds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="hasFreeAds" name="hasFreeAds">
                @if (Model.hasFreeAds == 0)
                {
                    <option value="0" selected>No</option>
                    <option value="1">Yes</option>
                }
                else
                {
                    <option value="0">No</option>
                    <option value="1" selected>Yes</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.hasFreeAds, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.isVerified, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="isVerified" name="isVerified">
                @if (Model.isVerified == 0)
                {
                    <option value="0" selected>No</option>
                    <option value="1">Yes</option>
                }
                else
                {
                    <option value="0">No</option>
                    <option value="1" selected>Yes</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.isVerified, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.isSubscribed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="isSubscribed" name="isSubscribed">
                @if (Model.isSubscribed == 0)
                {
                    <option value="0" selected>No</option>
                    <option value="1">Yes</option>
                }
                else
                {
                    <option value="0">No</option>
                    <option value="1" selected>Yes</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.isSubscribed, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProofOfResidence, "ProofOfResidence", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ProofOfResidence)
            @if (Model.ProofOfResidence.HasValue)
            {
                @Html.ActionLink("DownloadFile Proof of Residence", "Download", "Users", new { id = Model.File1.ID, user = Model.Name + " " + Model.Surname, type = "ProofOfResidence" }, new { @target = "_blank" })
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CopyOfID, "CopyOfID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.CopyOfID)
            @if (Model.ProofOfResidence.HasValue)
            {
                @Html.ActionLink("Download ID/Password File", "Download", "Users", new { id = Model.File.ID, user = Model.Name + " " + Model.Surname, type = "ID" }, new { @target = "_blank" })
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VerficationStarted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.VerficationStarted)
            @Html.TextBox("VerificationStarted", Model.VerficationStarted == 0 ? "False" : "True", new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.VerficationStarted, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.ProfilePicture)
    @Html.HiddenFor(model => model.SignUpDate)
    @Html.HiddenFor(model => model.LastLoggedIn)
    @Html.HiddenFor(model => model.LoginCount)

    <div class="form-group">
        @Html.LabelFor(model => model.AcceptEmails, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="AcceptEmails" name="AcceptEmails">
                @if (Model.AcceptEmails == 0)
                {
                    <option value="0" selected>No</option>
                    <option value="1">Yes</option>
                }
                else
                {
                    <option value="0">No</option>
                    <option value="1" selected>Yes</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.AcceptEmails, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ShowListingsRules, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="ShowListingsRules" name="ShowListingsRules">
                @if (Model.ShowListingsRules == 0)
                {
                    <option value="0" selected>No</option>
                    <option value="1">Yes</option>
                }
                else
                {
                    <option value="0">No</option>
                    <option value="1" selected>Yes</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.ShowListingsRules, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}