﻿@model List<CoinListingApp.Models.FavouriteViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")

<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-heart"></i>Favourite Sellers</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div class="col-md-3">
                                    <div class="img-box" data-background-image="@Model[i].Seller.ProfilePicture">
                                        <div class="utf_img_content_box visible">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4 class="badge" style="background-color:#463a3a">@Model[i].MaskedSellerName</h4>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <label for="cb_@Model[i].FavouriteID" class="badge" style="background-color:#463a3a;margin-bottom:-20px;">Notifications</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6" style="margin-top:10px">
                                                    <span class="favourite-remove-link">
                                                        @Html.ActionLink("Remove this Seller", "UnFavouriteById", new { favouriteId = Model[i].FavouriteID }, new { @style = "color:white;font-weight: 600;" })
                                                    </span>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    @if (Model[i].Notify)
                                                    {
                                                        <input checked type="checkbox" data-toggle="toggle" id="cb_@Model[i].FavouriteID" style="width:58px;height:34px;" onchange="toggleNotifications(@Model[i].FavouriteID)">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" data-toggle="toggle" id="cb_@Model[i].FavouriteID" style="width:58px;height:34px;" onchange="toggleNotifications(@Model[i].FavouriteID)">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if(Model.Count == 0)
                            {
                                <h4>No favourite sellers yet</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleNotifications(id) {

        var currentValue = $('#cb_'+ id).parent().hasClass("off");

        $.post("/Users/ToggleFavouriteNotify", { favouriteId: id, notify: !currentValue }, function (data) {
        //do whatever with the response
        //alert(data);
        });

        //$.ajax({
        //    type: "POST",
        //    url: "/Users/ToggleFavouriteNotify",
        //    data: "{'favouriteId':" + id + ", 'notify':" + !currentValue + "}",
        //    async: false,
        //    contentType: "application/json; charset=utf-8",
        //    error: function (data) {
        //        //$("#signupform").submit();
        //        //location.reload();
        //        console.log(data);
        //        alert("Error updating notification settings.");
        //    },
        //    success: function (data) {


        //        alert(data);
        //        //$("#signupform").submit();
        //        //location.reload();
        //    }
        //});

    }
</script>
