﻿@model IEnumerable<CoinListingApp.Models.User>
@{
    CoinListingApp.Services.UserService userService = new CoinListingApp.Services.UserService();
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_Notify")

<div class="card">
    <div class="card-body">
        @Html.Partial("_AdminHeading", "Users")
        <h3>Actions:</h3>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        <h3 class="float-right">Registered Users: <span class="text-danger">@Model.Count()</span></h3>
        <hr />
        <div class="table-responsive pt-3" style="width:100%">
            <table id="tblUser" class="table table-striped table-bordered table-responsive display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            <span>Active</span>
                        </th>
                        <th>
                            <span>Free Ads</span>
                        </th>
                        <th>
                            <span>Verified</span>
                        </th>
                        <th>
                            <span>Subscribed</span>
                        </th>
                        <th>
                            <span>Verification Started</span>
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Address.Address_line1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address1.Address_line1)
                            </th>*@
                        <th>
                            Credits
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignUpDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastLoggedIn)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                                &nbsp;@Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @if (item.isActive == 0)
                                {
                                    <span>No</span>
                                }
                                else
                                {
                                    <span>Yes</span>
                                }
                            </td>
                            <td>
                                @if (item.hasFreeAds == 0)
                                {
                                    <span>No</span>
                                }
                                else
                                {
                                    <span>Yes</span>
                                }
                            </td>
                            <td>
                                @if (item.isVerified == 0)
                                {
                                    <span>No</span>
                                }
                                else
                                {
                                    <span>Yes</span>
                                }
                            </td>
                            <td>
                                @if (item.isSubscribed == 0)
                                {
                                    <span>No</span>
                                }
                                else
                                {
                                    <span>Yes</span>
                                }
                            </td>
                            <td>
                                @if (item.VerficationStarted == 0)
                                {
                                    <span>No</span>
                                }
                                else
                                {
                                    <span>Yes</span>
                                }
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Address.Address_line1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address1.Address_line1)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit.Amount)
                            </td>
                            <td>
                                @if (item.SignUpDate.HasValue)
                                {
                                    <span style="display:none">@item.SignUpDate.Value.Ticks</span>@item.SignUpDate.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @if (item.LastLoggedIn.HasValue)
                                {
                                    <span style="display:none">@item.LastLoggedIn.Value.Ticks</span>@item.LastLoggedIn.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @if (item.isActive == 0 && !userService.IsEmailConfirmed(item.Email))
                                {
                                    @Html.ActionLink("Confirm User Email", "ConfirmEmailManually", "Account", new { userEmail = item.Email }, new { @class = "btn btn-success" })
                                }
                                else if (item.isActive == 0)
                                {
                                    @Html.ActionLink("Activate", "Activate", new { id = item.UserID }, new { @class = "btn btn-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Deactivate", "Deactivate", new { id = item.UserID }, new { @class = "btn btn-danger" })
                                }

                                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-info" })
                                @if (item.VerficationStarted > 0 && item.isVerified < 1)
                                {
                                    @Html.ActionLink("Verify", "Verify", new { id = item.UserID }, new { @class = "btn btn-warning" })
                                }
                                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tblUser').DataTable({
                autoWidth: false,
                order: [[6, "desc"], [4, "asc"]] // ordered by: VerificationStarted "Yes" and then isVerified "No"
            });
        });
    </script>
}
