﻿@model CoinListingApp.Models.ListingsViewsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("_Notify")
<div>
    <h4>Listing</h4>
    <hr />
    @Html.HiddenFor(model => model.Listing.ListingID)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.AllowOffers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.AllowOffers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.isHighlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.isHighlight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.isBump)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.isBump)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.Expires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.Expires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.DeactivatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.DeactivatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.ActiveDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.ActiveDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.Photos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.Photos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.PostageListing.ListingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.PostageListing.ListingID)
        </dd>
    </dl>
</div>
