﻿@model IEnumerable<CoinListingApp.Models.ListingsViewsViewModel>

@{
    ViewBag.Title = "User Listings";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@section stylesheets{
    <link rel="stylesheet" href="~/Styles/UDUI/css/w3SchoolsModal.css">
}

<h2>User Listings</h2>

@Html.Partial("_Notify")

<button class="button" onclick="tryShowListingRules()"><i class="sl sl-icon-plus"></i> Create New</button>
<div class="row text-center">
    <div class="col-md-2">
        <h5 class="alert alert-warning">Available credits: <b>@ViewBag.UserAvailableCredit</b></h5>
    </div>
</div>

<table id="tblListings" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
    <thead>
        <tr>
            <th></th>
            <th>Creation date</th>
            <th>
                Details
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center" style="max-width: 50px;">
                    @if (string.IsNullOrEmpty(item.Listing.Photos))
                    {
                        <i>No photo</i>
                    }
                    else
                    {
                        <img style="width: 95%;" src="@item.Listing.Photos" alt="Listing Photo" /> 
                    }
                </td>
                <td class="text-center" style="max-width: 50px;">
                    <span style="display:none">@item.Listing.DateCreated.Ticks</span><b>@item.Listing.DateCreated.ToString("dd/MM/yyyy")</b>
                </td>
                <td>
                    <h3>@Html.ActionLink(item.Listing.Title, "Details", "Listings", new { id = item.Listing.ListingID }, null)</h3>
                    <h4>[@item.Listing.Category.CategoryName]</h4>

                    @*<textarea disabled cols="20" rows="2" style="width: 100%; resize: none;">
                            @item.Listing.Description
                        </textarea>*@
                    <hr />
                    <span class="table-badge tb-bg-primary">@item.Views Views</span>
                    @if (item.Listing.AllowOffers == 1)
                    {
                        <span class="table-badge tb-bg-success">Allow offers</span>
                    }
                    else
                    {
                        <span class="table-badge tb-bg-inactive"><strike>Allow offers</strike></span>
                    }
                    @*<hr />
                        <h4>Postage</h4>
                        <div class="table-scrollable-cell">
                            @foreach (var postage in item.Listing.PostageListings)
                            {
                                <div class="well">
                                    <b>@postage.Postage.Name</b>
                                    <br />
                                    Price:<b> &#163; @postage.Price</b>
                                    <br />
                                    Additional price per item: <b>&#163; @postage.EachAdditionalItemPrice</b>
                                </div>
                            }
                        </div>*@
                </td>
                <td>
                    <br />
                    <div class="text-center">
                        @if (item.Listing.isActive > 0)
                        {
                            <span class="table-badge tb-bg-success">Activated</span>
                        }
                        else
                        {
                            <span class="table-badge tb-bg-danger">Deactivated</span>
                        }
                        @if (item.Listing.isHighlight == 1)
                        {
                            <span class="table-badge tb-bg-success">Highlighted!</span>
                        }
                        else
                        {
                            <span class="table-badge tb-bg-inactive"><strike>Highlighted</strike></span>
                        }
                        @if (item.Listing.isBump == 1)
                        {
                            <span class="table-badge tb-bg-success">Bumped!</span>
                        }
                        else
                        {
                            <span class="table-badge tb-bg-inactive"><strike>Bumped</strike></span>
                        }
                        <br />
                        <br />
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                <b>Quantity</b>
                            </div>
                            <div class="col-md-8 text-right">

                                @if (item.Listing.QTY <= 0)
                                {
                                    <span class="table-badge tb-bg-danger">SOLD OUT</span>
                                }
                                else
                                {
                                    <span class="table-badge tb-bg-success">@item.Listing.QTY</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                <b>Price</b>
                            </div>
                            <div class="col-md-8 text-right">
                                <span class="table-badge tb-bg-success">£@Math.Round(item.Listing.Price, 2).ToString("N2")</span>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                <b>Expires</b>
                            </div>
                            <div class="col-md-8 text-right">
                                @if (item.Listing.Expires < DateTime.Now)
                                {
                                    <span class="table-badge tb-bg-danger">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="table-badge tb-bg-success">@item.Listing.Expires.ToString("d MMMM yyyy - HH:mm")</span>
                                }
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center">

                    @if (item.Listing.Expires < DateTime.Now)
                    {
                        <input class="btn btn-primary" style="width: 80%; margin: 10px 0px" value="Renew" type="button" onclick="renewListing(@item.Listing.ListingID)" />
                        <br />
                    }
                    else
                    {
                        if (item.Listing.isActive > 0)
                        {
                            <input class="btn btn-danger" style="width: 80%; margin: 10px 0px" value="Deactivate" type="button" onclick="deactivateListing(@item.Listing.ListingID)" />
                            <br />

                            if (item.Listing.isHighlight == 0)
                            {
                                <input class="btn btn-success" style="width: 80%; margin: 10px 0px" value="Highlight" type="button" onclick="highlightListing(@item.Listing.ListingID)" />
                                <br />
                            }

                            if (item.Listing.isBump == 0)
                            {
                                <input class="btn btn-success" style="width: 80%; margin: 10px 0px" value="Bump" type="button" onclick="bumpListing(@item.Listing.ListingID)" />
                                <br />
                            }
                        }
                        else
                        {
                            <input class="btn btn-success" style="width: 80%; margin: 10px 0px" value="Activate" type="button" onclick="activateListing(@item.Listing.ListingID)" />
                            <br />
                        }
                    }
                    <input class="btn btn-primary" style="width: 80%; margin: 10px 0px" value="Edit" type="button" onclick="goToEditListing(@item.Listing.ListingID)" />
                    <br />
                    <input class="btn btn-danger" style="width: 80%; margin: 10px 0px" value="Delete" type="button" onclick="deleteListing(@item.Listing.ListingID)" />
                    <br />
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- The Modal -->
<div id="modalListingActions" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h3>Please confirm</h3>
        <div class="row text-center">
            <p class="modal-message"></p>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-6 col-md-3">
                <input class="btn btn-primary confirm-modal-btn" style="margin-bottom: 0px" value="Confirm" type="button" onclick="" />
            </div>
            <div class="col-md-3">
                <input class="btn btn-danger dismiss-modal-btn" style="margin-bottom: 0px" value="Dismiss" type="button" />
            </div>
        </div>
    </div>
</div>

<!-- The Modal Listing Rules -->
<div id="modalListingRules" class="modal">

    <!-- Modal content -->
    @*<div class="modal-content" style="left: calc(10% + 260px); right: 10%; top: 20%;">*@
    <div class="modal-content modal-content-listings-rules">
        <span class="close-modal">&times;</span>
        <br />
        <div class="row text-center">
            <h4>Please read our Listing Rules to ensure your listings are not removed.</h4>
            <h4><b>Continuous breach of these rules will result in your account being removed from Coinstacker.</b></h4>
        </div>
        <div class="row">

            <ol class="list-group list-group-numbered">
                <li class="list-group-item">1. All listings must be of an actual product in stock. No pre-order listings are allowed unless its a Bespoke/hand-made product                                                                                     </li>
                <li class="list-group-item">2. Photos must be your own and at least one photo must be accompanied by a hand written Name (Your Username on Coinstacker) to prove you own the item on offer.                                                     </li>
                <li class="list-group-item">3. Only precious metals with a minimum of 0.900 purity are allowed such as coins, Bars or Grain. No jewelry, watches, cutlery etc.                                                                                  </li>
                <li class="list-group-item">4. Genuine items only, no counterfeit/fake, replica or plated items are permitted.                                                                                                                                  </li>
                <li class="list-group-item">5. Please give a clear description of what is on offer e.g. weight, purity, metal content and condition of the item. Sold individually or as a Lot etc. The more info you can give the better.                      </li>
                <li class="list-group-item">6. Please dispatch all orders in a timely manner.                                                                                                                                                                   </li>
                <li class="list-group-item">7. Items must be advertised in the correct Category, if one does not exist, list under “Other”                                                                                                                      </li>
                <li class="list-group-item">8. Respond to buyers’ offers and messages within a reasonable time frame.                                                                                                                                           </li>
                <li class="list-group-item">9. No multiple use of keywords in descriptions or titles. Multiple means deliberately inserting words, strings of words related to other items merely to attract more views.                                        </li>
                <li class="list-group-item">10. Advertisements placed on Coinstacker.co.uk must be for genuine products only, and not for services, either relating to or unrelated to precious metals.                                                          </li>
                <li class="list-group-item">11. URL links to other websites, email addresses or telephone numbers are not permitted in the body copy of the product description.. Email links or phone numbers are only permitted where we ask you to enter them.</li>
            </ol>

            <input type="checkbox" id="doNotShowRulesAgainCheckbox" /><span> Do not show this message again</span>
        </div>

        <div class="row text-right">
            <div class="col-md-offset-9 col-md-3">
                <input class="btn btn-primary confirm-modal-btn" style="margin-bottom: 0px" value="Go to Create Listing page" type="button" onclick="checkShowMessageAndGoToCreateListing()" />
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var modal;
        var modalListingRules;
        var modalId = 'modalListingActions';
        var modalMessageDiv = $('#' + modalId + ' .modal-message')[0];
        var confirmModalBtn = $('#' + modalId + ' .confirm-modal-btn')[0];

        $(document).ready(function () {

            $('#tblListings').DataTable({
                autoWidth: false,
                order: [[1, "desc"]]
            });

            // Get the modal
            modal = document.getElementById(modalId);
            modalListingRules = document.getElementById('modalListingRules');

            // Get the <span> element that closes the modal
            var closeModalSpan = $(".close-modal")[0];
            var closeModalRulesSpan = $(".close-modal")[1];

            // When the user clicks on <span> (x), close the modal
            closeModalSpan.onclick = function () {
                closeModal()
            }
            closeModalRulesSpan.onclick = function () {
                closeModal()
            }

            var dismissModatBtn = $('#' + modalId + ' .dismiss-modal-btn')[0];

            dismissModatBtn.onclick = function () {
                closeModal()
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal || event.target == modalListingRules) {
                    closeModal()
                }
            }

        });

        function closeModal() {
            modal.style.display = "none";
            modalListingRules.style.display = "none";

            confirmModalBtn.onclick = function () {
                closeModal()
            };
        }

        function showModal() {
            modal.style.display = "block";
        }

        function deleteListing(listingId) {

            modalMessageDiv.innerText = 'Are you sure you want to delete this listing?';

            confirmModalBtn.onclick = function () {
                callController("DeleteListing", listingId);
                closeModal();
            };

            showModal();
        }

        function bumpListing(listingId) {

            modalMessageDiv.innerHTML = 'This bump will cost you 2 credits.<br />Bumped listings are sorted with higher priority.';

            confirmModalBtn.onclick = function () {
                callController("Bump", listingId);
                closeModal();
            };

            showModal();
        }

        function highlightListing(listingId) {

            modalMessageDiv.innerHTML = 'This highlight will cost you 2 credits.<br />Highlighted listings have a strip with the word "featured" on its cover image.';

            confirmModalBtn.onclick = function () {
                callController("Highlight", listingId);
                closeModal();
            };

            showModal();
        }

        function renewListing(listingId) {

            modalMessageDiv.innerText = 'The renew will cost you 1 credit.';

            confirmModalBtn.onclick = function () {
                callController("Renew", listingId);
                closeModal();
            };

            showModal();
        }

        function deactivateListing(listingId) {

            callController("DeactivateListing", listingId);

        }

        function activateListing(listingId) {

            callController("ActivateListing", listingId);

        }

        function callController(action, listingId) {
            $.post("/Users/" + action, { id: listingId }, function (data) {
                //do whatever with the response
                if (data == "refresh") {
                    window.location.reload(true);
                    window.scrollTo(0, 0);
                }
                //window.scrollTo(0, 0);
            });
        }

        function goToEditListing(listingId) {
            window.location.href = window.location.origin + "/Users/EditListing/" + listingId;
        }

        function tryShowListingRules() {

            var showListingRules = '@ViewBag.UserShowListingRules';

            if (showListingRules == 'True') {
                modalListingRules.style.display = "block";
            } else {
                goToCreateListing();
            }
        }

        function checkShowMessageAndGoToCreateListing() {

            var isChecked = $('#doNotShowRulesAgainCheckbox').prop('checked');

            if (isChecked) {
                $.post("/Users/TurnOffShowListingsRules", function (data) {
                    //do whatever with the response
                });
            }
            goToCreateListing();
        }

        function goToCreateListing() {
            window.location.href = window.location.origin + "/Listings/Create/";
        }
    </script>
}