﻿@model CoinListingApp.Models.Listing

@{
    ViewBag.Title = "ManageListing";
}

<h2>ManageListing</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ListingID)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (ViewBag.CanRenew)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Expires, "Renew", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="Renew" name="Renew">
                        <option value="0" selected>False</option>
                        <option value="1">True</option>
                    </select>
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="Active" name="Active">
                    @if (Model.isActive == 0)
                    {
                        <option value="0" selected>False</option>
                        <option value="1">True</option>
                    }
                    else
                    {
                        <option value="0">False</option>
                        <option value="1" selected>True</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isBump, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="isBump" name="isBump">
                    @if (Model.isBump == 0)
                    {
                        <option value="0" selected>False</option>
                        <option value="1">True</option>
                    }
                    else
                    {
                        <option value="0">False</option>
                        <option value="1" selected>True</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isHighlight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="isHighlight" name="isHighlight">
                    @if (Model.isHighlight == 0)
                    {
                        <option value="0" selected>False</option>
                        <option value="1">True</option>
                    }
                    else
                    {
                        <option value="0">False</option>
                        <option value="1" selected>True</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnShowModal" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="modal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                        <h4 class="modal-title">You are about to deactivate a listing</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <p>Once deactivated, this listing will not appear in your public shop.</p>
                                <br />
                                <p>Deactivating a listing doesn't affect its listing period. If your listing expires while inactive, you will be asked to renew the listing for a $0.20 fee before you can reactivate it. There is no fee for reactivating a listing that hasn't expired.</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary button button4">Deactivate</button>
                    </div>
                </div>
            </div>
        </div>

        @if (@TempData["Message"] != null)
        {
            <script type="text/javascript">
                        window.onload = function () {
                            alert("@TempData["Message"]");
                        };
            </script>
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#modal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#modal").modal('hide');
        });
    });
</script>