﻿@model CoinListingApp.Models.Payments

@{
    ViewBag.Title = "Payment Management";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserID)

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="col-lg-12">
            <div id="utf_add_listing_part">
                <div class="add_utf_listing_section">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="sl sl-icon-credit-card"></i>Bank Transfer or PayPal Friends and Family</h3>
                    </div>
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="form-group lis-relative">
                                <div class="col-md-4">

                                    <ul class="social_footer_link">
                                        <li>
                                            <span>No additional fees are charged</span>
                                        </li>
                                        <li>
                                            <span>Each Buyer will need to be provided with your payment instructions and you will need to keep track of your incoming payments</span>
                                        </li>
                                        <li><span>The Buyer will not benefit from the PayPal Buyer Protection</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Payment Details Message</h5>
                                    @Html.TextAreaFor(model => model.InstructionsMessage, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.InstructionsMessage, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <h5>Automatically notify buyer of payment details after an order has been placed</h5>
                                    <select class="form-control" id="AutomaticNotifications" name="AutomaticNotifications">
                                        @if (Model == null)
                                        {
                                            <option value="0" selected>No</option>
                                            <option value="1">Yes</option>
                                        }
                                        else if (Model.AutomaticNotifications == 0)
                                        {
                                            <option value="0" selected>No</option>
                                            <option value="1">Yes</option>
                                        }
                                        else
                                        {
                                            <option value="0">No</option>
                                            <option value="1" selected>Yes</option>
                                        }
                                    </select>
                                    @*<hr />
                                        <h5>Apply this to new listings?</h5>

                                        <select class="form-control" id="OptionOneApplyToAll" name="OptionOneApplyToAll">
                                            @if (Model == null)
                                            {
                                                <option value="0" selected>No</option>
                                                <option value="1">Yes</option>
                                            }
                                            else if (Model.OptionOneApplyToAll == 0)
                                            {
                                                <option value="0" selected>No</option>
                                                <option value="1">Yes</option>
                                            }
                                            else
                                            {
                                                <option value="0">No</option>
                                                <option value="1" selected>Yes</option>
                                            }
                                        </select>*@
                                    <br />
                                    <br />
                                    <br />
                                    <div class="row text-center">
                                        <input type="submit" class="btn btn-default" value="Update Payment Info" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="form-group lis-relative">
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-12">
            <div id="utf_add_listing_part">
                <div class="add_utf_listing_section">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="sl sl-icon-credit-card"></i>PayPal Goods and Services</h3>
                    </div>
                    <div class="row with-forms">
                        <div class="col-md-4">
                            <div class="form-group lis-relative">

                                <h5>
                                    Please enter your PayPal address in the box below.
                                </h5>
                                @Html.EditorFor(model => model.PaypalEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PaypalEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul class="social_footer_link">
                                <li><span>This option will incur the PayPal G&S fees. Please price your items accordingly</span></li>
                                <li><span>This may be a good option if you are a frequent seller or small business</span></li>
                                <li><span>Payment can be made straight away by the Buyer at the time of ordering</span></li>
                                <li><span>PayPal Buyer Protection is included for buyers' piece of mind</span></li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="row text-center">
                        <div class="col-md-offset-0 col-md-4">
                            <input type="submit" class="btn btn-default" value="Update Payment Info" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

}

<style>
    .social_footer_link li:before {
        font-family: "FontAwesome";
        font-size: 18px;
        content: "\f101";
        padding: 0 7px 0 0;
        color: #999;
    }

    .social_footer_link {
        display: table;
        border-collapse: collapse;
        width: 100%;
    }

        .social_footer_link li {
            display: table-row;
        }

            .social_footer_link li span {
                display: table-cell;
                vertical-align: middle;
            }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}