﻿@model CoinListingApp.Models.SellerViewModel

@{
    ViewBag.Title = "Seller Page";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h1 class="text-center">Seller's page</h1>
<hr />
@Html.Partial("_Notify")
<section class="fullwidth_block margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @if (@Model.Seller.ProfilePicture is object)
                {
                    <div class="text-center">
                        <img  style="width: 400px; height: 400px; object-fit: cover; object-position: center "  src="@Model.Seller.ProfilePicture" alt="Profile picture" />
                        <hr />
                    </div>
                }
                <dl class="dl-horizontal centered-dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MaskedSellerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaskedSellerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AverageRating)
                    </dt>

                    <dd>
                        @if (Model.AverageRating > 0)
                        {
                            <div class="utf_star_rating_section" data-rating="@Model.AverageRating">
                                <div class="utf_counter_star_rating">(@Model.AverageRating)</div>
                            </div>
                        }
                        else
                        {
                            <span>Not rated yet</span>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FormattedSignUpDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FormattedSignUpDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CityAndCountry)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CityAndCountry)
                    </dd>
                </dl>
                <div class="text-center">
                    @if (Model.Favourite == false)
                    {
                        @Html.ActionLink("Save this Seller as favourite", "Favourite", new { sellerId = Model.Seller.UserID }, new { @class = "button" })
                    }
                    else if (Model.Seller.UserID != Model.CurrentUserId)
                    {
                        @Html.ActionLink("Remove this Seller from favourites", "UnFavourite", new { sellerId = Model.Seller.UserID }, new { @class = "button" })
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="utf_box_widget opening-hours">
                    <h3><i class="sl sl-icon-envelope-open"></i>Message Seller</h3>
                    <form id="contactform">
                        @*<div class="row">
                                <div class="col-md-12">
                                    <input name="name" type="text" placeholder="Name" required="">
                                </div>
                                <div class="col-md-12">
                                    <input name="email" type="email" placeholder="Email" required="">
                                </div>
                                <div class="col-md-12">
                                    <input name="phone" type="text" placeholder="Phone" required="">
                                </div>
                                <div class="col-md-12">
                                    <textarea name="comments" cols="40" rows="2" id="comments" placeholder="Your Message" required=""></textarea>
                                </div>
                            </div>
                            <input type="submit" class="submit button" id="submit" value="Contact Agent">*@

                        @Html.Action("SendMessageChatPartial", "Messages", new { receiverUserId = Model.Seller.UserID })
                    </form>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_Listings", Model.PagedFullListings)
            </div>
        </div>
    </div>
</section>

<section>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
</script>