﻿@model IEnumerable<CoinListingApp.Models.ListingViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")

<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-eye"></i>Watch List</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            @foreach (var item in Model)
                            {

                                <div class="col-md-4">
                                    <a href="/listings/details/@item.ListingID.ToString()" class="utf_listing_item-container compact" tabindex="0">
                                        <div class="utf_listing_item">
                                            @if (!string.IsNullOrEmpty(item.Image))
                                            {
                                                <img src="@item.Image" alt="">
                                            }
                                            <span class="tag">@item.Category.CategoryName</span>
                                            <div class="utf_listing_item_content">
                                                <div class="utf_listing_prige_block">
                                                    <span class="utf_meta_listing_price"><i class="fa fa-tag"></i> £@Math.Round(item.Price, 2).ToString("N2")</span>
                                                </div>
                                                <h3>@item.Title</h3>
                                                <span>@item.Description</span>
                                            </div>
                                        </div>

                                        <div class="utf_star_rating_section" data-rating=@item.Rating.ToString()>
                                            <div class="utf_counter_star_rating">(@item.Rating)</div>
                                            <div class="utf_view_count"><i class="fa fa-eye"></i> @item.Views</div>
                                            @Html.Partial("_WatchlistButton", item.WatchlistButtonViewModel)
                                        </div>
                                    </a>
                                    <hr />
                                </div>

                            }
                            @if (Model.Count() == 0)
                            {
                                <h4>No items on the watch list yet</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>