﻿@model CoinListingApp.Models.SystemNotification

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@Html.Partial("_AdminHeading", "System Notification Details")

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new {@class="btn btn-primary" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
