﻿@model IEnumerable<CoinListingApp.Models.SystemNotification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "System Notifications")
    
<table id="tblMsg" class="table table-striped table-bordered table-responsive display nowrap">
    <thead>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Subject)
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })*@
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#tblMsg').DataTable({
                autoWidth: false
            });
        });
    </script>
}