﻿@model CoinListingApp.Models.AdminIndexViewModel
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    body {
        background: #FAFAFA;
    }

    .stretch-card {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
    }

        .stretch-card > .card {
            width: 100%;
            min-width: 100%;
            border-radius: 20px;
            padding: 25px;
        }

    .grid-margin {
        margin-bottom: 1.5rem;
    }

    .card .card-title {
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: bold;
        color: #3655ff;
    }

    .button-group {
        display: contents;
    }

        .button-group .btn {
            padding: 20px 45px;
            margin: 30px 10px;
            font-weight: bold;
            font-size: large;
        }

    .btn-info {
        color: black !important;
    }
</style>

<h2>Admin Dashboard</h2>

<section class="container-fuild">
    <div class="container">
        <div class="row justify-content-center">
            <div class="button-group">
                <a href="/Admin/SystemDashboard" class="btn btn-primary">Manage System</a>
                <a href="/Admin/UserDashboard" class="btn btn-warning">Manage Users</a>
                <a href="/Admin/UsersTransactions"  class="btn btn-info Ctext-dark">View Transactions Hitory</a>
                <a href="/Admin/PricingDashboard" class="btn btn-dark">Manage Pricing</a>
            </div>
        </div>
    </div>
</section>

<section class="container-fuild">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body p-0 text-center">
                        <img src="~/Images/DashboardIcons/authenticationUsers.png" width="50%" />
                        <h6 class="card-title mt-3 mb-2"> Authenticated Users </h6>
                        <h3> @Model.AuthenticatedUsers</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body p-0 text-center">
                        <img src="~/Images/DashboardIcons/OnlineUsers.png" width="50%" />
                        <h6 class="card-title mt-3 mb-2">Online Users</h6>
                        <h3> @Model.OnlineUsers</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mb-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body p-0 text-center">
                        <i class="fa fa-users fa-6x" aria-hidden="true"></i>
                        <h6 class="card-title mt-3 mb-2">Registered Users</h6>
                        <h3> @Model.RegisertedUsers</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body p-0 text-center">
                        <i class="fas fa-list  fa-6x"></i>
                        <h6 class="card-title mt-3 mb-2">Live Listings</h6>
                        <h3> @Model.LiveListings</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>