﻿@model CoinListingApp.Models.Listing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_Notify")
    <div>

        @Html.Partial("_AdminHeading", "Listing Details")

        @Html.HiddenFor(model => model.ListingID)

        <h4>Listing User Details:</h4>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
        </dl>
        <br />
        <hr />
        <br />
        <h4>Listing Details:</h4>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QTY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QTY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AllowOffers)
            </dt>

            <dd>
                @if (Model.AllowOffers == 0)
                {
                    <text>No</text>
                }
                else
                {
                    <text>Yes</text>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isHighlight)
            </dt>

            <dd>
                @if (Model.isHighlight == 0)
                {
                    <text>No</text>
                }
                else
                {
                    <text>Yes</text>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isBump)
            </dt>

            <dd>
                @if (Model.isBump == 0)
                {
                    <text>No</text>
                }
                else
                {
                    <text>Yes</text>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @if (Model.isActive == 0)
                {
                    <text>No</text>
                }
                else
                {
                    <text>Yes</text>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Expires)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Expires)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeactivatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeactivatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActiveDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActiveDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostageListing.ListingID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostageListing.ListingID)
            </dd>
        </dl>
        <br />
        <br />
        <a href="/admin/listings" class="btn btn-primary">Back To Listings</a>
    </div>
