﻿@model IEnumerable<CoinListingApp.Models.Listing>

@{
    ViewBag.Title = "User Listings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "User Listings")

@Html.Partial("_Notify")

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupform" }))
{

    <table id="tblListings" class="table table-striped table-bordered table-responsive display nowrap">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.QTY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AllowOffers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isHighlight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isBump)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Name)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.PostageListing.ListingID)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Expires)
                    </th>*@
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="~/admin/listingdetails/@item.ListingID" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.QTY)
                        </td>*@
                    @*<td>
                            @if (item.AllowOffers == 0)
                            {
                                <span>No</span>
                            }
                            else
                            {
                                <span>Yes</span>
                            }
                        </td>
                        <td>
                            @if (item.isHighlight == 0)
                            {
                                <span>No</span>
                            }
                            else
                            {
                                <span>Yes</span>
                            }
                        </td>
                        <td>
                            @if (item.isBump == 0)
                            {
                                <span>No</span>
                            }
                            else
                            {
                                <span>Yes</span>
                            }
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.PostageListing.ListingID)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Expires)
                        </td>*@
                    <td>
                        @if (item.Expires < DateTime.Now)
                        {
                            @*@Html.ActionLink("Renew", "Renew", new { id = item.ListingID }) <span>|</span>*@

                            <text><h4>Expired</h4></text>

                        }
                        else
                        {
                            @*@Html.ActionLink("Edit", "EditListing", new { id = item.ListingID }) <span>|</span>
                                @Html.ActionLink("Details", "ListingDetails", new { id = item.ListingID }) <span>|</span>*@

                            if (item.isActive > 0)
                            {
                                @*@Html.ActionLink("Deactivate", "DeactivateListing", new { id = item.ListingID }, new { @class = "btn btn-danger btn-block" })*@

                                <input class="btn btn-danger btn-block" value="Deactivate" type="button" onclick="deactivate(@item.ListingID);">

                                @*if (item.isHighlight == 0)
                                    {
                                        @Html.ActionLink("Highlight", "Highlight", new { id = item.ListingID }) <span>|</span>
                                    }
                                    else
                                    {
                                        <p> Highlighted! </p><span>|</span>
                                    }

                                    if (item.isBump == 0)
                                    {
                                        @Html.ActionLink("Bump", "Bump", new { id = item.ListingID }) <span>|</span>
                                    }
                                    else
                                    {
                                        <p> Bumped! </p> <span>|</span>
                                    }*@
                            }
                            else
                            {
                                @*@Html.ActionLink("Activate", "ActivateListing", new { id = item.ListingID }, new { @class = "btn btn-success btn-block" })*@
                                <input class="btn btn-success btn-block" value="Activate" type="button" onclick="activate(@item.ListingID);" />

                            }
                        }

                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ListingID })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Please enter your message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-12">
                    <textarea style="width:100%" id="name"></textarea>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <input type="button" value="Confirm" onclick="de_activateForGood()" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tblListings').DataTable({
                autoWidth: false
            });
        });

        var isActivate = true;

        var listingID = 0;

        function de_activateForGood() {

            var name = $("#name").val();

            var urlToApply = "";
            if (isActivate)
                urlToApply = "ActivateListing";
            else
                urlToApply = "DeactivateListing";

            if (name != null) {
                $.ajax({
                    type: "POST",
                    url: urlToApply,
                    data: "{'id':" + listingID + ", 'message':'" + name + "'}",
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    error: function (data) {
                        $("#signupform").submit();
                        //location.reload();
                    },
                    success: function (data) {

                        $("#signupform").submit();
                        //location.reload();
                    }
                });
            }
        }

        function deactivate(listId) {
            isActivate = false;
            listingID = listId;
            $('#modalLoginForm').modal('show');
            return;

        }

        function activate(listId) {
            isActivate = true;
            listingID = listId;
            $('#modalLoginForm').modal('show');
            return;
        }
    </script>
}