﻿@model IEnumerable<CoinListingApp.Models.ReportUser>
@{
    ViewBag.Title = "ManageReports";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "System Notification Details")

@Html.Partial("_Notify")

<table id="tblUsers" class="table table-striped table-bordered table-responsive display nowrap">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User1.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User1.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Details", "ReportDetails", new { id = item.ReportID }, new { @class="btn btn-info"})
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#tblUsers').DataTable({
                autoWidth: false
            });
        });
    </script>
}
