﻿@model CoinListingApp.Models.SystemSetting

@{
    ViewBag.Title = "Manage Free Ads";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "Manage Free Ads")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Free Ads Enabled</label>
            <div class="col-md-3">
                <select class="form-control" id="hasFreeAds" name="hasFreeAds">
                    @if (Model.hasFreeAds == 0)
                    {
                        <option value="0" selected>No</option>
                        <option value="1">Yes</option>
                    }
                    else
                    {
                        <option value="0">No</option>
                        <option value="1" selected>Yes</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
