﻿@model CoinListingApp.Models.SystemSetting

@{
    ViewBag.Title = "Manage Message Of The Day";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminHeading", "Message of the Day")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <div class="col-12">
                @Html.TextAreaFor(model => model.MessageOfTheDay, new { @class = "form-control", @rows = 3 })
                @Html.ValidationMessageFor(model => model.MessageOfTheDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class=" col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to Admin Page", "Index")
    </div>*@