﻿
@{
    ViewBag.Title = "Pricing Management Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_Notify")

@*<p>
        @Html.ActionLink("Manage Free Ads", "ManageAds", new { id = 1 })
    </p>

    <p>
        @Html.ActionLink("Manage Account Credits", "Create", "Credits")
    </p>

    <p>
        @Html.ActionLink("Manage Credit Packages", "Index", "CreditPackages")
    </p>

    <p>
        @Html.ActionLink("Manage Credit Price", "ManageCreditPrice", new { id = 1 })
    </p>

    <p>
        @Html.ActionLink("Manage Discount", "ManageDiscount", new { id = 1 })
    </p>*@




<h2>Pricing Management Dashboard</h2>

<style>
    a {
        color: #ffffff;
        text-decoration: none;
    }

        a:hover {
            color: #ffffff;
            text-decoration: none;
        }

    .customH {
        height: 45px;
    }

    .button-group .btn {
        padding: 20px 45px;
        margin: 30px 10px;
        font-weight: bold;
        font-size: large;
    }
</style>


<div class=" row button-group">
    <a class="btn btn-primary" href="/Admin/PricingDashboard/ManageAds/1">Free Ads</a>&nbsp;&nbsp;
    <a class="btn btn-success" href="/creditpackages">Credit Packages</a>&nbsp;&nbsp;
    <a class="btn btn-warning" href="/Admin/PricingDashboard/ManageCreditPrice/1">Credit Price</a>&nbsp;&nbsp;
    <a class="btn btn-dark" href="/Credits/Create">Account Credits</a>&nbsp;&nbsp;
    <a class="btn btn-info" href="/Admin/PricingDashboard/ManageDiscount/1">Discount</a>&nbsp;&nbsp;
</div>