﻿@model CoinListingApp.Models.ReportUser
@{
    ViewBag.Title = "ReportDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Reported User Details</h1>
<hr />

@using (Html.BeginForm((Model.User1.isActive > 0 ? "Deactivate" : "Activate"), "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(model=>model.SellerID)
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Name) @Html.DisplayFor(model => model.User.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User1.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User1.Name) @Html.DisplayFor(model => model.User1.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
    </div>
    <p>
        @if (Model.User1.isActive > 0)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Deactivate" class="btn btn-primary" />
                </div>
            </div>
            @*@Html.ActionLink("Deactivate Seller Accountz", "Deactivate", new { id = Model.User.UserID }) <span>|</span>*@
        }
        else
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Activate" class="btn btn-primary" />
                </div>
            </div>
            @*@Html.ActionLink("Activate Seller Account", "Activate", new { id = Model.User.UserID }) <span>|</span>*@
        }

        @Html.ActionLink("Back to List", "ManageReports")
    </p>

}