﻿
@{
    ViewBag.Title = "System Management Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>System Management Dashboard</h2>

@Html.Partial("_Notify")

<style>
    a {
        color: #ffffff;
        text-decoration: none;
    }

        a:hover {
            color: #ffffff;
            text-decoration: none;
        }

    .customH {
        height: 45px;
    }

    .button-group .btn {
        padding: 20px 45px;
        margin: 30px 10px;
        font-weight: bold;
        font-size: large;
    }
</style>

<div class=" row button-group">
    <a class="btn btn-primary" href="/Categories"> <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Categories</a> &nbsp;&nbsp;
    <a class="btn btn-dark" href="/Postages"> <i class="fab fa-ioxhost"></i>&nbsp; Postage</a>&nbsp;&nbsp;
    <a class="btn btn-success" href="/Admin/Listings"><i class="fas fa-list-ul" aria-hidden="true"></i> &nbsp; Listings</a>&nbsp;&nbsp;
    <a class="btn btn-warning" href="/Admin/SystemDashboard/ManageMessageOfTheDay/1"><i class="fas fa-envelope text-white "></i> &nbsp;Message of the Day</a>&nbsp;&nbsp;
    <a class="btn btn-info" href="/SystemNotifications"> <i class="far fa-bell" aria-hidden="true"></i>&nbsp; System Notifications</a>&nbsp;&nbsp;
</div>