﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using PagedList.Mvc
@model  PagedList.IPagedList<CoinListingApp.Models.OrderTransactionDetails>

<style>
    .customH {
        height: 45px;
        BACKGROUND: WHITE;
    }

    .ul.pagination {
        display: inline-block !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .pagination {
        justify-content: space-between !important;
    }

    ul.pagination li {
        display: inline !important;
    }

        ul.pagination li a {
            color: black !important;
            float: left !important;
            padding: 8px 16px !important;
            text-decoration: none !important;
            transition: background-color .3s !important;
        }

            ul.pagination li a.active {
                background-color: #4CAF50 !important;
                color: white !important;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd !important;
            }
</style>
<div class="card">
    <div class="card-body">
        <div class=" text-center">
            <h2>
                Transactions Between Users
            </h2>
            <hr />
        </div>

        <div class="table-responsive pt-3" style="width:100%">
            <table id="tblCustomers" class="table table-striped table-bordered display">
                <thead>
                    <tr class="text-center">
                        <th>
                            <span>#</span>
                        </th>
                        <th>
                            <span>Date</span>
                        </th>
                        <th>
                            <span>Order Number</span>
                        </th>
                        <th>
                            <span>Buyer Name </span>
                        </th>
                        <th>
                            <span>Total Price </span>
                        </th>
                        <th>
                            <span>Status</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{


                        var startingSno = Model.PageNumber * 10;
                        var sno = startingSno - 10;

                        if (Model != null)
                        {
                            foreach (var transaction in Model)
                            {
                                sno = sno + 1;
                                <tr class="text-center bg-light text-dark">

                                    <td>
                                        @sno
                                    </td>
                                    <td>
                                        @transaction.OrderDate.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => transaction.OrderNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => transaction.BuyerName)
                                    </td>
                                    <td>
                                        @String.Format("{0:0.00}", transaction.TotalPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => transaction.Status)
                                    </td>

                                </tr>
                                var litemDetailsCounter = transaction.Item.Count();
                                foreach (var itemDetails in transaction.Item)
                                {
                                    <tr>
                                        <td colspan="6" class="customH">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>Item </strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <strong> price</strong>
                                                    @String.Format("{0:0.00}", itemDetails.Price)
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Seller </strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    @Html.DisplayFor(modelItem => itemDetails.ItemName)
                                                </div>
                                                <div class="col-md-4">
                                                    @if (litemDetailsCounter == 1)
                                                    {
                                                        <hr />
                                                        <strong> shipping charges: @String.Format("{0:0.00}", itemDetails.PostagePrice) </strong>
                                                        <br /><br />

                                                        <strong class="mt-2"> Additional price: @String.Format("{0:0.00}", transaction.Item.Sum(x => x.ExtraCharge)) </strong>
                                                    }
                                                    @if (litemDetailsCounter > 0)
                                                    {
                                                        litemDetailsCounter = litemDetailsCounter - 1;
                                                    }
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.DisplayFor(modelItem => itemDetails.SellerName)
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
            <br />
            <div id="container">
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount
                    <br />
                    @Html.PagedListPager(Model, page => Url.Action("UsersTransactions", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>