﻿@{
    ViewBag.Title = "User Management Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    a {
        color: #ffffff;
        text-decoration: none;
    }

        a:hover {
            color: #ffffff;
            text-decoration: none;
        }

    .customH {
        height: 45px;
    }

    .button-group .btn {
        padding: 20px 45px;
        margin: 30px 10px;
        font-weight: bold;
        font-size: large;
    }
</style>
<h2>User Management Dashboard</h2>
<div class="row button-group">
    <a class="btn btn-info" href="/users"><i class="fas fa-users-cog"></i>&nbsp;Users</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-danger" href="/Admin/UserDashboard/Reports"><i class="fas fa-user-alt-slash"></i> &nbsp; Reported Users</a>
</div>
