﻿@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Confirm Email" } })
@Html.Partial("_Notify")
<div class="container">
    <h3>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h3>
    <br />
    <br />
</div>
