﻿@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Confirm Email" } })

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p>
        A verification email has been sent to your email address. You will be required to verify your email address before you can Log in. Please make sure to check your Spam/Junk mail folders. If you have not received an email within the next hour, please contact us on <a href="mailto:info@coinstacker.co.uk">info@coinstacker.co.uk</a>
    </p>
</div>
