﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
@Html.Partial("_Notify")

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    <p>
        @Html.ActionLink("Go to Sign in page", "Login", "Account")
    </p>
</div>

