﻿@model CoinListingApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@Html.Partial("_Notify")



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row form-group">
        <div class="col-md-offset-4 col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-offset-4 col-md-4 text-center">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
</div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}