﻿@using CoinListingApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Coinstacker Login";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Login" } })

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-7">
                            <div class="row">
                                <div class="col-md-2">
                                     @Html.CheckBoxFor(m => m.RememberMe)
                                </div>
                                <div class="col-md-10">
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-offset-2 col-md-5" style="margin-top:25px;">
                            <input type="submit" value="Log in" class="btn btn-default" style="padding-top:7px;padding-bottom:7px; width: 100%;" />
                        </div>
                        <div class="col-md-5 text-md-left" style="margin-top:25px;">
                            <a href="/account/register" alt="Register new account">
                                <input type="button" class="btn btn-default" value="Register" style="padding-top:7px;padding-bottom:7px;" />
                            </a>
                        </div>
                    </div>

                    //Enable this once you have account confirmation enabled for password reset functionality
                    <div class="row form-group">
                        <div class="col-md-offset-2 col-md-10 text-md-center">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </div>
                    </div>
                        
                }
            </section>
        </div>
    </div>
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@