﻿@model CoinListingApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Register" } })

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section id="loginForm">
        <div class="container">
            <div class="row form-group">
                <div class="col-md-4 text-md-right">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 text-md-right">
                    @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 text-md-right">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 text-md-right">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @id = "passwordValidation", @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 text-md-right">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="checkboxes fl_left">
                    <input id="remember-me" type="checkbox" name="check">
                    <label for="remember-me">Do you accept the <a href="/home/termsandconditions">Terms & Conditions</a></label>
                </div>
            </div>
        </div>*@
            <hr />
            <div class="row form-group">
                <div class="col-md-offset-4 col-md-4">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.CheckBoxFor(m => m.CheckNewsletter)
                        </div>
                        <div class="col-md-10 text-left">
                            <label for="CheckTerms">
                                Receive our newsletter (Can opt out at anytime)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-offset-4 col-md-4">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.CheckBoxFor(m => m.CheckTerms)
                        </div>
                        <div class="col-md-10 text-left">
                            <label for="CheckTerms">Do you accept our @Html.ActionLink("Terms & Conditions", "termsandconditions", "home") and @Html.ActionLink("Privacy policy", "privacypolicy", "home")</label>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.CheckTerms, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="row form-group">
                <div class="col-md-offset-4 col-md-4 text-center">
                    <input type="submit" class="btn btn-default" value="Register" id="btnSubmit" />
                </div>
            </div>

            @*<div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>*@
        </div>
    </section>

}

@*
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $("#Password").keyup(function () {
            $.post("/Account/ValidatePassword", { currentPassword: $(this).val() }, function (data) {

                //do whatever with the response
                if (data) {
                    var errors = data.split("\n");

                    var errorsHtml = "<ul>";

                    for (var i = 0; i < errors.length; i++) {
                        console.log(errors[i]);
                        if (errors[i]) {
                            errorsHtml += "<li><i class='fa fa-exclamation-triangle' aria-hidden='true'></i> " + errors[i] + "</li>";
                        }
                    }

                    errorsHtml += "</ul>";

                    $("#passwordValidation").html(errorsHtml);
                } else {
                    $("#passwordValidation").html("");
                }
            });
        });
    </script>
}