﻿@model CoinListingApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}



@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="row form-group">
        <div class="col-md-4 text-md-right">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 text-md-right">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @id = "passwordValidation", @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 text-md-right">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-offset-4 col-md-4 text-center">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
</div>

}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $("#Password").keyup(function () {
            $.post("/Account/ValidatePassword", { currentPassword: $(this).val() }, function (data) {

                //do whatever with the response
                if (data) {
                    var errors = data.split("\n");

                    var errorsHtml = "<ul>";

                    for (var i = 0; i < errors.length; i++) {
                        console.log(errors[i]);
                        if (errors[i]) {
                            errorsHtml += "<li><i class='fa fa-exclamation-triangle' aria-hidden='true'></i> " + errors[i] + "</li>";
                        }
                    }

                    errorsHtml += "</ul>";

                    $("#passwordValidation").html(errorsHtml);
                } else {
                    $("#passwordValidation").html("");
                }
            });
        });
    </script>
}