﻿@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="container text-center">
    <h3 style="padding:20px; color:red">
        ERROR 404: Not FOUND
    </h3>
    <h4>
        Sorry, The Page, You are Looking for File is not found Or Controller Name / Controller Action Method Name Not There.
    </h4>
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
    <br />
    <br />
</div>