﻿@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


<div class="container text-center">
    <h2>Unauthorized</h2>
    <h4 style="padding: 20px; color:red">
        You are not authorized to view this page.
    </h4>
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
    <br />
    <br />
</div>