﻿@model CoinListingApp.Models.CheckoutPage
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div id="main_wrapper">
    <div class="clearfix"></div>
    @*<div id="titlebar" class="gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Choose Payment Option</h2>
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="index_1.html">Home</a></li>
                                <li>Choose Payment Option</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="container margin-bottom-75">
        <div class="row">
            <div class="col-lg-8 col-md-8 utf_listing_payment_section">
                @if (Model.PaymentMethod.Contains("EFT"))
                {
                    @*<label>WHAT DO WE NEED TO SHOW HERE??</label>*@
                    <div class="utf_booking_listing_section_form margin-bottom-40">
                        @*<h3><i class="sl sl-icon-paper-plane"></i> Billing Information</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                    <input type="text" value="" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                    <input type="text" value="" placeholder="Last Name">
                                </div>
                                <div class="col-md-6">
                                    <div class="medium-icons">
                                        <label>E-Mail</label>
                                        <input type="text" value="" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="medium-icons">
                                        <label>Phone</label>
                                        <input type="text" value="" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <input type="button"  />*@
                        <a onclick="Buy();" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Confirm Now</a>
                    </div>
                }

                @if (Model.PaymentMethod.Contains("Paypal"))
                {
                    <div class="utf_booking_payment_option_form">
                        <h3><i class="sl sl-icon-credit-card "></i> Payment Method</h3>
                        <div class="payment">
                            <div class="utf_payment_tab_block">
                                <div class="utf_payment_trigger_tab">
                                    @*<input checked="" id="paypal" name="cardType" type="radio" value="paypal">*@
                                    <label for="paypal">PayPal Goods & Services</label>
                                    <img class="utf_payment_logo paypal" src="images/paypal_pay.png" alt="">
                                </div>
                            </div>

                            @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="card-label">
                                            <label for="email">Email</label>
                                            <input id="email" name="email" required="" type="text">
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <a onclick="Buy();" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Confirm Now</a>
                    </div>
                }
            </div>
            <div class="col-lg-4 col-md-4 margin-top-0 utf_listing_payment_section">
                <div class="utf_booking_listing_item_container compact utf_order_summary_widget_section">
                    <div class="listing-item">
                        <img src="~/Styles/UDUI/images/listing-item-04.jpg" alt="">
                        <div class="utf_listing_item_content">
                            <h3>Vintage Italian Beer Bar & Restaurant</h3>
                            <span><i class="sl sl-icon-location"></i> The Ritz-Carlton, Hong Kong</span>
                            <span><i class="sl sl-icon-phone"></i> (415) 796-3633</span>
                            <div class="utf_star_rating_section" data-rating="4.5">
                                <div class="utf_counter_star_rating">(18) Reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    var price = @Model.Amount * @Model.Listing.Price;
                }
                <div class="boxed-widget opening-hours summary margin-top-0">
                    <h3><i class="fa fa-calendar-check-o"></i> Purchase Summary</h3>
                    <ul>
                        <li>Amount <span>@Model.Amount</span></li>
                        <li class="total-costs">Total Cost <span>@Math.Round(price, 2).ToString("N2")</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>

        function Buy() {

           // window.location.href = "~/Listings/BuyNow/@(Model.Listing.ListingID)?amount="+@Request.QueryString["amount"];
            window.location.href='@Url.Action("BuyNow", "Listings", new { id = Model.Listing.ListingID, amount = Request.QueryString["amount"] })';

            return false;

            }
    </script>

    <!-- Scripts -->
    <script src="scripts/jquery-3.4.1.min.js"></script>
    <script src="scripts/chosen.min.js"></script>
    <script src="scripts/slick.min.js"></script>
    <script src="scripts/rangeslider.min.js"></script>
    <script src="scripts/magnific-popup.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/mmenu.js"></script>
    <script src="scripts/tooltips.min.js"></script>
    <script src="scripts/color_switcher.js"></script>
    <script src="scripts/jquery_custom.js"></script>

    <!-- Style Switcher -->
    <div id="color_switcher_preview">
        <h2>Choose Your Color <a href="#"><i class="fa fa-gear fa-spin (alias)"></i></a></h2>
        <div>
            <ul class="colors" id="color1">
                <li><a href="#" class="stylesheet"></a></li>
                <li><a href="#" class="stylesheet_1"></a></li>
                <li><a href="#" class="stylesheet_2"></a></li>
                <li><a href="#" class="stylesheet_3"></a></li>
                <li><a href="#" class="stylesheet_4"></a></li>
                <li><a href="#" class="stylesheet_5"></a></li>
            </ul>
        </div>
    </div>
</div>