﻿@model CoinListingApp.Models.CheckoutPageV2
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@using (Html.BeginForm("CheckoutV2", "Listings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.Partial("_Notify")

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Address.AddressID)

    @Html.HiddenFor(model => model.PaymentMethod)
    <div id="main_wrapper">
        <div class="clearfix"></div>
        @*<div id="titlebar" class="gradient">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Choose Payment Option</h2>
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="index_1.html">Home</a></li>
                                    <li>Choose Payment Option</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="container margin-bottom-75">
            <br />
            <div class="row">
                <div class="col-md-8">
                    <h2>Shopping Cart</h2>
                    <table id="tblListings" class="table table-striped table-responsive display nowrap cells-vertical-align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Image</th>
                                <th>
                                    Listing
                                </th>
                                <th>
                                    Seller
                                </th>
                                <th class="text-right">
                                    Price
                                </th>
                                <th class="text-right">
                                    Quantity
                                </th>
                                <th class="text-right">
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.CheckoutListings.Count; i++)
                            {
                                @Html.HiddenFor(model => Model.CheckoutListings[i].Listing.ListingID)
                                @Html.HiddenFor(model => Model.CheckoutListings[i].Quantity)

                                <tr>
                                    <td style="min-width: 40px;" class="text-center">
                                        <a class="btn btn-danger" style="min-height: 20px;" onclick="RemoveFromCart(@Model.CheckoutListings[i].Listing.ListingID)"><i style="font-size: 2em;" class="sl sl-icon-trash"></i></a>
                                    </td>

                                    <td class="text-center" style="max-width:200px;">
                                        @if (string.IsNullOrEmpty(@Model.CheckoutListings[i].Listing.CoverImage))
                                        {
                                            <i>No photo</i>
                                        }
                                        else
                                        {
                                            <img style="width: 95%;" src="@Model.CheckoutListings[i].Listing.CoverImage" alt="Listing Photo" />
                                        }
                                    </td>
                                    <td>
                                        <b>@Html.ActionLink(Model.CheckoutListings[i].Listing.Title, "Details", "Listings", new { id = Model.CheckoutListings[i].Listing.ListingID }, null)</b>
                                    </td>
                                    <td>
                                        @Html.ActionLink(Model.CheckoutListings[i].SellerViewModel.MaskedSellerName, "Seller", "Users", new { id = Model.CheckoutListings[i].SellerViewModel.SellerId }, null)
                                    </td>
                                    <td class="text-right">
                                        &#163; @Math.Round(Model.CheckoutListings[i].Listing.Price, 2).ToString("N2")
                                    </td>
                                    <td class="text-right">
                                        @Model.CheckoutListings[i].Quantity
                                    </td>
                                    <td class="text-right">
                                        &#163; @Math.Round(Model.CheckoutListings[i].Listing.Price * Model.CheckoutListings[i].Quantity, 2).ToString("N2")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 margin-top-0 utf_listing_payment_section">

                    <h3>Postage Service available</h3>
                    <table class="table table-striped table-responsive display cells-vertical-align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Postage</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var dicHtmlOptionsCheckBox = new Dictionary<string, object>{
                                   {"onclick","setCompleteStatus.call(this)"},
                                   {"data-role", "flipswitch"},
                                   {"data-on-text", "complete"},
                                   {"data-off-text", "incomplete"},
                                   {"data-wrapper-class", "custom-size-flipswitch"}};

                                if (Model.PostageListings.Count == 1)
                                {
                                    dicHtmlOptionsCheckBox.Add("disabled", "true");
                                }
                            }

                            @for (int i = 0; i < Model.PostageListings.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(model => model.PostageListings[i].PostageID)
                                        @Html.HiddenFor(model => model.PostageListings[i].ListingID)
                                        @Html.HiddenFor(model => model.PostageListings[i].Price)
                                        @Html.HiddenFor(model => model.PostageListings[i].EachAdditionalItemPrice)

                                        @Html.CheckBoxFor(model => model.PostageListings[i].Selected, dicHtmlOptionsCheckBox)
                                    </td>
                                    <td>
                                        <b>@Model.PostageListings[i].Postage.Name</b>
                                    </td>
                                    <td>
                                        Price:<b> &#163;  @Math.Round(Model.PostageListings[i].Price, 2).ToString("N2")</b>
                                        <br />
                                        Additional price per item: <b>&#163; @Math.Round(Model.PostageListings[i].EachAdditionalItemPrice.HasValue ? Model.PostageListings[i].EachAdditionalItemPrice.Value : 0.0, 2).ToString("N2")</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <hr />

                    @{
                        var itemsPrice = Model.CheckoutListings.Sum(cl => cl.Quantity * cl.Listing.Price);
                        var shippingPrice = 0.0;

                        if (Model.SelectedPostageListing != null)
                        {
                            shippingPrice = Model.SelectedPostageListing.Price;
                        }

                        shippingPrice = shippingPrice + (Model.SelectedPostageListing.EachAdditionalItemPrice ?? 0) * (Model.CheckoutListings.Sum(c => c.Quantity) - 1);

                        var price = itemsPrice + shippingPrice;

                    }
                    <div class="boxed-widget opening-hours summary margin-top-0">
                        <h3><i class="fa fa-calendar-check-o"></i> Purchase Summary</h3>
                        <ul>
                            <li>Quantity <span>@Model.CheckoutListings.Sum(cl => cl.Quantity)</span></li>
                            <li>Items Cost <span id="itemsPrice">&#163; @Math.Round(itemsPrice, 2).ToString("N2")</span></li>
                            <li>Shipping Cost <span id="shippingPrice">&#163; @Math.Round(shippingPrice, 2).ToString("N2")</span></li>
                            <li class="total-costs">Total Cost <span id="totalCost">&#163; @Math.Round(price, 2).ToString("N2")</span></li>
                        </ul>
                        <hr />
                        <br />
                        <div class="margin-bottom-40 text-center">
                            @if (Model.PaymentMethod.Contains("EFT"))
                            {

                                @*<h3><i class="sl sl-icon-paper-plane"></i> Billing Information</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                            <input type="text" value="" placeholder="First Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <input type="text" value="" placeholder="Last Name">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="medium-icons">
                                                <label>E-Mail</label>
                                                <input type="text" value="" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="medium-icons">
                                                <label>Phone</label>
                                                <input type="text" value="" placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button"  />*@
                                <input type="submit" value="Confirm Now" class="btn btn-success" />
                                @*<a onclick="Buy();" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Confirm Now</a>*@
                            }

                            @if (Model.PaymentMethod.Contains("Paypal"))
                            {

                                <h3><i class="sl sl-icon-credit-card "></i> Payment Method</h3>
                                <div class="utf_payment_tab_block row text-center">
                                    <div class="col-md-12 text-center">
                                        <b>PayPal Goods & Services</b>
                                        @*<img class="utf_payment_logo paypal" src="images/paypal_pay.png" alt="">*@
                                    </div>
                                </div>
                                <img src="~/Images/paypal_banner.png" />
                                @*<div class="payment">
                                    <div class="utf_payment_tab_block">
                                        <div class="utf_payment_trigger_tab">*@
                                @*<input checked="" id="paypal" name="cardType" type="radio" value="paypal">*@
                                @*<img class="utf_payment_logo paypal" src="images/paypal_pay.png" alt="">
                                                                    <label for="paypal">PayPal Goods & Services</label>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                        <div class="col-md-6">
                                            <div class="card-label">
                                                <label for="email">Email</label>
                                                <input id="email" name="email" required="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                                        </div>*@
                                <br />
                                <input type="submit" value="Confirm Now" class="btn btn-success" />
                                @*<a onclick="Buy();" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Confirm Now</a>*@

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<!-- Scripts-->
@section scripts{

    <script>

         $(document).ready(function () {
             setCompleteStatus();
         });

         function setCompleteStatus() {

             for (i = 0; i < @Model.PostageListings.Count; i++)
             {
                 var idpostage = 'PostageListings_' + i + '__Selected';
                 if (idpostage != this.id)
                     $('#' + idpostage).prop('checked', false);
                 else {

                     //get price + additional
                     var priceShip = $('#PostageListings_' + i + '__Price').val();
                     if (!priceShip) {
                         priceShip = 0;
                     }

                     var priceShipAdd = $('#PostageListings_' + i + '__EachAdditionalItemPrice').val();
                     if (!priceShipAdd) {
                         priceShipAdd = 0;
                     }

                     //recalculate shipping + total cost
                     var totalShip = parseFloat(priceShip);

                     totalShip = totalShip + (parseFloat(@Model.CheckoutListings.Sum(cl => cl.Quantity) - 1) * parseFloat(priceShipAdd));

                     var totalOrder = totalShip + parseFloat(@Model.CheckoutListings.Sum(cl => cl.Quantity * cl.Listing.Price));

                     $('#shippingPrice').text('£ ' + totalShip);
                     $('#totalCost').text('£ ' + totalOrder);

                 }
             }
         }

         function RemoveFromCart(idListing) {
                    $.post("/Cart/Remove", { IdListing: idListing },
                    function (data)
                    {

                        if (data.Success) {
                            //alert(data.Message);
                            if (data.CartIsEmpty) {
                                window.location.href = window.location.origin; // go Home
                            } else {
                                window.location.reload(true);
                            }

                        } else {

                            window.location.reload(true);
                            //alert(data.Message);

                        }
                    });

                }
    </script>

    <script src="scripts/jquery-3.4.1.min.js"></script>
    <script src="scripts/chosen.min.js"></script>
    <script src="scripts/slick.min.js"></script>
    <script src="scripts/rangeslider.min.js"></script>
    <script src="scripts/magnific-popup.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/mmenu.js"></script>
    <script src="scripts/tooltips.min.js"></script>
    <script src="scripts/color_switcher.js"></script>
    <script src="scripts/jquery_custom.js"></script>

    <!-- Style Switcher -->
    @*<div id="color_switcher_preview">
            <h2>Choose Your Color <a href="#"><i class="fa fa-gear fa-spin (alias)"></i></a></h2>
            <div>
                <ul class="colors" id="color1">
                    <li><a href="#" class="stylesheet"></a></li>
                    <li><a href="#" class="stylesheet_1"></a></li>
                    <li><a href="#" class="stylesheet_2"></a></li>
                    <li><a href="#" class="stylesheet_3"></a></li>
                    <li><a href="#" class="stylesheet_4"></a></li>
                    <li><a href="#" class="stylesheet_5"></a></li>
                </ul>
            </div>
        </div>*@

}