﻿@model CoinListingApp.Models.CreateListing

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")

@using (Html.BeginForm("Create", "Listings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="container form-horizontal">
        <div class="row text-center">
            <h2>Create Listing</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-offset-5 col-md-2">
                <h5 class="alert alert-warning">Available credits: <b>@ViewBag.UserAvailableCredit</b></h5>
            </div>
        </div>
        @Html.Partial("_Notify")
        <hr />
        <div class="row text-center">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>


        <div class="row form-group">
            <div class="col-md-3 col-sm-6 text-md-right">
                @Html.LabelFor(model => model.preOrderItem, "Pre-Order Item not yet in Stock", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-2 col-sm-4">
                @Html.CheckBoxFor(model => model.preOrderItem, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="row form-group IsShipping">

                <div class="col-md-7 col-sm-9 text-md-right">
                    @Html.LabelFor(model => model.shipInTwotoFourWeek, "Shipping In 2-4 Weeks", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-5 col-sm-3">

                    @Html.CheckBoxFor(model => model.shipInTwotoFourWeek, htmlAttributes: new { @class = "form-control" })
                </div>
                    
                <div class="col-md-7 col-sm-9 text-md-right">
                    @Html.LabelFor(model => model.shipInFourtoEightWeek, "Shipping In 4-8 Weeks", htmlAttributes: new { @class = "control-label" })

                </div>
                <div class="col-md-5 col-sm-3">
                    @Html.CheckBoxFor(model => model.shipInFourtoEightWeek, htmlAttributes: new { @class = "form-control" })
                </div>

            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group" id="subcategoryDiv">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.SubcategoryID, "Subcategory", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                <select id="SubcategoryID" class="form-control" name="SubcategoryID">
                </select>
                @Html.ValidationMessageFor(model => model.SubcategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.Expires, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                <select class="form-control" id="Expires" name="Expires">
                    <option value="30" selected>30 Days</option>
                    <option value="60">60 Days</option>
                    @if (ViewBag.isSubscribed > 0)
                    {
                        <option value="90">90 Days</option>
                    }
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.AllowOffers, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-3">
                @Html.EditorFor(model => model.AllowOffers)
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.QTY, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                @Html.ValidationMessageFor(model => model.QTY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.PostagePriceIsIncluded, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-xs-3">
                @Html.EditorFor(model => model.PostagePriceIsIncluded)
            </div>
            <div class="col-md-5">
                <span id="freePostageErrorMessage" class="field-validation-valid text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.PostageList, "Postage Service offered", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @for (int i = 0; i < Model.PostageList.Count; i++)
                {

                    @Html.HiddenFor(model => Model.PostageList[i].Postage.Name)

                    <div class="well">
                        @Html.HiddenFor(model => model.PostageList[i].PostageID)
                        <div class="row">
                            <div class="col-md-5 col-xs-6 text-right">
                                @Html.LabelFor(model => model.PostageList[i].Selected, Model.PostageList[i].Postage.Name)
                            </div>
                            <div class="col-md-5 col-xs-6">
                                @Html.CheckBoxFor(model => model.PostageList[i].Selected, new { @class = "postageServiceCheckbox" })
                            </div>
                        </div>

                        <div class="row form-group postage-price-divs">
                            <hr />
                            <div class="col-md-5 text-md-right">
                                @Html.LabelFor(model => model.PostageList[i].Price, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PostageList[i].Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PostageList[i].Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group postage-price-divs">
                            <div class="col-md-5 text-md-right">
                                @Html.LabelFor(model => model.PostageList[i].EachAdditionalItemPrice, "Additional Postage Price per Item", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PostageList[i].EachAdditionalItemPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PostageList[i].EachAdditionalItemPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.LabelFor(model => model.Photos, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                <div id="input-images"></div>
                @Html.ValidationMessageFor(model => model.Photos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.Label("Payment Option", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => Model.PaymentSelectedId, Model.PaymentList[0].ID) <b>Bank Transfer or PayPal F&F</b>
                </label>
                <br />
                <span>
                    Seller will need to contact each buyer with payment instructions after the Buyer has placed an order. Click <a href="~/users/payments">here</a> to set up automatic payment instructions.
                </span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                @Html.Label(" ", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => Model.PaymentSelectedId, Model.PaymentList[1].ID)<b>PayPal G&S</b>
                </label>
                <br />
                <span>
                    This option will incur the PayPal Goods and Services fee to the Seller. Please price your items accordingly. Buyer will benefit from PayPal Buyer Protection. Buyer will be directed to PayPal for instant payment.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                @Html.ValidationMessageFor(model => model.PaymentSelectedId, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="row form-group">
            <div class="col-md-offset-3 col-md-6 text-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="/styles/UDUI/scripts/jquery-3.4.1.min.js"></script>
<script src="/styles/UDUI/scripts/image-uploader.js"></script>

<script>

    function populateSubCategories(currentCategoryId) {

            var allSubcategories = @Html.Raw(ViewBag.SubcategoriesJson);
            var subcategories = allSubcategories[currentCategoryId] || [];

            var html = $.map(subcategories, function (sub) {
                return '<option value="' + sub.id + '">' + sub.name + '</option>'
            }).join('');

            $('#SubcategoryID').html(html);

            if (subcategories.length == 0) {
                $("#subcategoryDiv").hide();
            } else {
                $("#subcategoryDiv").show();
            }
    }

    function hidePostagePriceDivs() {
        $(".postage-price-divs").hide();
        if ($(".postageServiceCheckbox:checked").length > 1) {
            var postageServicesChecked = $(".postageServiceCheckbox:checked");
            for (var i = 0; i < postageServicesChecked.length; i++) {
                postageServicesChecked[i].checked = false;
            }
            $('#freePostageErrorMessage').text("Only one postage service can be selected if the postage is free.");
        }
    }

    $(document).ready(function () {
       
        
        if ($("#PostagePriceIsIncluded").prop('checked')) {
            hidePostagePriceDivs();
        }

        $("#PostagePriceIsIncluded").click(function () {

            if (this.checked) {
                hidePostagePriceDivs();

            } else {
                $(".postage-price-divs").show();
                $('#freePostageErrorMessage').text("");
            }
        });

        $(".postageServiceCheckbox").click(function () {
            if (this.checked) {
                if ($("#PostagePriceIsIncluded").prop('checked')) {
                    if ($(".postageServiceCheckbox:checked").length > 1) {
                        this.checked = false;
                        $('#freePostageErrorMessage').text("Only one postage service can be selected if the postage is free.")
                    } else {
                        $('#freePostageErrorMessage').text("");
                    }
                }

            } else {
                if ($(".postageServiceCheckbox:checked").length <= 1) {
                    $('#freePostageErrorMessage').text("");
                }
            }
        });

        $('#CategoryID').change(function () {
            populateSubCategories($(this).val());
        });

        populateSubCategories($('#CategoryID').val());

        $.noConflict();
        $("#input-images").imageUploader({
            imagesInputName: "Photos",
            coverIndexInputName: "CoverImageIndex",
            maxImages: @ViewBag.MaxPhotosAllowed
        });

    });


    $(document).ready(function () {
        $(".IsShipping").hide();

        console.log("Hello");

        $("#preOrderItem").click(function () {
            hideOrShowShippingPannel();
           
        });

        $("#shipInFourtoEightWeek").click(function () {
            var isFourToEightShippingChecked = $('#shipInFourtoEightWeek').prop('checked');

            if (isFourToEightShippingChecked) {
                $('#shipInTwotoFourWeek').prop('checked', false);
            }
            
        });

        $("#shipInTwotoFourWeek").click(function () {
            var shipInTwotoFourWeek = $('#shipInTwotoFourWeek').prop('checked');
            if (shipInTwotoFourWeek) {
                $('#shipInFourtoEightWeek').prop('checked', false);
            }
        });

    });

    function hideOrShowShippingPannel() {
        var isChecked = $('#preOrderItem').prop('checked');
        console.log(isChecked);
        if (isChecked) {
            $(".IsShipping").show();

        } else {
            $(".IsShipping").hide();

            $('#shipInTwotoFourWeek').prop('checked', false);
            $('#shipInFourtoEightWeek').prop('checked', false);
        } 
    }




</script>