﻿@model CoinListingApp.Models.Listing

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Listing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowOffers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowOffers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isHighlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isHighlight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBump)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBump)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeactivatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeactivatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Listings", "Users")
        </div>
    }
</div>
