﻿@model CoinListingApp.Models.DetailsListing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@section stylesheets{
    <link rel="stylesheet" href="~/Styles/UDUI/css/w3SchoolsModal.css">
}

@Html.Partial("_Notify")
@Html.HiddenFor(model => model.Listing.ListingID)

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", Model.Listing.Title } })

<div class="container">
    <div class="row utf_sticky_main_wrapper">
        <div class="col-lg-4 col-md-4">
            <div class="clearfix"></div>
            <div class="fotorama" style="display:block; margin:auto;" data-nav="thumbs" data-width="100%" data-allowfullscreen="true">
                @foreach (var photo in Model.Photos)
                {
                    @*<a href="@Model.Listing.Photos/@file.Name" data-background-image="@Model.Listing.Photos/@file.Name" class="item utf_gallery"></a>*@

                    <img src="@photo" alt="Listing Photo" />
                }
            </div>
            @*<br />
                <div class="utf_box_widget opening-hours review-avg-wrapper">
                    <h3><i class="sl sl-icon-star" style="background-color:gold"></i>  Seller's Rating </h3>
                    <div class="box-inner">
                        <div class="rating-avg-wrapper text-theme clearfix">
                            <div class="my-rating"></div>
                        </div>
                    </div>
                </div>*@
            <br />
            <div class="utf_box_widget opening-hours">
                <h3><i class="sl sl-icon-user"></i>@Html.ActionLink("Seller Profile", "Seller", "Users", new { id = Model.Listing.SellerD }, null)</h3>
                <h3><i class="sl sl-icon-envelope-open"></i>Message Seller</h3>
                <form id="contactform">
                    @*<div class="row">
                            <div class="col-md-12">
                                <input name="name" type="text" placeholder="Name" required="">
                            </div>
                            <div class="col-md-12">
                                <input name="email" type="email" placeholder="Email" required="">
                            </div>
                            <div class="col-md-12">
                                <input name="phone" type="text" placeholder="Phone" required="">
                            </div>
                            <div class="col-md-12">
                                <textarea name="comments" cols="40" rows="2" id="comments" placeholder="Your Message" required=""></textarea>
                            </div>
                        </div>
                        <input type="submit" class="submit button" id="submit" value="Contact Agent">*@

                    @Html.Action("SendMessageChatPartial", "Messages", new { receiverUserid = Model.Listing.SellerD })
                </form>
            </div>
        </div>

        <div class="col-lg-8 col-md-8">
            <div id="titlebar" class="utf_listing_titlebar">
                <div class="utf_listing_titlebar_title">
                    <h2>
                        <span class="listing-tag"> @Html.DisplayFor(model => model.Listing.Category.CategoryName)</span>
                        <span class="listing-tag">QTY AVAILABLE: @Html.DisplayFor(model => model.Listing.QTY)</span>
                        <span class="listing-tag">Allow Offers: @(Model.Listing.AllowOffers==1?"Yes":"No")</span>
                        <span class="listing-tag">Expiry: @(Model.Listing.Expires.ToString("d MMMM yyyy"))</span>
                    </h2>
                    <span> <a href="#utf_listing_location" class="listing-address"> <i class="sl sl-icon-location"></i>  @Html.DisplayFor(model => model.Listing.User.Address1.City),  @Html.DisplayFor(model => model.Listing.User.Address1.Country)  </a> </span>
                    <span class="call_now"><i class="sl sl-icon-envelope-open"></i> @Html.ActionLink(Model.SellerNameMasked, "Seller", "Users", new { id = Model.Listing.SellerD }, null)</span>
                    @if (Model.AverageRating > 0)
                    {
                        <div class="utf_star_rating_section" data-rating="@Model.AverageRating">
                            <div class="utf_counter_star_rating">(@Model.AverageRating)</div>
                        </div>
                    }
                    else
                    {
                        <span>Not rated yet</span>
                    }
                    <hr />
                    @if (Model.UserID != Model.Listing.SellerD)
                    {
                        if (Model.Favourite == false)
                        {
                            @Html.ActionLink("Save this Seller to Favourites", "Favourite", "Users", new { sellerId = Model.Listing.SellerD, listingId = Model.Listing.ListingID }, new { @class = "button" })
                        }
                        else if (Model.Listing.SellerD != Model.UserID)
                        {
                            @Html.ActionLink("Remove this Seller from Favourites", "UnFavourite", "Users", new { sellerId = Model.Listing.SellerD, listingId = Model.Listing.ListingID }, new { @class = "button" })
                        }
                    }

                    @if (!Model.Expired)
                    {
                        if (Model.WatchlistButtonViewModel.Watching == false)
                        {
                            <a class="button" onclick="turnWatchingOn(@Model.Listing.ListingID)">Add to Watchlist</a>
                        }
                        else
                        {
                            <a class="button" onclick="turnWatchingOff(@Model.Listing.ListingID)">Remove from Watchlist</a>
                        }

                        if (Model.UserID != Model.Listing.SellerD)
                        {
                            if (Model.Listing.AllowOffers > 0 && Model.OfferMade == false)
                            {
                                @Html.ActionLink("Make an Offer", "MakeOffer", new { id = Model.Listing.ListingID }, new { @class = "button" })
                            }
                            else if (Model.OfferMade == true)
                            {
                                <p>You have already made an offer</p>
                            }
                        }

                        if (Model.Reported == false)
                        {
                            @*<a href="#" id="btnShowModal" class="button" style="background-color:red;">Report Seller</a>*@
                        }
                        <br />
                        if (Model.shipInTwotoFourWeek == true)
                        { <div style="background-color: #ff4040; padding: 10px;">
                                <label style="color: white">Pre-Order Item. Shipping in 2-4 Weeks. Seller will make contact once items are in hand</label>
                            </div>
                        }
                        else if (Model.shipInFourtoEightWeek == true)
                        {

                            <div style="background-color: #ff4040; padding: 10px;">
                                <label style="color: white;">Pre-Order Item. Shipping in 4-8 Weeks. Seller will make contact once items are in hand</label>
                            </div>
                        }

                        <hr />

                        <div id="utf_listing_overview" class="utf_listing_section">
                            <h3 class="utf_listing_headline_part margin-top-20 margin-bottom-20">Listing Description</h3>
                            @Html.DisplayWithBreaksFor(model => model.Listing.Description)
                        </div>
                        <hr />
                        @Html.DisplayNameFor(model => model.Amount)
                        @Html.TextBoxFor(model => model.Amount, new { style = "width: 250px", type = "number", max = Model.Listing.QTY, min = "1", onchange = "onchangeevent()" })

                        @Html.Label("Total")
                        <h4 id="Total">
                            &#163; @Math.Round(Model.Listing.Price, 2).ToString("N2")
                        </h4>

                        if (Model.PostagePriceIsIncluded)
                        {
                            <span>(Postage is included free)</span>
                        }
                        else
                        {
                            <span>(Price excludes postage. Select at Checkout)</span>
                        }
                        <br />

                        @Html.HiddenFor(model => Model.Listing.Price)

                        if (Model.UserID == Model.Listing.SellerD)
                        {
                            <span>You are the seller of this listing.</span>
                        }
                        else
                        {

                            <a class="now_open" style="cursor:pointer" onclick="AddToCart()">Add to Cart</a>
                        }
                        @*<input type="button" value="Add to Cart" onclick="AddToCart();" class="now_open">*@
                        @*@Html.ActionLink("Checkout", "AddListingAndGoToCheckoutV2", new { id = Model.Listing.ListingID, amount = Model.Amount }, new { @class = "now_open" })*@
                    }
                </div>
            </div>
            <div id="utf_listing_overview" class="utf_listing_section">
                @*<h3 class="utf_listing_headline_part margin-top-30 margin-bottom-30">Listing Description</h3>
                    @Html.DisplayFor(model => model.Listing.Description)*@

                <div class="buttons-social">
                    <script>
                        document.write('<a href="https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '" target="_blank" title="Facebook" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#3b5998;"><svg style="display:block;fill:#fff;height:44%;margin:28% auto;" viewBox="0 -256 864 1664"><path transform="matrix(1,0,0,-1,-95,1280)" d="M 959,1524 V 1260 H 802 q -86,0 -116,-36 -30,-36 -30,-108 V 927 H 949 L 910,631 H 656 V -128 H 350 V 631 H 95 v 296 h 255 v 218 q 0,186 104,288.5 104,102.5 277,102.5 147,0 228,-12 z" /></svg></a> <a href="https://twitter.com/share?url=' + encodeURIComponent(document.URL) + '&text=' + encodeURIComponent(document.title) + '" target="_blank" title="Twitter" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#1b95e0;"><svg style="display:block;fill:#fff;height:36%;margin:32% auto;" viewBox="0 -256 1576 1280"><path transform="matrix(1,0,0,-1,-44,1024)" d="m 1620,1128 q -67,-98 -162,-167 1,-14 1,-42 0,-130 -38,-259.5 Q 1383,530 1305.5,411 1228,292 1121,200.5 1014,109 863,54.5 712,0 540,0 269,0 44,145 q 35,-4 78,-4 225,0 401,138 -105,2 -188,64.5 -83,62.5 -114,159.5 33,-5 61,-5 43,0 85,11 Q 255,532 181.5,620.5 108,709 108,826 v 4 q 68,-38 146,-41 -66,44 -105,115 -39,71 -39,154 0,88 44,163 Q 275,1072 448.5,982.5 622,893 820,883 q -8,38 -8,74 0,134 94.5,228.5 94.5,94.5 228.5,94.5 140,0 236,-102 109,21 205,78 -37,-115 -142,-178 93,10 186,50 z" /></svg></a> ' + (/mobile|android|blackberry/i.test(navigator.userAgent) ? '<a href="whatsapp://send?text=' + encodeURIComponent(document.URL) + '" title="WhatsApp" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#43d854;"><svg style="display:block;fill:#fff;height:44%;margin:28% auto;" viewBox="0 -256 1536 1548"><path transform="matrix(1,0,0,-1,0,1158)" d="m 985,562 q 13,0 98,-44 84,-44 89,-53 2,-5 2,-15 0,-33 -17,-76 -16,-39 -71,-65.5 -55,-26.5 -102,-26.5 -57,0 -190,62 -98,45 -170,118 -72,73 -148,185 -72,107 -71,194 v 8 q 3,91 74,158 24,22 52,22 6,0 18,-1 12,-2 19,-2 19,0 26.5,-6 7.5,-7 15.5,-28 8,-20 33,-88 25,-68 25,-75 0,-21 -34.5,-57.5 Q 599,735 599,725 q 0,-7 5,-15 34,-73 102,-137 56,-53 151,-101 12,-7 22,-7 15,0 54,48.5 39,48.5 52,48.5 z M 782,32 q 127,0 244,50 116,50 200,134 84,84 134,200.5 50,116.5 50,243.5 0,127 -50,243.5 -50,116.5 -134,200.5 -84,84 -200,134 -117,50 -244,50 -127,0 -243.5,-50 Q 422,1188 338,1104 254,1020 204,903.5 154,787 154,660 154,457 274,292 L 195,59 437,136 Q 595,32 782,32 z m 0,1382 q 153,0 293,-60 139,-60 240,-161 101,-101 161,-240.5 Q 1536,813 1536,660 1536,507 1476,367.5 1416,228 1315,127 1214,26 1075,-34 935,-94 782,-94 587,-94 417,0 L 0,-134 136,271 Q 28,449 28,660 q 0,153 60,292.5 60,139.5 161,240.5 101,101 240.5,161 139.5,60 292.5,60 z" /></svg></a> ' : '') + '<a href="mailto:?body=' + encodeURIComponent(document.URL) + '%0A%0A' + encodeURIComponent(document.querySelector('meta[name=description]') ? document.querySelector('meta[name=description]').content : '') + '&subject=' + encodeURIComponent(document.title) + '" title="Mail" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#555;"><svg style="display:block;fill:#fff;height:36%;margin:32% auto;" viewBox="0 -256 1792 1408"><path transform="matrix(1,0,0,-1,0,1024)" d="M 1792,826 V 32 q 0,-66 -47,-113 -47,-47 -113,-47 H 160 Q 94,-128 47,-81 0,-34 0,32 V 826 Q 44,777 101,739 463,493 598,394 655,352 690.5,328.5 726,305 785,280.5 844,256 895,256 h 1 1 q 51,0 110,24.5 59,24.5 94.5,48 35.5,23.5 92.5,65.5 170,123 498,345 57,39 100,87 z m 0,294 q 0,-79 -49,-151 -49,-72 -122,-123 -376,-261 -468,-325 -10,-7 -42.5,-30.5 -32.5,-23.5 -54,-38 Q 1035,438 1004.5,420 974,402 947,393 q -27,-9 -50,-9 h -1 -1 q -23,0 -50,9 -27,9 -57.5,27 -30.5,18 -52,32.5 -21.5,14.5 -54,38 Q 649,514 639,521 548,585 377,703.5 206,822 172,846 110,888 55,961.5 0,1035 0,1098 q 0,78 41.5,130 41.5,52 118.5,52 h 1472 q 65,0 112.5,-47 47.5,-47 47.5,-113 z" /></svg></a> <a href="https://www.linkedin.com/shareArticle?url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title) + '" target="_blank" title="LinkedIn" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#0077b5;"><svg style="display:block;fill:#fff;height:42%;margin:29% auto;" viewBox="0 -256 1536 1468"><path transform="matrix(1,0,0,-1,0,1132)" d="M 349,911 V -80 H 19 v 991 h 330 z m 21,306 q 1,-73 -50.5,-122 Q 268,1046 184,1046 h -2 q -82,0 -132,49 -50,49 -50,122 0,74 51.5,123 51.5,48 134.5,48 83,0 133,-48 50,-49 51,-123 z M 1536,488 V -80 h -329 v 530 q 0,105 -40,164.5 Q 1126,674 1040,674 977,674 934.5,639.5 892,605 871,554 860,524 860,473 V -80 H 531 q 2,399 2,647 0,248 -1,296 l -1,48 H 860 V 767 h -2 q 20,32 41,56 21,24 56.5,52 35.5,28 87.5,43.5 51,15.5 114,15.5 171,0 275,-113.5 Q 1536,707 1536,488 z" /></svg></a>');
                    </script>
                </div>

                @*
                                <script>document.write('<a href="https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '"target="_blank"title="Facebook"style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#3b5998;"><svg style="display:block;fill:#fff;height:44%;margin:28% auto;" viewBox="0 -256 864 1664"><path transform="matrix(1,0,0,-1,-95,1280)" d="M 959,1524 V 1260 H 802 q -86,0 -116,-36 -30,-36 -30,-108 V 927 H 949 L 910,631 H 656 V -128 H 350 V 631 H 95 v 296 h 255 v 218 q 0,186 104,288.5 104,102.5 277,102.5 147,0 228,-12 z" /></svg></a> <a href="https://twitter.com/share?url=' + encodeURIComponent(document.URL) + '&text=' + encodeURIComponent(document.title) + '"target="_blank"title="Twitter"style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#1b95e0;"><svg style="display:block;fill:#fff;height:36%;margin:32% auto;" viewBox="0 -256 1576 1280"><path transform="matrix(1,0,0,-1,-44,1024)" d="m 1620,1128 q -67,-98 -162,-167 1,-14 1,-42 0,-130 -38,-259.5 Q 1383,530 1305.5,411 1228,292 1121,200.5 1014,109 863,54.5 712,0 540,0 269,0 44,145 q 35,-4 78,-4 225,0 401,138 -105,2 -188,64.5 -83,62.5 -114,159.5 33,-5 61,-5 43,0 85,11 Q 255,532 181.5,620.5 108,709 108,826 v 4 q 68,-38 146,-41 -66,44 -105,115 -39,71 -39,154 0,88 44,163 Q 275,1072 448.5,982.5 622,893 820,883 q -8,38 -8,74 0,134 94.5,228.5 94.5,94.5 228.5,94.5 140,0 236,-102 109,21 205,78 -37,-115 -142,-178 93,10 186,50 z" /></svg></a> ' + (/mobile|android|blackberry/i.test(navigator.userAgent) ? '<a href="whatsapp://send?text=' + encodeURIComponent(document.URL) + '"title="WhatsApp"style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#43d854;"><svg style="display:block;fill:#fff;height:44%;margin:28% auto;" viewBox="0 -256 1536 1548"><path transform="matrix(1,0,0,-1,0,1158)" d="m 985,562 q 13,0 98,-44 84,-44 89,-53 2,-5 2,-15 0,-33 -17,-76 -16,-39 -71,-65.5 -55,-26.5 -102,-26.5 -57,0 -190,62 -98,45 -170,118 -72,73 -148,185 -72,107 -71,194 v 8 q 3,91 74,158 24,22 52,22 6,0 18,-1 12,-2 19,-2 19,0 26.5,-6 7.5,-7 15.5,-28 8,-20 33,-88 25,-68 25,-75 0,-21 -34.5,-57.5 Q 599,735 599,725 q 0,-7 5,-15 34,-73 102,-137 56,-53 151,-101 12,-7 22,-7 15,0 54,48.5 39,48.5 52,48.5 z M 782,32 q 127,0 244,50 116,50 200,134 84,84 134,200.5 50,116.5 50,243.5 0,127 -50,243.5 -50,116.5 -134,200.5 -84,84 -200,134 -117,50 -244,50 -127,0 -243.5,-50 Q 422,1188 338,1104 254,1020 204,903.5 154,787 154,660 154,457 274,292 L 195,59 437,136 Q 595,32 782,32 z m 0,1382 q 153,0 293,-60 139,-60 240,-161 101,-101 161,-240.5 Q 1536,813 1536,660 1536,507 1476,367.5 1416,228 1315,127 1214,26 1075,-34 935,-94 782,-94 587,-94 417,0 L 0,-134 136,271 Q 28,449 28,660 q 0,153 60,292.5 60,139.5 161,240.5 101,101 240.5,161 139.5,60 292.5,60 z" /></svg></a> ' : '') + '<a href="mailto:?body=' + encodeURIComponent(document.URL) + '%0A%0A' + encodeURIComponent(document.querySelector('meta[name=description]') ? document.querySelector('meta[name=description]').content : '') + '&subject=' + encodeURIComponent(document.title) + '"title="Mail"style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#555;"><svg style="display:block;fill:#fff;height:36%;margin:32% auto;" viewBox="0 -256 1792 1408"><path transform="matrix(1,0,0,-1,0,1024)" d="M 1792,826 V 32 q 0,-66 -47,-113 -47,-47 -113,-47 H 160 Q 94,-128 47,-81 0,-34 0,32 V 826 Q 44,777 101,739 463,493 598,394 655,352 690.5,328.5 726,305 785,280.5 844,256 895,256 h 1 1 q 51,0 110,24.5 59,24.5 94.5,48 35.5,23.5 92.5,65.5 170,123 498,345 57,39 100,87 z m 0,294 q 0,-79 -49,-151 -49,-72 -122,-123 -376,-261 -468,-325 -10,-7 -42.5,-30.5 -32.5,-23.5 -54,-38 Q 1035,438 1004.5,420 974,402 947,393 q -27,-9 -50,-9 h -1 -1 q -23,0 -50,9 -27,9 -57.5,27 -30.5,18 -52,32.5 -21.5,14.5 -54,38 Q 649,514 639,521 548,585 377,703.5 206,822 172,846 110,888 55,961.5 0,1035 0,1098 q 0,78 41.5,130 41.5,52 118.5,52 h 1472 q 65,0 112.5,-47 47.5,-47 47.5,-113 z" /></svg></a> <a href="https://www.linkedin.com/shareArticle?url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title) + '"target="_blank"title="LinkedIn"style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:20%;background:#0077b5;"><svg style="display:block;fill:#fff;height:42%;margin:29% auto;" viewBox="0 -256 1536 1468"><path transform="matrix(1,0,0,-1,0,1132)" d="M 349,911 V -80 H 19 v 991 h 330 z m 21,306 q 1,-73 -50.5,-122 Q 268,1046 184,1046 h -2 q -82,0 -132,49 -50,49 -50,122 0,74 51.5,123 51.5,48 134.5,48 83,0 133,-48 50,-49 51,-123 z M 1536,488 V -80 h -329 v 530 q 0,105 -40,164.5 Q 1126,674 1040,674 977,674 934.5,639.5 892,605 871,554 860,524 860,473 V -80 H 531 q 2,399 2,647 0,248 -1,296 l -1,48 H 860 V 767 h -2 q 20,32 41,56 21,24 56.5,52 35.5,28 87.5,43.5 51,15.5 114,15.5 171,0 275,-113.5 Q 1536,707 1536,488 z" /></svg></a>');</script><!--end buttons.social-->

                               <div class="social-contact">
                        <a href="#" class="facebook-link"><i class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" class="twitter-link"><i class="fa fa-twitter"></i> Twitter</a>
                        <a href="#" class="instagram-link"><i class="fa fa-instagram"></i> Instagram</a>
                        <a href="#" class="linkedin-link"><i class="fa fa-linkedin"></i> Linkedin</a>
                        <a href="#" class="youtube-link"><i class="fa fa-youtube-play"></i> Youtube</a>
                    </div>*@
            </div>
        </div>

        <!-- The Modal -->
        <div id="modalWhenAddToCart" class="modal">

            <!-- Modal content -->
            <div class="modal-content-front">
                <span class="close-modal">&times;</span>
                <h3>Please Note</h3>
                <div class="row text-center">
                    <div class="modal-message"></div>
                </div>
                <hr />
                <div class="row text-right">
                    <div class="col-md-offset-9 col-md-3">
                        <input class="btn btn-default confirm-modal-btn" style="margin-bottom: 0px" value="Close" type="button" onclick="closeModal();window.scrollTo(0, 0);" />
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript">

            var modalWhenAddToCart;
            var modalWhenAddToCartMessageDiv = $('#modalWhenAddToCart .modal-message')[0];

                function AddToCart() {

                    $.post("/Cart/Add", { IdListing: @Model.Listing.ListingID, Qty: $('#Amount').val() },
                    function (data)
                    {
                        if (data.Success) {
                            //alert(data.Message);
                            $("#modalBodyText").text(data.Message);
                            //increase the cart amount by $('#Amount').val()

                            var currentValue =parseInt($('#qytCart')[0].innerText);
                var newValue = currentValue + parseInt($('#Amount').val());
                $('#qytCart')[0].innerText = newValue;

                        } else {

                            $("#modalBodyText").text(data.Message);
                            //alert(data.Message);

                        }

                        modalWhenAddToCartMessageDiv.innerText = data.Message;
                        showModal();
                        //$("#modal").modal('show');

                    });

                }

                function onchangeevent() {

                    if (@Model.Listing.QTY < $('#Amount').val()) {
                        $('#Amount').val(@Model.Listing.QTY)
                    }

                    var total = $('#Amount').val() * @Math.Round(Model.Listing.Price, 2);

                    $('#Total').text("£ " + total.toFixed(2));
                }

                $(document).ready(function () {
                    $("#btnShowModal").click(function () {
                        $("#modal").modal('show');
                    });

                    $("#btnHideModal").click(function () {
                        $("#modal").modal('hide');
                    });

                    modalWhenAddToCart = document.getElementById('modalWhenAddToCart');

                    var closeModalSpans = $(".close-modal");
                    var dismissModatBtns = $('.dismiss-modal-btn');

                    for (var i = 0; i < dismissModatBtns.length; i++) {

                        // When the user clicks on <span> (x), close the modal
                        closeModalSpans[i].onclick = function () {
                            closeModal()
                        }

                        dismissModatBtns[i].onclick = function () {
                            closeModal()
                        }

                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == this.modalWhenAddToCart) {
                            closeModal()
                        }
                    }

                    $(".my-rating").starRating({
                        starSize: 50,
                        starShape: 'rounded',
                        strokeWidth: 0,
                        useGradient: false,
                        ratedColor: '#707070',
                        minRating: 1,
                        readOnly: false,
                        initialRating: 3.5,
                        callback: function (currentRating, $el) {
                            alert(currentRating);
                            // make a server call here
                        }
                    });
                });

            function closeModal() {
                modalWhenAddToCart.style.display = "none";
            }

            function showModal() {
                modalWhenAddToCart.style.display = "block";
            }
        </script>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Attention</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="col-form-label" id="modalBodyText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary button" data-dismiss="modal" onclick="window.scrollTo(0, 0);">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="text-center">
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    function turnWatchingOff(listingId) {
        toggleWatching(listingId, "UnWatch");
    }

    function turnWatchingOn(listingId) {
        toggleWatching(listingId, "Watch");
    }

    function toggleWatching(listingId, action) {

        var isAuthenticated = @Html.Raw(Json.Encode(Context.User.Identity.IsAuthenticated));

        if (!isAuthenticated) {
            window.location.href = window.location.origin + "/Account/Login?ReturnUrl=" + encodeURIComponent(window.location.pathname);
        } else {
            $.post("/Users/" + action, { id: listingId }, function (data) {
                //do whatever with the response
                window.location.reload(true);
                //alert(data);
            });
        }
    }
</script>

@*
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-600dbc7149b6bb6f"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-600dbc7149b6bb6f"></script>
*@