﻿@model CoinListingApp.Models.DetailsListing

@{
    ViewBag.Title = "Make Offer";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", Model.Listing.Title } })

<h2 class="text-center">Make an offer</h2>
<br />
<div class="container">
    @Html.Partial("_Notify")
    <div class="row utf_sticky_main_wrapper">
        <div class="col-lg-4 col-md-4">
            <div class="clearfix"></div>
            <div class="fotorama" style="display:block; margin:auto;" data-nav="thumbs" data-width="100%" data-allowfullscreen="true">
                @foreach (var photo in Model.Photos)
                {
                    <img src="@photo" alt="Listing Photo" />
                }
            </div>
            <br />
        </div>

        <div class="col-lg-8 col-md-8">
            <div id="titlebar" class="utf_listing_titlebar">
                <div class="utf_listing_titlebar_title">
                    <h2><span class="listing-tag"> @Html.DisplayFor(model => model.Listing.Category.CategoryName)</span><span class="listing-tag">Quantity: @Html.DisplayFor(model => model.Listing.QTY)</span><span class="listing-tag">Allow Offers: @(Model.Listing.AllowOffers ==1?"Yes":"No")</span></h2>
                    <span> <a href="#utf_listing_location" class="listing-address"> <i class="sl sl-icon-location"></i>  @Html.DisplayFor(model => model.Listing.User.Address1.City),  @Html.DisplayFor(model => model.Listing.User.Address1.Country)  </a> </span>
                    <span class="call_now"><i class="sl sl-icon-envelope-open"></i> @Html.ActionLink(Model.SellerNameMasked, "Seller", "Users", new { id = Model.Listing.SellerD }, null)</span>
                    <hr />
                    <h2>@Model.Listing.Title</h2>
                    <p>@Model.Listing.Description</p>
                    <div class="row">
                        @using (Html.BeginForm())
                        {

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Listing.ListingID)

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label class="control-label col-md-3" for="Listing_QTY">Quantity</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Listing.QTY, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Listing.QTY, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Listing.Price, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Listing.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Listing.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-offset-3 col-md-9">
                                    <h5 class="alert alert-warning">Offers must include postage.</h5>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Make the offer" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @Html.ActionLink("Back to Listing Details", "Details", new{ id = Model.Listing.ListingID})
    </div>
    <br />
</div>


