﻿@model IEnumerable<CoinListingApp.Models.CreditHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_Notify")

<h2>Export Transaction History</h2>

@using (Html.BeginForm(Html.BeginForm("Export", "CreditHistories", FormMethod.Post)))
{
    <div class="row">
        <div class=" col-md-2">
            <h5>Date From:</h5>
            @Html.TextBox("dateFrom", ViewBag.DateFrom as string, new { @type = "Date" })
        </div>

        <div class="col-md-2">
            <h5>Date To:</h5>
            @Html.TextBox("dateTo", ViewBag.DateTo as string, new { @type = "Date" })
        </div>
        <div class="col-md-2">
            <br />
            <input class="btn btn-success" type="submit" value="Export to CSV" />
        </div>
    </div>
}

<hr />

<h2>Transaction History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDetail)
            </td>
            <td>
                @item.DateOfPurchase.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
        </tr>
    }
</table>
