﻿@model CoinListingApp.Models.Tracking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<div class="text-center">
    <h2>Create Tracking Info</h2>
</div>

@Html.Partial("_Notify")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
    


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @*<div class="form-group row">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group row">
            <div class="col-md-offset-3 col-md-6">
                <p>Please insert bellow a generic message about the tracking of your sold orders.</p>
                <p>This message will be part of the item dispatched notification message that is sent to the buyer after you shipped the order.</p>
                <p>You should use the special keyword <b><i>{TrackingNumber}</i></b> in the generic message. In this way, when you are shipping the order you may introduce the tracking number of that specific order and then the message that is sent to the buyer will include the tracking number.</p>
                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-3 col-md-6 text-center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

