﻿@model IEnumerable<CoinListingApp.Models.Tracking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_Notify")

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrackingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TrackingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TrackingID })
            </td>
        </tr>
    }

</table>
