﻿@model CoinListingApp.Models.Offer

@{
    ViewBag.Title = "Couter offer";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<h2>Counter Offer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OfferID)

    <div class="row text-center">
        <div class="col-md-offset-1 col-md-4">
            <h3 class="alert alert-warning"><b>@(3 - Model.Counters) counters available</b></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h2>@Model.Listing.Title</h2>
            <p>@Model.Listing.Description</p>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-1" for="Listing_QTY">Quantity</label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QTY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row text-center">
        <div class="col-md-offset-1 col-md-4">
            <h5 class="alert alert-warning">Offers must include postage.</h5>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Make the counter offer" class="btn btn-default" />
        </div>
    </div>
</div>
}
