﻿@model CoinListingApp.Models.Offer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Counters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OfferID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
