﻿@model CoinListingApp.Models.OffersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}
@section stylesheets{
    <link rel="stylesheet" href="~/Styles/UDUI/css/w3SchoolsModal.css">
}

@Html.Partial("_Notify")

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.UserId)

@Html.ValidationSummary("", new { @class = "text-danger" })

@*Open Offers As Buyer*@
<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-arrow-up-circle"></i>Offers sent as a Buyer</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblBuyerOffers" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                            <thead>
                                <tr>
                                    <th>
                                        Listing
                                    </th>
                                    <th>
                                        Seller
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Counters
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OffersAsBuyer)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.Listing.Title, "Details", "Listings", new { id = item.Listing.ListingID }, null)
                                        </td>
                                        <td>
                                            @Html.ActionLink(@item.SellerMaskedName, "Seller", "Users", new { id = item.Listing.SellerD }, null)
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                        <td>
                                            &#163; @Math.Round(item.Price, 2)
                                        </td>
                                        <td>
                                            @item.Counters/3
                                        </td>
                                        <td>
                                            @if (item.BuyerActionPending && !item.SellerActionPending)
                                            {
                                                <span class="table-badge tb-bg-danger">Waiting for YOUR action</span>
                                            }
                                            else if (item.SellerActionPending && !item.BuyerActionPending)
                                            {
                                                <span class="table-badge tb-bg-success">Waiting for Seller's action</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="row">
                                                @if (item.BuyerActionPending && !item.SellerActionPending && item.Counters < Model.MaxCounterOffers)
                                                {
                                                    <div class="col-md-4">
                                                        <input class="btn btn-primary" style="margin-bottom: 0px" value="Counter offer" type="button" onclick="goToCounterOffer(@item.OfferID)" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input class="btn btn-success" style="margin-bottom: 0px" value="Accept" type="button" onclick="acceptOffer(@item.OfferID)" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input class="btn btn-danger" style="margin-bottom: 0px" value="Withdraw" type="button" onclick="withdrawOffer(@item.OfferID)" />
                                                    </div>
                                                }
                                                else if (item.BuyerActionPending && !item.SellerActionPending && item.Counters >= Model.MaxCounterOffers)
                                                {
                                                    <div class="@Html.Raw(Model.MaxBuyerPossibleActions == 3 ? "col-md-offset-2 col-md-4" : "col-md-6")">
                                                        <input class="btn btn-success" style="margin-bottom: 0px" value="Accept" type="button" onclick="acceptOffer(@item.OfferID)" />
                                                    </div>
                                                    <div class="@Html.Raw(Model.MaxBuyerPossibleActions == 3 ? "col-md-4" : "col-md-6")">
                                                        <input class="btn btn-danger" style="margin-bottom: 0px" value="Withdraw" type="button" onclick="withdrawOffer(@item.OfferID)" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="@Html.Raw(Model.MaxBuyerPossibleActions == 3 ? "col-md-offset-4 col-md-4" : Model.MaxBuyerPossibleActions == 2 ? "col-md-offset-3 col-md-6" : "col-md-12")">
                                                        <input class="btn btn-danger" style="margin-bottom: 0px" value="Withdraw" type="button" onclick="withdrawOffer(@item.OfferID)" />
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (!Model.OffersAsBuyer.Any())
                        {
                            <p class="text-center">You don't have any offer</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@*Open Offers As Seller*@
<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-arrow-down-circle"></i>Offers received as a Seller</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="row text-center">
                            <div class="col-md-offset-3 col-md-6">
                                <h5 class="alert alert-warning">All offers must be inclusive of postage costs.</h5>
                            </div>
                        </div>
                        <br />

                        <table id="tblBuyerOffers" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                            <thead>
                                <tr>
                                    <th>
                                        Listing
                                    </th>
                                    <th>
                                        Buyer
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Counters
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OffersAsSeller)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.Listing.Title, "Details", "Listings", new { id = item.Listing.ListingID }, null)
                                        </td>
                                        <td>
                                            @item.BuyerMaskedName
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                        <td>
                                            &#163; @Math.Round(item.Price, 2)
                                        </td>
                                        <td>
                                            @item.Counters/3
                                        </td>
                                        <td>
                                            @if (item.BuyerActionPending && !item.SellerActionPending)
                                            {
                                                <span class="table-badge tb-bg-success">Waiting for Buyer's action</span>
                                            }
                                            else if (item.SellerActionPending && !item.BuyerActionPending)
                                            {
                                                <span class="table-badge tb-bg-danger">Waiting for YOUR action</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="row">
                                                @if (!item.BuyerActionPending && item.SellerActionPending && item.Counters < Model.MaxCounterOffers)
                                                {
                                                    <div class="col-md-4">
                                                        <input class="btn btn-primary" style="margin-bottom: 0px" value="Counter offer" type="button" onclick="goToCounterOffer(@item.OfferID)" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input class="btn btn-success" style="margin-bottom: 0px" value="Accept" type="button" onclick="acceptOffer(@item.OfferID)" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input class="btn btn-danger" style="margin-bottom: 0px" value="Decline" type="button" onclick="declineOffer(@item.OfferID)" />
                                                    </div>
                                                }
                                                else if (!item.BuyerActionPending && item.SellerActionPending && item.Counters >= Model.MaxCounterOffers)
                                                {
                                                    <div class="@Html.Raw(Model.MaxSellerPossibleActions == 3 ? "col-md-offset-2 col-md-4" : "col-md-6")">
                                                        <input class="btn btn-success" style="margin-bottom: 0px" value="Accept" type="button" onclick="acceptOffer(@item.OfferID)" />
                                                    </div>
                                                    <div class="@Html.Raw(Model.MaxSellerPossibleActions == 3 ? "col-md-4" : "col-md-6")">
                                                        <input class="btn btn-danger" style="margin-bottom: 0px" value="Decline" type="button" onclick="declineOffer(@item.OfferID)" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="@Html.Raw(Model.MaxSellerPossibleActions == 3 ? "col-md-offset-4 col-md-4" : Model.MaxSellerPossibleActions == 2 ? "col-md-offset-3 col-md-6" : "col-md-12")">
                                                        <input class="btn btn-danger" style="margin-bottom: 0px" value="Decline" type="button" onclick="declineOffer(@item.OfferID)" />
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (!Model.OffersAsSeller.Any())
                        {
                            <p class="text-center">You don't have any offer</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
@*Closed Offers As Buyer*@
<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part" style="background-color: #424242b0">
                    <h3><i class="sl sl-icon-arrow-up-circle"></i>Closed Offers as a Buyer</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <table id="tblBuyerOffers" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                            <thead>
                                <tr>
                                    <th>
                                        Listing
                                    </th>
                                    <th>
                                        Seller
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Counters
                                    </th>
                                    <th>
                                        Outcome
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ClosedOffersAsBuyer)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.Listing.Title, "Details", "Listings", new { id = item.Listing.ListingID }, null)
                                        </td>
                                        <td>
                                            @Html.ActionLink(@item.SellerMaskedName, "Seller", "Users", new { id = item.Listing.SellerD }, null)
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                        <td>
                                            &#163; @Math.Round(item.Price, 2)
                                        </td>
                                        <td>
                                            @item.Counters/3
                                        </td>
                                        <td>
                                            @if (item.Status.State == "ACCEPTED")
                                            {
                                                <span class="table-badge tb-bg-success">@item.Status.State</span>
                                            }
                                            else if (item.Status.State == "DECLINED")
                                            {
                                                <span class="table-badge tb-bg-danger">@item.Status.State</span>
                                            }
                                            else
                                            {
                                                <span class="table-badge">@item.Status.State</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (!Model.ClosedOffersAsBuyer.Any())
                        {
                            <p class="text-center">You don't have any closed offer</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@*Closed Offers As Seller*@
<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part" style="background-color: #424242b0">
                    <h3><i class="sl sl-icon-arrow-down-circle"></i>Closed Offers as a Seller</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <table id="tblBuyerOffers" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                            <thead>
                                <tr>
                                    <th>
                                        Listing
                                    </th>
                                    <th>
                                        Buyer
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Counters
                                    </th>
                                    <th>
                                        Outcome
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ClosedOffersAsSeller)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.Listing.Title, "Details", "Listings", new { id = item.Listing.ListingID }, null)
                                        </td>
                                        <td>
                                            @item.BuyerMaskedName
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                        <td>
                                            &#163; @Math.Round(item.Price, 2)
                                        </td>
                                        <td>
                                            @item.Counters/3
                                        </td>
                                        <td>
                                            @if (item.Status.State == "ACCEPTED")
                                            {
                                                <span class="table-badge tb-bg-success">@item.Status.State</span>
                                            }
                                            else if (item.Status.State == "WITHDRAW")
                                            {
                                                <span class="table-badge tb-bg-danger">@item.Status.State</span>
                                            }
                                            else
                                            {
                                                <span class="table-badge">@item.Status.State</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (!Model.ClosedOffersAsSeller.Any())
                        {
                            <p class="text-center">You don't have any closed offer</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<!-- The Modal -->
<div id="modalOfferActions" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h3>Please confirm</h3>
        <div class="row text-center">
            <p class="modal-message"></p>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-6 col-md-3">
                <input class="btn btn-primary confirm-modal-btn" style="margin-bottom: 0px" value="Confirm" type="button" onclick="" />
            </div>
            <div class="col-md-3">
                <input class="btn btn-danger dismiss-modal-btn" style="margin-bottom: 0px" value="Dismiss" type="button" />
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var modal;
        var modalId = 'modalOfferActions';
        var modalMessageDiv = $('#' + modalId + ' .modal-message')[0];
        var confirmModalBtn = $('#' + modalId + ' .confirm-modal-btn')[0];

        $(document).ready(function () {
            // Get the modal

            modal = document.getElementById(modalId);

            // Get the <span> element that closes the modal
            var closeModalSpan = $(".close-modal")[0];

            // When the user clicks on <span> (x), close the modal
            closeModalSpan.onclick = function () {
                closeModal()
            }

            var dismissModatBtn = $('#' + modalId + ' .dismiss-modal-btn')[0];

            dismissModatBtn.onclick = function () {
                closeModal()
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    closeModal()
                }
            }

        });

        function closeModal() {
            modal.style.display = "none";
            confirmModalBtn.onclick = function () {
                closeModal()
            };
        }

        function showModal() {
            modal.style.display = "block";
        }

        function declineOffer(offerId) {

            modalMessageDiv.innerText = 'Are you sure you want to decline this offer?';

            confirmModalBtn.onclick = function () {
                callOffersController("Decline", offerId);
                closeModal();
            };

            showModal();
        }

        function withdrawOffer(offerId) {

            modalMessageDiv.innerText = 'Are you sure you want to withdraw this offer?';

            confirmModalBtn.onclick = function () {
                callOffersController("Withdraw", offerId);
                closeModal();
            };

            showModal();
        }

        function acceptOffer(offerId) {

            modalMessageDiv.innerText = 'Are you sure you want to accept this offer?';

            confirmModalBtn.onclick = function () {
                callOffersController("Accept", offerId);
                closeModal();
            };

            showModal();
        }

        function callOffersController(action, offerId) {
            $.post("/Offers/" + action, { id: offerId }, function (data) {
                //do whatever with the response
                if (data == "refresh") {
                    window.location.reload(true);
                }
            });
        }

        function goToCounterOffer(offerId) {
            window.location.href = window.location.origin + "/Offers/Counter/" + offerId;
        }
    </script>
}
