﻿@model CoinListingApp.Models.ChatViewModel

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@section stylesheets{
    <link rel="stylesheet" href="~/Styles/UDUI/css/chat.css">
}

<div class="row">
    <div class="col-md-2">
        <a class="button" href="@Url.Action("Index", "Messages")"><i class="sl sl-icon-arrow-left"></i>Go to Messages</a>
    </div>
</div>

<div class="container">

    
    <div class="row text-center">
        <h2>@Model.OtherUserMaskedName's Chat</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-offset-2 col-md-8">
            <h4 class="alert alert-warning"><b>Refresh the page to check for new messages</b></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="chat-history">
                <ul>
                    @foreach (var item in Model.Chats)
                    {
                        <li class="chat-clearfix">

                            @if (item.User1 == Model.CurrentUserId)
                            {
                                <div class="message-data chat-align-right">
                                    <span class="message-data-time"> @item.Timestamp.ToString("HH:mm - d MMMM")</span> &nbsp; &nbsp;
                                    <span class="message-data-name">@Model.CurrentUserFullName</span> <i class="fa fa-circle me"></i>
                                </div>
                                <div class="message other-message chat-float-right">
                                    @Html.DisplayFor(modelItem => item.Message)
                                </div>
                            }
                            else
                            {
                                <div class="message-data">
                                    <span class="message-data-name"><i class="fa fa-circle"></i> @Model.OtherUserMaskedName</span>
                                    <span class="message-data-time"> @item.Timestamp.ToString("HH: mm - d MMMM")</span>
                                </div>
                                <div class="message my-message">
                                    @Html.DisplayFor(modelItem => item.Message)
                                </div>
                            }
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            @Html.Action("SendMessageChatPartial", "Messages", new { receiverUserId = Model.OtherUserId })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <a class="button" href="@Url.Action("Index", "Messages")"><i class="sl sl-icon-arrow-left"></i>Go to Messages</a>
    </div>
</div>

<script>

    window.onload = function () {
        var objDiv = document.getElementsByClassName("chat-history")[0];
        objDiv.scrollTop = objDiv.scrollHeight;
    }
 //   $(document).ready(function () {
 //       var objDiv = $("")[0];
 //       objDiv.scrollTop = objDiv.scrollHeight;

 ////this.$chatHistory.scrollTop(this.$chatHistory[0].scrollHeight);
 //   });
</script>
