﻿@model CoinListingApp.Models.MessagesIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@section stylesheets{


}

@Html.Partial("_Notify")

@Html.AntiForgeryToken()

@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="row text-center">
    <div class="col-md-offset-3 col-md-6">
        <h5 class="alert alert-warning"><i>Please note that the messages here are not private or encrypted and can be accessed by the Coinstacker team if required. Please be respectable and professional when contacting another member. Foul language and name calling will not be tolerated. If you have any problems with another member, please contact us.</i></h5>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-envolope"></i> Messages</h3>
                </div>
                @*<div class="row">
                        <div class="col-md-offset-3 col-md-6 ">
                            <input type="text" id="searchInput" onkeyup="filterMessagesTable('searchInput', 'tblMessagesChat')" placeholder="Search for names..." title="Type in a name"></span>
                        </div>
                    </div>*@
                <div class="row with-forms">
                    <div class="col-md-offset-3 col-md-6">
                        <table id="tblMessagesChat" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                            <thead>
                                <tr>
                                    <th>
                                        Seller
                                    </th>
                                    <th>
                                        Last message
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CurrentUserConversations)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.SellerMaskedName, "Seller", "Users", new { id = item.SellerUserId }, null)
                                        </td>
                                        <td>
                                            @if (item.LastMessageTimeStamp.HasValue)
                                            {
                                                <span style="display:none">@item.LastMessageTimeStamp.Value.Ticks</span><span>@item.LastMessageTimeStamp.Value.ToString("HH: mm - d MMMM")</span>
                                            }
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("View Messages", "Chat", new { id = item.ConversationID }, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (!Model.CurrentUserConversations.Any())
                        {
                            <p class="text-center">No messages yet</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-bubble"></i>Start a conversation</h3>
                </div>
                @*<div class="row">
                        <div class="col-md-offset-3 col-md-6 ">
                            <input type="text" id="searchInputSellers" onkeyup="filterMessagesTable('searchInputSellers', 'tblNewChat')" placeholder="Search for sellers..." title="Type in a name"></span>
                        </div>
                    </div>*@
                <div class="row with-forms">
                    <div class="col-md-offset-3 col-md-6">
                        <table id="tblNewChat" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                            <thead>
                                <tr>
                                    <th>
                                        Seller
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Sellers)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.MaskedSellerName, "Seller", "Users", new { id = item.Seller.UserID }, null)
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Send Message", "StartNewChat", new { receiverUserId = item.Seller.UserID }, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@section scripts{

    <script>


        $(document).ready(function () {
            $('#tblMessagesChat').DataTable({
                autoWidth: false
            });
            $('#tblNewChat').DataTable({
                autoWidth: false
            });
        });

        function filterMessagesTable(searchInputId, tableId) {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById(searchInputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}
