@import url(http://fonts.googleapis.com/css?family=Exo+2:500);
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,700&display=swap');
body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #64676c;
}
#wrapper {
	padding-left: 250px;
	transition: all 0.4s ease 0s;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
#sidebar-wrapper {
	margin-left: -250px;
	left: 250px;
	width: 250px;
	background: #333333;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.3) inset;
}
#page-content-wrapper {
	width: 100%;
}
.sidebar-brand img {
	margin-top: -6px;
	margin-left: -6px;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-nav>li:nth-child(1){
	border-bottom:0;
}
.sidebar-nav>li:nth-child(2){
	border-top:1px solid rgba(255, 255, 255, 0.1)
}
.sidebar-nav>li {
	line-height: 40px;
	text-indent: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav li a {
	font-family:'Poppins', sans-serif;
	color: #fff;
	display: block;
	font-size:13px;
	font-weight: 400;
	text-decoration: none;
}
.sidebar-nav > li > a:hover {
	color: #fff;
	background: #ff2222;
	text-decoration: none;
}
.sidebar-nav li li a {
	color: #eee;
}
.sidebar-nav li li a:hover {
	color: #ccc;
	text-decoration: underline;
}
.sidebar-nav > li li {
	line-height: 25px;
	color: #eee;
	list-style-type: square;
	list-style-position: inside;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 90px;
	line-height: 90px;
	margin-bottom:0px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
pre{
	-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	background:#f7f7f9;
	padding-left:50px;
	border:1px solid #e1e1e8;
}
#Frontend div img{
	background:#f7f7f9;	
	padding:10px;
	border-radius:10px;
	border:1px solid #e1e1e8;
}
p.page_description{
	font-size:18px;
	font-weight:400;
	line-height:34px;
}
p{	
	font-size:14px;
	font-weight:400;
	line-height:26px;
	color:#828282;
}
#Frontend h3{
	font-size:20px;
	text-align:center;
	margin-bottom:0px;
}
h3{
	font-weight:500;
	margin-bottom:20px;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	padding-bottom:10px;
}
.margin-bottom-60{
	margin-bottom:60px;
}
.content-header {
	height: auto;
}
.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}
#menu-toggle {
	display: none;
}
.inset {
	padding: 20px;
}
@media (max-width:767px) {
#wrapper {
	padding-left: 0;
}
#sidebar-wrapper {
	left: 0;
}
#wrapper.active {
	position: relative;
	left: 250px;
}
#wrapper.active #sidebar-wrapper {
	left: 250px;
	width: 250px;
	transition: all 0.4s ease 0s;
}
#menu-toggle {
	display: inline-block;
	position: absolute;
	right: 0;
}
#menu-toggle.btn-default {
	border: none;
	border-radius: 0;
}
.inset {
	padding: 15px;
}
}
.main-search {
	padding: 0;
	line-height: 25px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: none !important;
}
.main-search .form-control {
	border-radius: 0;
	background: #fcfcfc;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.040) inset;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}
.main-search span {
	float: right;
	margin-top: -23px;
	margin-right: 10px;
	color: #999;
}
.carousel-control .icon-prev:before {
	font-family: 'FontAwesome';
	content: '\f104';
}
.carousel-control .icon-next:before {
	font-family: 'FontAwesome';
	content: '\f105';
}
.copy-rights {
	font-size: 11px;
	color: #eee;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.copy-rights a {
	font-size: 11px;
	color: #eee;
}
.sidebar-nav > li > ul {
	display: none;
	list-style-type: none;
	-webkit-padding-start: 0px;
	padding-left: 10px;
}
.sidebar-nav > li > ul li a {
	border-bottom: none;
	box-shadow: none;
	font-size: 13px;
}
