/*! Image Uploader - v1.0.0 - 15/07/2019
 * Copyright (c) 2019 Christian Bayer; Licensed MIT */

/* Base style */
.image-uploader {
    min-height: 10rem;
    border: 1px solid #d9d9d9;
    position: relative;
}

/* Style on hover */
.image-uploader.drag-over {
    background-color: #f3f3f3;
}

/* Hide the file input */
.image-uploader input[type="file"] {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Text container */
.image-uploader .upload-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-uploader .upload-text i {
    display: block;
    font-size: 3rem;
    margin-bottom: .5rem;
}

.image-uploader .upload-text span {
    display: block;
}

/* Hide the text if there is at least one uploaded image */
.image-uploader.has-files .upload-text {
    display: none;
}

/* Uploaded images container */
.image-uploader .uploaded {
    padding: .5rem;
    line-height: 0;
}

.image-uploader .uploaded .uploaded-image {
    display: inline-block;
    width: calc(30% - 1rem);
    padding-bottom: calc(30% - 1rem);
    height: 0;
    position: relative;
    margin: .5rem;
    background: #f3f3f3;
    cursor: default;
}

.image-uploader .uploaded .uploaded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* Delete image button */
.image-uploader .uploaded .uploaded-image .delete-image {
    display: none;
    cursor: pointer;
    position: absolute;
    top: .2rem;
    right: .2rem;
    border-radius: 50%;
    padding: .3rem;
    background-color: rgba(0, 0, 0, .5);
    -webkit-appearance: none;
    border: none;
}

.image-uploader .uploaded .uploaded-image:hover .delete-image {
    display: block;
}

.image-uploader .uploaded .uploaded-image .delete-image i {
    color: #fff;
    font-size: 2rem;
}

/* Star image button */
.image-uploader .uploaded .uploaded-image .star-image {
    cursor: pointer;
    position: absolute;
    top: .2rem;
    left: .2rem;
    border-radius: 50%;
    padding: .3rem;
    background-color: rgba(0, 0, 0, .5);
    -webkit-appearance: none;
    border: none;
}

.image-uploader .uploaded .uploaded-image .star-image.only-show {
    cursor: default;
}

.image-uploader .uploaded .uploaded-image .star-image i {
    color: #fff;
    font-size: 2rem;
}

.image-uploader .uploaded .uploaded-image .star-image.current-cover i {
    color: #ffd800;
    font-size: 2rem;
}

.cover-legend i {
    color: #ffd800;
    font-size: 2rem;
}


/* DISPLAYER */

/* Base style */
.image-displayer {
    min-height: 10rem;
    border: 1px solid #d9d9d9;
    position: relative;
}


    /* displayed images container */
    .image-displayer .displayed {
        padding: .5rem;
        line-height: 0;
    }

        .image-displayer .displayed .displayed-image {
            display: inline-block;
            width: calc(30% - 1rem);
            padding-bottom: calc(30% - 1rem);
            height: 0;
            position: relative;
            margin: .5rem;
            background: #f3f3f3;
            cursor: default;
        }

            .image-displayer .displayed .displayed-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
            }


            /* Star image button */
            .image-displayer .displayed .displayed-image .star-image-displayer {
                cursor: pointer;
                position: absolute;
                top: .2rem;
                left: .2rem;
                border-radius: 50%;
                padding: .3rem;
                background-color: rgba(0, 0, 0, .5);
                -webkit-appearance: none;
                border: none;
            }

                .image-displayer .displayed .displayed-image .star-image-displayer.only-show {
                    cursor: default;
                }

                .image-displayer .displayed .displayed-image .star-image-displayer i {
                    color: #fff;
                    font-size: 2rem;
                }

                .image-displayer .displayed .displayed-image .star-image-displayer.current-cover-displayer i {
                    color: #ffd800;
                    font-size: 2rem;
                }

.cover-legend-displayer i {
    color: #ffd800;
    font-size: 2rem;
}