body {
	color: #707070;
	font-size: 15px;
	line-height: 28px;
	background-color: #fff;
}
body p {
	font-size: 16px;
	line-height: 28px;
}
body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, #tiptip_content, .map-box p, .map-box div, .numerical-rating .utf_counter_star_rating, body .nav_responsive i.menu-trigger:after {
	font-family:'Nunito', sans-serif;
	text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #323232;
}
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
a:focus {
	outline: none !important;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}
textarea:focus, input:focus {
  border:1px solid #d8d8d8;
}
label {
  display: block;
  margin: 0;
}
.typed-cursor{
	opacity:0 !important;
	display:none;
}
::-webkit-input-placeholder {
color:#888;
opacity:1;
}
:-moz-placeholder {
color:#888;
opacity:1;
}
::-moz-placeholder {
color:#888;
opacity:1;
}
:-ms-input-placeholder {
color:#888;
opacity:1;
}

@media(min-width:992px) {
	.text-md-right {
		text-align: right;
	}
}

dl.dl-horizontal.centered-dl-horizontal dt {
	width: 50%;
	padding-right: 25px;
	padding-bottom: 5px;
}

dl.dl-horizontal.centered-dl-horizontal dd {
	width: 50%;
	padding-bottom: 5px;
}

.toggle.btn{
	width: 58px !important;
	height: 34px !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder {color:transparent;}
input:focus:-ms-input-placeholder {color:transparent;}

textarea:focus::-webkit-input-placeholder {color:transparent;}
textarea:focus:-moz-placeholder {color:transparent;}
textarea:focus::-moz-placeholder {color:transparent;}
textarea:focus:-ms-input-placeholder {color:transparent;}

input::-webkit-input-placeholder {color:#828282;}
input:-moz-placeholder {color:#828282;}
input::-moz-placeholder {color:#828282;}
input:-ms-input-placeholder {color:#828282;}

textarea::-webkit-input-placeholder {color:#828282;}
textarea:-moz-placeholder {color:#828282;}
textarea::-moz-placeholder {color:#828282;}
textarea:-ms-input-placeholder {color:#828282;}

.table-badge {
	padding: 7px;
	margin-bottom: 5px;
	margin-top: 5px;
	/*font-size: 1.1em;
	font-weight: 700;*/
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .50rem;
	background-color: #463a3a;
	color: white;
}

	.table-badge.tb-bg-success {
		background-color: #198754;
	}

	.table-badge.tb-bg-inactive {
		background-color: #707070;
	}

	.table-badge.tb-bg-danger {
		background-color: #dc3545;
	}

	.table-badge.tb-bg-primary {
		background-color: #337ab7;
	}

.table.cells-vertical-align-middle tbody tr td {
	vertical-align: middle;
}


.table-scrollable-cell {
	word-wrap: break-word !important;
	font-size: 1em;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 200px;
	width: 100%;
	padding: 5px;
}

/* Cookie Dialog */
#gdpr-cookie-message {
	position: fixed;
	right: 30px;
	bottom: 30px;
	max-width: 375px;
	background-color: #323232;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.25);
	margin-left: 30px;
	font-family: system-ui;
	z-index: 100
}

	#gdpr-cookie-message h4 {
		color: var(--red);
		font-family: 'Quicksand', sans-serif;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	#gdpr-cookie-message h5 {
		color: var(--red);
		font-family: 'Quicksand', sans-serif;
		font-size: 15px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	#gdpr-cookie-message p, #gdpr-cookie-message ul {
		color: white;
		font-size: 15px;
		line-height: 1.5em;
	}

		#gdpr-cookie-message p:last-child {
			margin-bottom: 0;
			text-align: right;
		}

	#gdpr-cookie-message li {
		width: 49%;
		display: inline-block;
	}

	#gdpr-cookie-message a {
		color: var(--red);
		text-decoration: none;
		font-size: 15px;
		padding-bottom: 2px;
		border-bottom: 1px dotted rgba(255,255,255,0.75);
		transition: all 0.3s ease-in;
	}

		#gdpr-cookie-message a:hover {
			color: white;
			border-bottom-color: var(--red);
			transition: all 0.3s ease-in;
		}

	#gdpr-cookie-message button,
	button#ihavecookiesBtn {
		border: none;
		background: var(--red);
		color: white;
		font-family: 'Quicksand', sans-serif;
		font-size: 15px;
		padding: 7px;
		border-radius: 3px;
		margin-left: 15px;
		cursor: pointer;
		transition: all 0.3s ease-in;
	}

		#gdpr-cookie-message button:hover {
			background: white;
			color: var(--red);
			transition: all 0.3s ease-in;
		}

button#gdpr-cookie-advanced {
	background: white;
	color: var(--red);
}

#gdpr-cookie-message button:disabled {
	opacity: 0.3;
}

#gdpr-cookie-message input[type="checkbox"] {
	float: none;
	margin-top: 0;
	margin-right: 5px;
}

/* END Cookie Dialog */