﻿/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: 0px;
    padding: 20px;
    border: 1px solid #888;
    top:30%;
    left: calc(25% + 260px);
    right: 25%;
    min-height: 20%;
}

.modal-content-front {
    position: absolute;
    background-color: #fefefe;
    margin: 0px;
    padding: 20px;
    border: 1px solid #888;
    top: 30%;
    left: 30%;
    right: 30%;
    min-height: 20%;
}

.modal-content-listings-rules {
    left: calc(10% + 260px);
    right: 10%;
    top: 20%;
}

@media (max-width: 767px) {
    .modal-content{
       left: 5%;
       right:5%;
       top: 10%;
   }

    .modal-content-front {
        left: 5%;
        right: 5%;
        top: 10%;
    }

    .modal-content-listings-rules {
        right: 10%;
        top: 20%;
    }
}


.modal-message{
    font-size: 18px;
}

/* The Close Button */
.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
