﻿@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "About us" } })

<div class="container">

    <p>
        Coinstacker.co.uk was created with the sole intention of providing an affordable platform to buy and sell your precious metals on. From wanting to sell a single item to those taking it more seriously, everyone is welcome on Coinstacker.co.uk
    </p>
    <p>
        We charge an exceptionally low listing fee and no additional commissions on the final sale price. Clear upfront pricing without the nasty surprise invoice at the end of the month.
    </p>
    <p>
        We hope that together with your help, Coinstacker.co.uk will soon become the UK’s biggest dedicated marketplace for silver and gold bullion and coins.
    </p>
</div>