﻿@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Contact Us" } })
<div class="container">
    <p>Coinstacker Ltd is a registered company in the United Kingdom</p>
    <p title="Phone">Company number: 12624586</p>
    <p>
        You can contact us by email on <a href="mailto:info@coinstacker.co.uk">info@coinstacker.co.uk</a>

    </p>
    </div>