﻿@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "How It Works" } })

<div class="container">
    @*<h3>How It Works</h3>
    <br />*@
    <p>Coinstacker.co.uk is a community peer to peer marketplace.</p>

    <p>You will first need to <a href="..\Account\Register" style="text-decoration:underline">Register</a> on our platform before you will be able to Buy or Sell any items.</p>

    <p>
        All transactions are conducted directly between Sellers and Buyers. Once you order an item/items you will receive payment instructions directly from the Seller. (Bank transfer or PayPal)
    </p>
    <p>
        Avoiding Credit/Debit card merchants helps the Sellers keep their costs down and Sellers' prices should hopefully reflect this.
    </p>
    <p>
        Adverts can be placed by buying Listing Credits, 1 credit = 1 advert. There are no additional fees or commissions charged. Place a single advert from as little as 10 pence!
    </p>
    <p>
        For additional information please see the links at the bottom of the website or contact us directly on <a href="mailto:info@coinstacker.co.uk">info@coinstacker.co.uk</a>
    </p>
</div>