﻿@model CoinListingApp.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<style>
    #logo img {
        max-height: 75px;
        margin-top: -21px;
        padding-top: 8px;
    }
</style>

@*<div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 15px;">
        <div style="margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>

    <div class="jumbotron">
        <h2>Message of the Day</h2>
        @Html.DisplayFor(model => model.MessageOfTheDay)
    </div>

    <h2>Categories</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].ParentCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].CategoryDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Categories)
        {
            <tr>
                @if (item.ParentCategoryID == 0)
                {
                    <td>
                    </td>
                }
                else if (item.ParentCategoryID == 1)
                {
                    <td>
                        Gold
                    </td>
                }
                else if (item.ParentCategoryID == 2)
                {
                    <td>
                        Silver
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
            </tr>
        }
    </table>

    @Html.ActionLink("Test email", "Index", "Email", new { id = 1 }, null)
    <br />
    @Html.ActionLink("Make Payment", "PaymentWithPaypal", "Paypal", new { }, null)*@

<div class="search_container_block overlay_dark_part" style="background-image: url(/images/site/homebanner2.png);">
    <div class="main_inner_search_block" style="top: 40%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @*<h2>Welcome to Coinstacker</h2>*@
                    <h4 style="color: #fff;">@Html.DisplayFor(model => model.MessageOfTheDay)</h4>
                    <br />
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="input-group mb-3">
                                    @Html.TextBox("search", string.Empty, new { @class = "form-control" })
                                    <div class="input-group-append">
                                        <input type="submit" value="SEARCH" class="utf_theme_btn search_button_home" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <br />

                    @*<div class="main_input_search_part">
                            <div class="main_input_search_part_item">
                                <input type="text" placeholder="What are you looking for?" value="" />
                            </div>
                            <div class="main_input_search_part_item location">
                                <input type="text" placeholder="Search Location..." value="" />
                                <a href="#"><i class="sl sl-icon-location"></i></a>
                            </div>
                            <div class="main_input_search_part_item intro-search-field">
                                <select data-placeholder="All Categories" class="selectpicker default" title="All Categories" data-live-search="true" data-selected-text-format="count" data-size="5">
                                    <option>Food & Restaurants </option>
                                    <option>Shop & Education</option>
                                    <option>Education</option>
                                    <option>Business</option>
                                    <option>Events</option>
                                </select>
                            </div>
                            <button class="button" onclick="window.location.">Search</button>
                        </div>*@
                    <div class="main_popular_categories">
                        @*<h3>Our Popular Categories</h3>*@
                        <ul class="main_popular_categories_list">
                            @foreach (var item in Model.Categories)
                            {
                                if (item.isFeatured)
                                {
                                    <li>
                                        <a href="/listings/category=@item.CategoryID">
                                            <div class="utf_box">
                                                <i class=" @item.Icon" aria-hidden="true"></i>
                                                <b>@item.CategoryName.ToUpper()</b>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="utf_video_container">
            <video poster="/styles/udui/images/search_video_bg.jpg" loop autoplay muted>
                <source src="/styles/udui/images/search_bg_video.mp4" type="video/mp4">
            </video>
        </div>*@
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="headline_part centered margin-top-75">Most Popular Coins</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container_categories_box margin-top-5 margin-bottom-30">
                @Html.Action("MostViewed", "Listings", new { number = 8 })
            </div>
            @*<div class="col-md-12 centered_content"> <a href="#" class="button border margin-top-20">View More</a> </div>*@
        </div>
    </div>
</div>

<section class="fullwidth_block margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
    <div class="container">
        <div class="row slick_carousel_slider">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-bottom-45"> Frequent Sellers<span>Explore the greatest sellers on Coinstacker</span> </h3>
                @Html.Action("FrequentSellers", "Listings", new { number = 4 })
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="simple_slick_carousel_block utf_dots_nav">
                        @*<div class="utf_carousel_item">
                                <a href="listings_single_page_1.html" class="utf_listing_item-container compact">
                                    <div class="utf_listing_item">
                                        <img src="/styles/udui/images/utf_listing_item-01.jpg" alt=""> <span class="tag"><i class="im im-icon-Chef-Hat"></i> Restaurant</span> <span class="featured_tag">Featured</span>
                                        <span class="utf_open_now">Open Now</span>
                                        <div class="utf_listing_item_content">
                                            <div class="utf_listing_prige_block">
                                                <span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $25 - $55</span>
                                                <span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
                                            </div>
                                            <h3>Chontaduro Barcelona</h3>
                                            <span><i class="sl sl-icon-location"></i> The Ritz-Carlton, Hong Kong</span>
                                            <span><i class="sl sl-icon-phone"></i> (415) 796-3633</span>
                                        </div>
                                    </div>
                                    <div class="utf_star_rating_section" data-rating="4.5">
                                        <div class="utf_counter_star_rating">(4.5)</div>
                                        <span class="utf_view_count"><i class="fa fa-eye"></i> 822+</span>
                                        <span class="like-icon"></span> ---> like icon now is a partial view!
                                    </div>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<a href="/Listings" class="flip-banner parallax" data-background="/images/Site/browse_listings_banner.jpg" data-color="#000" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
        <div class="flip-banner-content">
            <h2 class="flip-visible">Browse Listings Attractions List</h2>
        </div>
    </a>*@

<div class="titlebar_style gradient">
    <div class="container">
        <a href="/Listings">
            <div class="row">
                <div class="col-md-12">
                    <h2>Browse Listings Attractions List</h2>
                </div>
            </div>
        </a>
    </div>
</div>

@*<section class="utf_cta_area_item utf_cta_area2_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="utf_subscribe_block clearfix">
                        <div class="col-md-8 col-sm-7">
                            <div class="section-heading">
                                <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                                <p class="utf_sec_meta">
                                    Subscribe to get latest updates and information.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="contact-form-action">
                                <form method="post">
                                    <span class="la la-envelope-o"></span>
                                    <input class="form-control" type="email" placeholder="Enter your email" required="">
                                    <button class="utf_theme_btn" type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@







