﻿@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Privacy policy" } })

<div class="container">

    <p align="center">
        <strong>Privacy policy</strong>
    </p>
    <p>
        <u>01 December 2020</u>
    </p>
    <p>
        This privacy policy applies between you, the User of this Website and
        Coinstacker Ltd, the owner and provider of this Website. Coinstacker Ltd
        takes the privacy of your information very seriously. This privacy policy
        applies to our use of any and all Data collected by us or provided by you
        in relation to your use of the Website.
    </p>
    <p>
        This privacy policy should be read alongside, and in addition to, our Terms
        and Conditions, which can be found at:
        http://coinstacker.co.uk/home/termsandconditions.
    </p>
    <p>
        <strong>Please read this privacy policy carefully</strong>
        .
    </p>
    <p>
        <strong>Definitions and interpretation</strong>
    </p>
    <p>
        1. In this privacy policy, the following definitions are used:
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td valign="top">
                    <p>
                        <strong>Data</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        collectively all information that you submit to Coinstacker
                        Ltd via the Website. This definition incorporates, where
                        applicable, the definitions provided in the Data Protection
                        Laws;
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        <strong>Cookies</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        a small text file placed on your computer by this Website
                        when you visit certain parts of the Website and/or when you
                        use certain features of the Website. Details of the cookies
                        used by this Website are set out in the clause below (                    <strong>Cookies</strong>);
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        <strong>Data Protection Laws</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        any applicable law relating to the processing of personal
                        Data, including but not limited to the Directive 96/46/EC
                        (Data Protection Directive) or the GDPR, and any national
                        implementing laws, regulations and secondary legislation,
                        for as long as the GDPR is effective in the UK;
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        <strong>GDPR</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        the General Data Protection Regulation (EU) 2016/679;
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        <strong>
                            Coinstacker Ltd,
                            <br />
                            we
                        </strong>
                        or <strong>us</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        Coinstacker Ltd, a company incorporated in England and
                        Wales with registered number 12624586 whose registered
                        office is at 156 Metcalfe Court, London, SE100EL;
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        <strong>UK and EU Cookie Law</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        the Privacy and Electronic Communications (EC Directive)
                        Regulations 2003 as amended by the Privacy and Electronic
                        Communications (EC Directive) (Amendment) Regulations 2011;
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        <strong>User</strong>
                        or <strong>you</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        any third party that accesses the Website and is not either
                        (i) employed by Coinstacker Ltd and acting in the course of
                        their employment or (ii) engaged as a consultant or
                        otherwise providing services to Coinstacker Ltd and
                        accessing the Website in connection with the provision of
                        such services; and
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        <strong>Website</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        the website that you are currently using,
                        www.coinstacker.co.uk, and any sub-domains of this site
                        unless expressly excluded by their own terms and
                        conditions.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        2. In this privacy policy, unless the context requires a different
        interpretation:
    </p>
    <p>
        a. the singular includes the plural and vice versa;
    </p>
    <p>
        b. references to sub-clauses, clauses, schedules or appendices are to
        sub-clauses, clauses, schedules or appendices of this privacy policy;
    </p>
    <p>
        c. a reference to a person includes firms, companies, government entities,
        trusts and partnerships;
    </p>
    <p>
        d. "including" is understood to mean "including without limitation";
    </p>
    <p>
        e. reference to any statutory provision includes any modification or
        amendment of it;
    </p>
    <p>
        f. the headings and sub-headings do not form part of this privacy policy.
    </p>
    <p>
        <strong>Scope of this privacy policy</strong>
    </p>
    <p>
        3. This privacy policy applies only to the actions of Coinstacker Ltd and
        Users with respect to this Website. It does not extend to any websites that
        can be accessed from this Website including, but not limited to, any links
        we may provide to social media websites.
    </p>
    <p>
        4. For purposes of the applicable Data Protection Laws, Coinstacker Ltd is
        the "data controller". This means that Coinstacker Ltd determines the
        purposes for which, and the manner in which, your Data is processed.
    </p>
    <p>
        <strong>Data collected</strong>
    </p>
    <p>
        5. We may collect the following Data, which includes personal Data, from
        you:
    </p>
    <p>
        a. name;
    </p>
    <p>
        b. contact Information such as email addresses and telephone numbers;
    </p>
    <p>
        c. demographic information such as postcode, preferences and interests;
    </p>
    <p>
        d. IP address (automatically collected);
    </p>
    <p>
        e. web browser type and version (automatically collected);
    </p>
    <p>
        f. operating system (automatically collected);
    </p>
    <p>
        in each case, in accordance with this privacy policy.
    </p>
    <p>
        <strong>How we collect Data</strong>
    </p>
    <p>
        6. We collect Data in the following ways:
    </p>
    <p>
        a. data is given to us by you ; and
    </p>
    <p>
        b. data is collected automatically.
    </p>
    <p>
        <strong>Data that is given to us by you</strong>
    </p>
    <p>
        7. Coinstacker Ltd will collect your Data in a number of ways, for example:
    </p>
    <p>
        a. when you contact us through the Website, by telephone, post, e-mail or
        through any other means;
    </p>
    <p>
        b. when you register with us and set up an account to receive our
        products/services;
    </p>
    <p>
        c. when you make payments to us, through this Website or otherwise;
    </p>
    <p>
        d. when you elect to receive marketing communications from us;
    </p>
    <p>
        e. when you use our services;
    </p>
    <p>
        in each case, in accordance with this privacy policy.
    </p>
    <p>
        <strong>Data that is collected automatically</strong>
    </p>
    <p>
        8. To the extent that you access the Website, we will collect your Data
        automatically, for example:
    </p>
    <p>
        a. we automatically collect some information about your visit to the
        Website. This information helps us to make improvements to Website content
        and navigation, and includes your IP address, the date, times and frequency
        with which you access the Website and the way you use and interact with its
        content.
    </p>
    <p>
        b. we will collect your Data automatically via cookies, in line with the
        cookie settings on your browser. For more information about cookies, and
        how we use them on the Website, see the section below, headed "Cookies".
    </p>
    <p>
        <strong>Our use of Data</strong>
    </p>
    <p>
        9. Any or all of the above Data may be required by us from time to time in
        order to provide you with the best possible service and experience when
        using our Website. Specifically, Data may be used by us for the following
        reasons:
    </p>
    <p>
        a. internal record keeping;
    </p>
    <p>
        b. improvement of our products / services;
    </p>
    <p>
        in each case, in accordance with this privacy policy.
    </p>
    <p>
        10. We may use your Data for the above purposes if we deem it necessary to
        do so for our legitimate interests. If you are not satisfied with this, you
        have the right to object in certain circumstances (see the section headed
        "Your rights" below).
    </p>
    <p>
        11. When you register with us and set up an account to receive our
        services, the legal basis for this processing is the performance of a
        contract between you and us and/or taking steps, at your request, to enter
        into such a contract.
    </p>
    <p>
        12. We may use your Data to show you Coinstacker Ltd adverts and other
        content on other websites. If you do not want us to use your data to show
        you Coinstacker Ltd adverts and other content on other websites, please
        turn off the relevant cookies (please refer to the section headed "Cookies"
        below).
    </p>
    <p>
        <strong>Who we share Data with</strong>
    </p>
    <p>
        13. We may share your Data with the following groups of people for the
        following reasons:
    </p>
    <p>
        a. our employees, agents and/or professional advisors - to obtain advice
        from professional advisers;
    </p>
    <p>
        b. third party payment providers who process payments made over the Website
        - to enable third party payment providers to process user payments and
        refunds;
    </p>
    <p>
        c. relevant authorities - to facilitate the detection of crime or the
        collection of taxes or duties;
    </p>
    <p>
        in each case, in accordance with this privacy policy.
    </p>
    <p>
        <strong>Keeping Data secure</strong>
    </p>
    <p>
        14. We will use technical and organisational measures to safeguard your
        Data, for example:
    </p>
    <p>
        a. access to your account is controlled by a password and a user name that
        is unique to you.
    </p>
    <p>
        b. we store your Data on secure servers.
    </p>
    <p>
        15. Technical and organisational measures include measures to deal with any
        suspected data breach. If you suspect any misuse or loss or unauthorised
        access to your Data, please let us know immediately by contacting us via
        this e-mail address: info@coinstacker.co.uk.
    </p>
    <p>
        16. If you want detailed information from Get Safe Online on how to protect
        your information and your computers and devices against fraud, identity
        theft, viruses and many other online problems, please visit
        www.getsafeonline.org. Get Safe Online is supported by HM Government and
        leading businesses.
    </p>
    <p>
        <strong>Data retention</strong>
    </p>
    <p>
        17. Unless a longer retention period is required or permitted by law, we
        will only hold your Data on our systems for the period necessary to fulfil
        the purposes outlined in this privacy policy or until you request that the
        Data be deleted.
    </p>
    <p>
        18. Even if we delete your Data, it may persist on backup or archival media
        for legal, tax or regulatory purposes.
    </p>
    <p>
        <strong>Your rights</strong>
    </p>
    <p>
        19. You have the following rights in relation to your Data:
    </p>
    <p>
        a. <strong>Right to access</strong> - the right to request (i) copies of
        the information we hold about you at any time, or (ii) that we modify,
        update or delete such information. If we provide you with access to the
        information we hold about you, we will not charge you for this, unless your
        request is "manifestly unfounded or excessive." Where we are legally
        permitted to do so, we may refuse your request. If we refuse your request,
        we will tell you the reasons why.
    </p>
    <p>
        b. <strong>Right to correct</strong> - the right to have your Data
        rectified if it is inaccurate or incomplete.
    </p>
    <p>
        c. <strong>Right to erase</strong> - the right to request that we delete or
        remove your Data from our systems.
    </p>
    <p>
        d. <strong>Right to restrict our use of your Data</strong> - the right to
        "block" us from using your Data or limit the way in which we can use it.
    </p>
    <p>
        e. <strong>Right to data portability</strong> - the right to request that
        we move, copy or transfer your Data.
    </p>
    <p>
        f. <strong>Right to object</strong> - the right to object to our use of
        your Data including where we use it for our legitimate interests.
    </p>
    <p>
        20. To make enquiries, exercise any of your rights set out above, or
        withdraw your consent to the processing of your Data (where consent is our
        legal basis for processing your Data), please contact us via this e-mail
        address: info@coinstacker.co.uk.
    </p>
    <p>
        21. If you are not satisfied with the way a complaint you make in relation
        to your Data is handled by us, you may be able to refer your complaint to
        the relevant data protection authority. For the UK, this is the Information
        Commissioner's Office (ICO). The ICO's contact details can be found on
        their website at https://ico.org.uk/.
    </p>
    <p>
        22. It is important that the Data we hold about you is accurate and
        current. Please keep us informed if your Data changes during the period for
        which we hold it.
    </p>
    <p>
        <strong>Transfers outside the European Economic Area</strong>
    </p>
    <p>
        23. Data which we collect from you may be stored and processed in and
        transferred to countries outside of the European Economic Area (EEA). For
        example, this could occur if our servers are located in a country outside
        the EEA or one of our service providers is situated in a country outside
        the EEA.
    </p>
    <p>
        24. We will only transfer Data outside the EEA where it is compliant with
        data protection legislation and the means of transfer provides adequate
        safeguards in relation to your data, eg by way of data transfer agreement,
        incorporating the current standard contractual clauses adopted by the
        European Commission, or by signing up to the EU-US Privacy Shield
        Framework, in the event that the organisation in receipt of the Data is
        based in the United States of America.
    </p>
    <p>
        25. To ensure that your Data receives an adequate level of protection, we
        have put in place appropriate safeguards and procedures with the third
        parties we share your Data with. This ensures your Data is treated by those
        third parties in a way that is consistent with the Data Protection Laws.
    </p>
    <p>
        <strong>Links to other websites</strong>
    </p>
    <p>
        26. This Website may, from time to time, provide links to other websites.
        We have no control over such websites and are not responsible for the
        content of these websites. This privacy policy does not extend to your use
        of such websites. You are advised to read the privacy policy or statement
        of other websites prior to using them.
    </p>
    <p>
        <strong>Changes of business ownership and control</strong>
    </p>
    <p>
        27. Coinstacker Ltd may, from time to time, expand or reduce our business
        and this may involve the sale and/or the transfer of control of all or part
        of Coinstacker Ltd. Data provided by Users will, where it is relevant to
        any part of our business so transferred, be transferred along with that
        part and the new owner or newly controlling party will, under the terms of
        this privacy policy, be permitted to use the Data for the purposes for
        which it was originally supplied to us.
    </p>
    <p>
        28. We may also disclose Data to a prospective purchaser of our business or
        any part of it.
    </p>
    <p>
        29. In the above instances, we will take steps with the aim of ensuring
        your privacy is protected.
    </p>
    <p>
        <strong>Cookies</strong>
    </p>
    <p>
        30. This Website may place and access certain Cookies on your computer.
        Coinstacker Ltd uses Cookies to improve your experience of using the
        Website and to improve our range of products and services. Coinstacker Ltd
        has carefully chosen these Cookies and has taken steps to ensure that your
        privacy is protected and respected at all times.
    </p>
    <p>
        31. All Cookies used by this Website are used in accordance with current UK
        and EU Cookie Law.
    </p>
    <p>
        32. Before the Website places Cookies on your computer, you will be
        presented with a message bar requesting your consent to set those Cookies.
        By giving your consent to the placing of Cookies, you are enabling
        Coinstacker Ltd to provide a better experience and service to you. You may,
        if you wish, deny consent to the placing of Cookies; however certain
        features of the Website may not function fully or as intended.
    </p>
    <p>
        33. This Website may place the following Cookies:
    </p>
    <table border="1" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td width="30%">
                    <p align="center">
                        <strong>Type of Cookie</strong>
                    </p>
                </td>
                <td width="70%">
                    <p align="center">
                        <strong>Purpose</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Strictly necessary cookies
                    </p>
                </td>
                <td valign="top">
                    <p>
                        These are cookies that are required for the operation of
                        our website. They include, for example, cookies that enable
                        you to log into secure areas of our website, use a shopping
                        cart or make use of e-billing services.
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Analytical/performance cookies
                    </p>
                </td>
                <td valign="top">
                    <p>
                        They allow us to recognise and count the number of visitors
                        and to see how visitors move around our website when they
                        are using it. This helps us to improve the way our website
                        works, for example, by ensuring that users are finding what
                        they are looking for easily.
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Functionality cookies
                    </p>
                </td>
                <td valign="top">
                    <p>
                        These are used to recognise you when you return to our
                        website. This enables us to personalise our content for
                        you, greet you by name and remember your preferences (for
                        example, your choice of language or region).
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Targeting cookies
                    </p>
                </td>
                <td valign="top">
                    <p>
                        These cookies record your visit to our website, the pages
                        you have visited and the links you have followed. We will
                        use this information to make our website and the
                        advertising displayed on it more relevant to your
                        interests. We may also share this information with third
                        parties for this purpose.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        34. You can find a list of Cookies that we use in the Cookies Schedule.
    </p>
    <p>
        35. You can choose to enable or disable Cookies in your internet browser.
        By default, most internet browsers accept Cookies but this can be changed.
        For further details, please consult the help menu in your internet browser.
    </p>
    <p>
        36. You can choose to delete Cookies at any time; however you may lose any
        information that enables you to access the Website more quickly and
        efficiently including, but not limited to, personalisation settings.
    </p>
    <p>
        37. It is recommended that you ensure that your internet browser is
        up-to-date and that you consult the help and guidance provided by the
        developer of your internet browser if you are unsure about adjusting your
        privacy settings.
    </p>
    <p>
        38. For more information generally on cookies, including how to disable
        them, please refer to aboutcookies.org. You will also find details on how
        to delete cookies from your computer.
    </p>
    <p>
        <strong>General</strong>
    </p>
    <p>
        39. You may not transfer any of your rights under this privacy policy to
        any other person. We may transfer our rights under this privacy policy
        where we reasonably believe your rights will not be affected.
    </p>
    <p>
        40. If any court or competent authority finds that any provision of this
        privacy policy (or part of any provision) is invalid, illegal or
        unenforceable, that provision or part-provision will, to the extent
        required, be deemed to be deleted, and the validity and enforceability of
        the other provisions of this privacy policy will not be affected.
    </p>
    <p>
        41. Unless otherwise agreed, no delay, act or omission by a party in
        exercising any right or remedy will be deemed a waiver of that, or any
        other, right or remedy.
    </p>
    <p>
        42. This Agreement will be governed by and interpreted according to the law
        of England and Wales. All disputes arising under the Agreement will be
        subject to the exclusive jurisdiction of the English and Welsh courts.
    </p>
    <p>
        <strong>Changes to this privacy policy</strong>
    </p>
    <p>
        Coinstacker Ltd reserves the right to change this privacy policy as we may
        deem necessary from time to time or as may be required by law. Any changes
        will be immediately posted on the Website and you are deemed to have
        accepted the terms of the privacy policy on your first use of the Website
        following the alterations.
        <br />
        <br />
        You may contact Coinstacker Ltd by email at info@coinstacker.co.uk.
    </p>
    <p>
        <strong>Cookies</strong>
    </p>
    <p>
        Below is a list of the cookies that we use. We have tried to ensure this is
        complete and up to date, but if you think that we have missed a cookie or
        there is any discrepancy, please let us know.
    </p>
    <p>
        Strictly necessary
    </p>
    <p>
        We use the following strictly necessary cookies:
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="25%" valign="top">
                    <p>
                        <strong>Description of Cookie</strong>
                        <strong></strong>
                    </p>
                </td>
                <td width="25%" valign="top">
                    <p>
                        <strong>Purpose</strong>
                        <strong></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        What are Cookies?
                    </p>
                </td>
                <td valign="top">
                    <p>
                        Cookies are messages that web servers pass to your web
                        browser when you visit Internet sites. Your browser stores
                        each message in a small file, called cookie.txt
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Analytical/performance
    </p>
    <p>
        We use the following analytical/performance cookies:
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="25%" valign="top">
                    <p>
                        <strong>Description of Cookie</strong>
                        <strong></strong>
                    </p>
                </td>
                <td width="25%" valign="top">
                    <p>
                        <strong>Purpose</strong>
                        <strong></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Analytical
                    </p>
                </td>
                <td valign="top">
                    <p>
                        We use this cookie to help us analyse how users use the
                        website
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Functionality
    </p>
    <p>
        We use the following functionality cookies:
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="25%" valign="top">
                    <p>
                        <strong>Description of Cookie</strong>
                        <strong></strong>
                    </p>
                </td>
                <td width="25%" valign="top">
                    <p>
                        <strong>Purpose</strong>
                        <strong></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Functional cookies
                    </p>
                </td>
                <td valign="top">
                    <p>
                        We use this cookie to identify your computer and analyse
                        traffic patterns on our website
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Targeting
    </p>
    <p>
        We use the following targeting cookies:
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="25%" valign="top">
                    <p>
                        <strong>Description of Cookie</strong>
                        <strong></strong>
                    </p>
                </td>
                <td width="25%" valign="top">
                    <p>
                        <strong>Purpose</strong>
                        <strong></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Targeting cookies
                    </p>
                </td>
                <td valign="top">
                    <p>
                        We use this cookie to enable us to show you adverts while
                        you are browsing our website and other websites on the
                        internet
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

</div>