﻿@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Safety" } })

<div class="container">

    <p>
    At CoinStacker.co.uk, we use a unique 3 step verification process to vet each person wanting to sell on our platform.
        </p>
    <p>

    We will require a:
    </p>
    <ol>
        <li>

    1.	Proof of Identity
        </li>
        <li>

    2.	Proof of Address
        </li>
        <li>
    3.	PayPal transaction

        </li>
    </ol>

    <p>

    Although we will do our very best to keep this a safe platform to buy and sell on, we cannot guarantee against anyone who is committed to engage in criminal activities.
    </p>
    <p>
    We urge all Users to err on the side of caution when making a large purchase and to report any suspicious activity to us.

    </p>
    <p>
    We also have a 5 Star rating system which will allow Buyers and Sellers to rate each other’s service in order to establish more credibility and trust between individuals.

    </p>
    <p>
    Coinstacker.co.uk cannot be held responsible for any counterfeit goods or unscrupulous sellers. Please contact us immediately on <a href="mailto:info@coinstacker.co.uk">info@coinstacker.co.uk</a> should you suspect any foul play.

    </p>

</div>