﻿@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Postage/Shipping" } })
<div class="container">
    Please be aware that he Royal Mail 1st and 2nd class signed for service is only a tracking service. This will allow you to verify that an item has been posted but will not cover any loss or damage to your products. If you choose this service, you do so at your own risk. The seller will not be able to return your payment or replace your items if an item is lost or damaged by the postal service.
    We highly recommend using the Royal Mail Special Delivery service which is a fully insured service.
    Other private courier services may also offer an insured service. Please enquire this with the seller if they have offered this shipping method only.
</div>
    <br />