﻿@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<style>
    ol li {
        list-style-type: lower-alpha;
        list-style-position: inside;
    }
</style>

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Terms And Conditions" } })

<div class="container">
    <h3>(1) Introduction</h3>
    <p>These terms and conditions were last updated in June 2020 and disclose the terms and conditions of use for the CoinStacker.co.uk website residing at the following URL: http://www.coinstacker.co.uk (hereinafter referred to as Coinstacker.co.uk. The terms "you", "your" and "user" are used herein to refer to all individuals and/or entities accessing this website for any reason.</p>

    <p>These terms of use are divided into 2 parts. Part A contains general terms relating to the use of our website; Part B contains special terms relating to registered Users.</p>

    <p>
        By using our website, you accept these terms of use in full. If you disagree with these terms of use or any part of these terms of use, you must not use our website. If you register with the website as a User, we will ask you to expressly agree to these terms of use.
    </p>
    <br />
    <h2>Part A</h2>
    <h3>(2) Use of this website</h3>
    <p>Unless otherwise stated, CoinStacker.co.uk owns the intellectual property rights in the website and material on the website. Subject to the conditions below, all these intellectual property rights are reserved. You expressly agree that no rights, title or interest in any downloaded materials is transferred to you as a result of such downloading or copying.</p>

    <p>You may view, download for caching purposes only, and print pages from the website for your own personal and internal business use, subject to the restrictions set out below and elsewhere in these terms of use.</p>

    <strong>You must:</strong>
    <ol type="a">
        <li>be at least 18 years of age to conduct a transaction on Coinstacker.co.uk</li>
        <li>ensure that the personal details provided are complete and correct</li>
        <li>be the owner or have permission from the owner of the bank account or PayPal account when making a payment</li>
        <li>provide us with true and accurate documents required for our seller verification process if required</li>
        <li>accept and comply with our Terms & Conditions at all times</li>
    </ol>


    <strong>You must not:</strong>

    <ol type="a">
        <li>republish material from this website (including republication on another website)</li>
        <li>sell, rent or sub-license material from the website</li>
        <li>show any material from the website in public</li>
        <li>reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose</li>
        <li>edit or otherwise modify any material on the website; or</li>
        <li>redistribute material from this website [except for content specifically and expressly made available for redistribution (such as our newsletter).</li>
    </ol>

    <p>Where content is specifically made available for redistribution, it may only be redistributed within your organisation.</p>

    <br />
    <h3>(3) Acceptable use</h3>
    <p>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

    <p>
        You must not use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
    </p>
    <p>
        You may not advertise, trade or converse via the CoinStacker.co.uk website with fellow users any pornographic material or images of any kind.
    </p>

    <p>
        You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent.
    </p>

    <p>
        You must not use our website to transmit or send unsolicited commercial communications.
    </p>

    <p>
        You must not use our website for any purposes related to marketing without our express written consent.
    </p>

    <p>
        As part of our commitment to provide an excellent service to all our customers, Coinstacker.co.uk may need to apply a Fair Usage Policy (FUP) if required. This is to ensure we provide a fair and consistent service to all users.
    </p>

    <br />

    <h3>(4) Restricted access</h3>
    <p>
        Access to certain areas of our website is restricted. We reserve the right to restrict access to other areas of our website, or indeed our whole website, at our discretion.
    </p>

    <p>
        If we provide you with a Username and password to enable you to access restricted areas of our website or other content or services, you must ensure that that Username and password is kept confidential.
    </p>

    <p>
        We may disable your Username and password in our sole discretion without notice or explanation.
        This may be done if you are in direct violation of our Terms and Conditions set out here or we have received substantiated reports of illegal or fraudulent/criminal activities.
    </p>

    <br />

    <h3>(5) User generated content</h3>
    <p>
        In these terms of use, "your user content" means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to our website, for whatever purpose.
    </p>

    <p>
        You grant to us a worldwide, irrevocable, non-exclusive, royalty-free licence to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to us the right to sub-license these rights, and the right to bring an action for infringement of these rights.
    </p>

    <p>
        Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or us or a third party (in each case under any applicable law).
    </p>

    <p>
        Your user content (and its publication on our website) must not:
    </p>

    <ol type="a">
        <li>be libellous or maliciously false</li>
        <li>be obscene or indecent</li>
        <li>infringe any copyright, moral right, database right, trademark right, design right, right in passing off, or other intellectual property right</li>
        <li>infringe any right of confidence, right of privacy, or right under data protection legislation</li>

        <li>constitute negligent advice or contain any negligent statement</li>
        <li>constitute an incitement to commit a crime</li>
        <li>be in contempt of any court, or in breach of any court order</li>
        <li>be in breach of racial or religious hatred or discrimination legislation</li>

        <li>be blasphemous</li>
        <li>be in breach of any contractual obligation owed to any person</li>
        <li>depict violence in a explicit, graphic or gratuitous manner</li>
        <li>be pornographic or sexually explicit</li>

        <li>be untrue, false, inaccurate, or misleading</li>
        <li>consist of or contain any instructions, advice or other information which may be acted upon and could, if acted upon, cause illness, injury or death, or any other loss or damage</li>
        <li>constitute spam</li>
        <li>be offensive, deceptive, threatening, abusive, harassing, or menacing, hateful, discriminatory, or inflammatory or</li>
        <li>cause annoyance, inconvenience, or needless anxiety to any person.</li>
    </ol>



    <p>
        Your user content must be appropriate, civil, tasteful and accord with generally accepted standards of etiquette and behaviour on the internet.
    </p>

    <p>
        You must not use our website to link to any website or web page consisting of or containing material that would, were it posted on our website, breach the provisions of these terms of use.
    </p>

    <p>
        You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
    </p>

    <p>
        We reserve the right to edit or remove any material submitted to our website, or stored on our servers, or hosted or published upon our website.
    </p>

    <p>
        Notwithstanding our rights under these terms of use in relation to user content, we do not undertake to monitor the submission of such content to, or the publication of such content on, our website.
    </p>

    <br />

    <h3>(6) Accuracy and Completeness of Information</h3>
    <p>While Coinstacker.co.uk strives to ensure that the information contained on this Site is accurate and reliable, we make no warranties as to the accuracy, correctness or completeness of any such information and assume no liability or responsibility for any omissions or errors in the content of this Site.</p>


    <br />

    <h3>
        (7) Limited warranties
    </h3>
    <p> You acknowledge that some of the information published on this website is submitted by users, and that we do not usually review, approve, or edit such information. We do not warrant the completeness or accuracy of the information published on this website; nor do we commit to ensuring that the website remains available or that the material on the website is kept up-to-date.</p>

    <p> To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).</p>

    <br />

    <h3>
        (8) Limitations of liability
    </h3>

    <p>Nothing in these terms of use (or elsewhere on our website) will exclude or limit our liability for fraud, for death or personal injury caused by our negligence, or for any other liability which cannot be excluded or limited under applicable law. CoinStacker.co.uk acts as a platform for Buyers and Sellers to advertise products for sale. CoinStacker.co.uk is not considered to be the Seller of products, only an advertising platform. The products are sold by the individuals themselves who are responsible for the goods and services they are providing. Coinstacker.co.uk shall not be responsible for any user entering into any agreements with a seller. Products are purchased at the Users own risk. Coinstacker.co.uk will do their best to validate the accuracy of the Sellers personal information that was provided but we cannot guarantee its accuracy or correctness.</p>

    <p>Subject to this, our liability to you in relation to the use of our website or under or in connection with these terms of use, whether in contract, tort (including negligence) or otherwise, will be limited as follows:</p>

    <ol>
        <li>we will not be liable for any consequential, direct, indirect, incidental, punitive, or special loss or damage</li>
        <li>we will not be liable for any loss of profit, income, revenue, anticipated savings, contracts, business, goodwill, reputation, data, or information</li>
        <li>we will not be liable for any loss or damage arising out of any event or events beyond our control</li>
        <li>we are not able to refund counterfeit goods provided to you by a seller</li>
        <li>we are not able to replace or refund items that have gone missing in the mail system</li>
    </ol>

    <p>You accept that we have an interest in limiting the personal liability of our officers and employees. Having regard to that interest, you accept that we are a limited liability entity and agree that you will not bring any claim personally against individual officers or employees in respect of any losses you suffer in connection with the website or these terms of use.</p>

    <br />

    <h3>
        (9) Indemnity
    </h3>
    <p>You hereby indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of these terms of use, or arising out of any claim that you have breached any provision of these terms of use.</p>


    <br />

    <h3>
        (10) Breaches of these terms of use
    </h3>

    <p>Without prejudice to our other rights under these terms of use, if you (including for the avoidance of doubt registered jobseekers and registered recruiters) breach these terms of use in any way, or if we reasonably suspect that you have breached these terms of use in any way, we may:</p>

    <ol>
        <li>send you one or more formal warnings</li>
        <li>temporarily suspend your access to the website</li>
        <li>permanently prohibit you from accessing the website</li>
        <li>block computers using your IP address from accessing the website</li>

        <li>contact your internet services provider and request that they block your access to the website</li>
        <li>bring court proceedings against you for breach of contract or otherwise</li>
        <li>suspend and/or delete your account with the website; and/or</li>
        <li>delete and/or edit any or all of your user generated content.</li>
    </ol>

    <p>Where we suspend or prohibit or block your access to our website or a part of our website, you may not take any action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using a different account).</p>



    <br />

    <h3>
        (11) Third party websites
    </h3>
    <p>    CoinStacker.co.uk includes hyperlinks to other websites owned and operated by third parties. These links are not recommendations. We have no control over the contents of third-party websites, and we accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>


    <br />

    <h3>
        (12) Trademarks
    </h3>

    <p>Any registered and unregistered trademarks or service marks on our website are the property of their respective owners. Unless stated otherwise, we do not endorse and are not affiliated with any of the holders of any such rights and as such we cannot grant any licence to exercise such rights.</p>



    <br />

    <h3>
        (13) Competitions
    </h3>
    <p>From time to time Coinstacker.co.uk may run competitions, free prize draws and/or other promotions on our website. These will be subject to separate terms and conditions (that we will make available to you as appropriate)</p>



    <br />

    <h3>
        (14) Variation
    </h3>
    <p>Coinstacker.co.uk may revise these terms of use from time-to-time. Revised terms of use will apply to the use of our website from the date of the publication of the revised terms of use on our website. Please check this page regularly to ensure you are familiar with the current version.</p>


    <br />

    <h3>
        (15) Website off-line or Closure of website
    </h3>

    <p>CoinStacker.co.uk will not be held liable for any Users’ loss of income that may arise from the website being off-line for maintenance, technical reasons or any other reason that may be beyond our control.</p>
    <p>If the website should close, we will inform all Users by email with our intentions to do so.</p>


    <br />

    <h3>
        (16) Severability
    </h3>
    <p>If a provision of these terms of use is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>



    <br />

    <h3>
        (17) Exclusion of third-party rights
    </h3>
    <p>These terms of use are for the benefit of you and us and are not intended to benefit any third party or be enforceable by any third party. The exercise of our and your rights in relation to these terms of use is not subject to the consent of any third party.</p>



    <br />

    <h3>
        (18) Entire agreement
    </h3>
    <p>These terms of use, together with our privacy policy, constitute the entire agreement between you and us in relation to your use of our website, and supersede all previous agreements in respect of your use of this website.</p>



    <br />

    <h3>
        (19) Law and jurisdiction
    </h3>
    <p>These terms of use will be governed by and construed in accordance with English (England) law, and any disputes relating to these terms of use will be subject to the exclusive jurisdiction of the courts of England.</p>
    <p>We reserve the right to comply with any Law enforcement agency both local and abroad legally requesting personal information of any User on Coinstacker.co.uk in regard to criminal or fraudulent activity conducted on CoinStacker.co.uk</p>




    <br />

    <h2>
        PART B: Users
    </h2>

    <br />

    <h3>
        (20) Registering as a User
    </h3>
    <p>In order to register as a User with our website, you will need to take the following steps: Complete the registration form with the following information, Full Name, Last Name, your email address, Create a password for your account. If you would like to sell products on CoinStacker.co.uk you will be required to Upload Proof of Identity and Proof of Address. This is to ensure the maximum security to our customers and to aid in fraudulent or criminal activity. Your personal details will be stored on our secure servers to the best of our abilities. No personal details will be shared with any 3rd party unless we are obliged to do so by Law.</p>

    <p>We will not file a copy of these terms of use specifically in relation to each registered recruiter and, if we update these terms of use, the version to which you originally agreed will no longer be available on our website. For this reason, we recommend that Users print and file a copy of these terms of use for future reference.</p>



    <br />

    <h3>
        (21) Our Charges and Subscriptions
    </h3>
    <p>The charges payable by Users who wish to sell will be as set out on our website from time to time. You must pay to us the applicable charges in advance, in cleared funds, in accordance with the instructions on our website. All charges stated on the website are VAT exempt.</p>

    <p>PayPal payments will be charged in British Pounds</p>

    <strong>Important Note when buying a Subscription Package via PayPal:</strong>

    <p>If you purchase a Subscription via PayPal, PayPal will automatically re-bill you and re-new your Package. If you wish to cancel the automatic re-billing, then simply log in to your PayPal account and cancel it from there. You can do this at any time.</p>



    <br />

    <h3>
        (22) User warranties and undertakings
    </h3>
    <p>By registering as a User, you warrant that all information you provide to us and to any registered User via or in relation to our website (including without limitation all information in an advertisements) is true, accurate, fair and complete, and you undertake to keep all such information up-to-date at all times.</p>




    <br />

    <h3>
        (23) Advertising Rules
    </h3>
    <p>Coinstacker.co.uk have rules regarding the content and format of adverts posted on Coinstacker.co.uk. Their purpose is to ensure that users who search the site get results which are presented as clearly and informatively as possible. You agree that we may, at our discretion and without liability to you, remove from Coinstacker.co.uk any advertisement which is posted in breach of these rules. The rules may change or be updated from time to time and you are advised to refer to them regularly. Our rules are:</p>

    <ol>
        <li>All listings must be of an actual product in stock. No pre-order listings are allowed.</li>
        <li>Photos must be your own. You can upload stock photos to show better clarity of a product but must have at least 1 of your own photos uploaded too.</li>
        <li>Genuine coins only, no counterfeit/fake, replica or plated coins are permitted.</li>
        <li>Absolutely no duplication of listings is allowed. Do not create duplicated ads with the same product on offer with the pure intentions of creating more exposure of your product.</li>

        <li>Please give a clear description of what is on offer e.g. Full tube and amount of coins in tube, multi buy discounts available. Weight of coins/bars, postage options, preferred payment etc.</li>
        <li>Please dispatch all orders in a timely manner.</li>
        <li>Respond to buyers’ offers within a reasonable time frame.</li>
        <li>No multiple use of keywords in descriptions or titles. Multiple means deliberately inserting words, strings of words related to other items merely to attract more views.</li>

        <li>Advertisements placed on Coinstacker.co.uk must be for genuine products only, and not for services, either relating to or unrelated to recruitment including, but not limited to, affiliate schemes, pyramid selling schemes or any other so called 'business opportunity'.</li>
        <li>URLs, email links or telephone numbers are not permitted in the body copy of the product description page. Email links or phone numbers are only permitted where we ask you to enter them.</li>
    </ol>

    <br />

    <h3>
        (24) Cancelling your account.
    </h3>
    <p>You may delete your User account using the website interface at any time. We may cancel your User account in accordance with the provisions of Section 9. All your personal information will be deleted from our servers at such given time.</p>

    <p>We may also cancel your User account without cause by giving you at least 30 days notice of cancellation. Where we cancel your account on this basis, you will be entitled to a (pro-rated) refund of any element(s) of the charges paid to us in respect of the provision of services during any period after the date of effective cancellation of your account (and we will calculate the amount of such refund using any reasonable methodology).</p>


    <br />

    <h3>

        (25) Cookies and GDPR
    </h3>
    <p>To give you the best online experience, Coinstacker.co.uk makes use of Cookies.</p>
    <p>What are Cookies:</p>
    <p>Cookies are messages that web servers pass to your web browser when you visit Internet sites. Your browser stores each message in a small file, called cookie.txt. When you request another page from the server, your browser sends the cookie back to the server. These files typically contain information about your visit to the web page, as well as any information you've volunteered, such as your name and interests.</p>

    <br />

    <h3>
        (26) How Coinstacker.co.uk could contact you
    </h3>

    <p>We might use your information to contact you about different things, like:</p>
    <ul>
        <li>to update you on any changes to the Coinstacker.co.uk policies, practices, and Terms of Use.</li>
        <li>to check with you about any service or activity you have signed up for. For example, we might tell you if your Coinstacker.co.uk account has not been used for a long time.</li>
        <li>to answer you when you have contacted us, or to respond to a comment or complaint</li>
        <li>to invite you to take part in surveys which are always voluntary</li>

        <li>for our personal marketing services</li>
        <li>to send you notifications on your device depending on your settings</li>
        <li>We will only contact you when we need to or when you’ve given us permission.</li>
        <li>We will never contact you to ask for your CoinStacker.co.uk password.</li>
    </ul>

    <br />

    <h3>
        (27) Storing your information
    </h3>
    <p>Your personal information will be securely stored and not shared with any 3rd parties unless ordered to do so by Law Enforcement.</p>
    <p>We will never store your personal data for a period longer than 5 years without having meaningful contact with you in this time period. If you have not received any meaningful contact from us or have not accessed our website in the past 5 years, your personal information will be deleted from our system.</p>


    <br />

    <h3>
        (28) Our details
    </h3>


    <p>Coinstacker Ltd is a registered company in the United Kingdom</p>
    <p>You can contact us by email on info@coinstacker.co.uk</p>


</div>