﻿@model CoinListingApp.Models.CartOrderViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<h2>Details</h2>

@Html.Partial("_Notify")

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Orders[0].QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders[0].QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders[0].OrderListings.FirstOrDefault().Listing.Title)
        </dt>

        <dd>
            @foreach (var orderListing in Model.Orders[0].OrderListings)
            {
                @Html.DisplayFor(model => orderListing.Listing.Title)
                <br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders[0].User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders[0].User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders[0].Status.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders[0].Status.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders[0].Tracking.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders[0].Tracking.Description)
        </dd>
    </dl>
</div>
<p>
    @if (Model.Orders[0].Status.State != "COMPLETED" || Model.Orders[0].Status.State != "CANCELLED")
    {
        if (Model.Orders[0].Status.State == "CREATED" && Model.UserID == Model.Orders[0].BuyerID)
        {
            @Html.ActionLink("Complete Order", "Payment", new { id = Model.Orders[0].OrderID }) <span>|</span>
        }

        if (Model.Orders[0].Status.State == "PAYMENT MADE" && Model.UserID == Model.Orders[0].OrderListings.FirstOrDefault().Listing.SellerD)
        {
            @Html.ActionLink("Payment received", "PaymentReceived", new { id = Model.Orders[0].OrderID }) <span>|</span>
        }

        if (Model.Orders[0].Status.State == "PAYMENT RECEIVED" && Model.UserID == Model.Orders[0].OrderListings.FirstOrDefault().Listing.SellerD)
        {
            @Html.ActionLink("Product Shipped", "ProductShipped", new { id = Model.Orders[0].OrderID }) <span>|</span>
        }

        if (Model.Orders[0].Status.State == "SHIPPED" && !(Model.UserID == Model.Orders[0].OrderListings.FirstOrDefault().Listing.SellerD))
        {
            @Html.ActionLink("Product Received", "ProductReceived", new { id = Model.Orders[0].OrderID }, new { id = "btnShowModal" }) <span>|</span>
        }

        if (Model.Orders[0].Status.State != "CANCELLED" && Model.Orders[0].Status.State != "COMPLETED")
        {
            @Html.ActionLink("Cancel Order", "CancelOrder", new { id = Model.Orders[0].OrderID }) <span>|</span>
        }
    }

    @Html.ActionLink("Back to List", "Index")
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#modal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#modal").modal('hide');
        });
    });
</script>

@using (Html.BeginForm("ProductReceived", "Order", FormMethod.Post))
{
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Report Seller</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="textarea" class="col-form-label">Please rate the seller</label>
                    @Html.HiddenFor(model => model.UserID)
                    @Html.EditorFor(model => model.RatingValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RatingValue, "", new { @class = "text-danger" })
                    <label for="textarea" class="col-form-label">Please give a reason</label>
                    @Html.TextAreaFor(model => model.RatingReason, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RatingReason, "", new { @class = "text-danger" })
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary button" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary button" style="background-color:red;">Product was received</button>
                </div>
            </div>
        </div>
    </div>
}