﻿@model CoinListingApp.Models.OrdersHistoryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@section stylesheets{
    <link rel="stylesheet" href="~/Styles/UDUI/css/w3SchoolsModal.css">
}

@Html.Partial("_Notify")

<div class="row text-center">
    @if (Model.AsBuyer)
    {
        <h2>Orders History as Buyer</h2>
    }
    else
    {
        <h2>Orders History as Seller</h2>
    }
</div>

<div class="row">
    <div class="col-md-2">
        <a class="button" href="@Url.Action("Index", "Orders")"><i class="sl sl-icon-arrow-left"></i>Go to Orders</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-folder-alt"></i>Orders History</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            <div class="style-2 element_tab">

                                <ul class="utf_tabs_nav">
                                    <li class=""><a href="#tab1a"><i class="sl sl-icon-clock"></i>Filter by dates</a></li>
                                    <li class=""><a href="#tab2a"><i class="sl sl-icon-flag"></i>Filter by month</a></li>
                                    <li class=""><a href="#tab3a"><i class="sl sl-icon-notebook"></i>Filter by year</a></li>
                                </ul>
                                <div class="tab_container">
                                    <div class="tab_content" id="tab1a" style="display: none;">

                                        @using (Html.BeginForm(Html.BeginForm("History", "Orders", FormMethod.Post, new { id = "history" })))
                                        {
                                            <div class="col-md-6">
                                                <h5>Date From:</h5>
                                                @Html.TextBox("dateFrom", ViewBag.DateFrom as string, new { @type = "Date" })
                                                <input type="submit" value="Filter" />
                                            </div>

                                            <div class="col-md-6">
                                                <h5>Date To:</h5>
                                                @Html.TextBox("dateTo", ViewBag.DateTo as string, new { @type = "Date" })
                                            </div>

                                        }
                                    </div>
                                    <div class="tab_content" id="tab2a" style="display: none;">
                                        @using (Html.BeginForm(Html.BeginForm("History", "Orders", FormMethod.Post, new { id = "month" })))
                                        {
                                            <div class="col-md-4">
                                                <h5>Filter by month</h5>

                                                <select class="form-control" id="period" name="period">
                                                    <option value="1" selected>January</option>
                                                    <option value="2">Febuary</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <input type="submit" value="Filter" />
                                            </div>

                                        }
                                    </div>
                                    <div class="tab_content" id="tab3a" style="display:none;">
                                        @using (Html.BeginForm(Html.BeginForm("History", "Orders", FormMethod.Post, new { id = "year" })))
                                        {
                                            <div class="col-md-6">
                                                <h5>Filter by Year</h5>
                                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                                <select class="form-control" id="years" name="years"></select>
                                                <input type="submit" value="Filter" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            @if (Model.Orders.Count > 0)
                            {
                                <table id="tblOrdersHistory" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                                    <thead>
                                        <tr>
                                            <th>
                                                Order Number
                                            </th>
                                            <th>
                                                Creation Date
                                            </th>
                                            <th>
                                                Listings
                                            </th>
                                            <th>
                                                Order Price
                                            </th>
                                            <th>
                                                @if (Model.AsBuyer)
                                                {
                                                    <span>Seller</span>
                                                }
                                                else
                                                {
                                                    <span>Buyer</span>
                                                }
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Orders[0].Postage)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Orders[0].PaymentType)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.Orders[0].Status.State)
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.Orders[0].Tracking.Description)
                                                </th>*@
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Orders)
                                        {

                                            <tr>
                                                <td class="text-right" style="width: 20px;">
                                                    @item.OrderID
                                                </td>
                                                <td class="text-center">
                                                    @if (item.CreatedDate.HasValue)
                                                    {
                                                        <span style="display:none">@item.CreatedDate.Value.Ticks</span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (var listing in item.Listings)
                                                    {
                                                        <p>@listing.Quantity - @Html.ActionLink(listing.Listing.Title, "Details", "Listings", new { id = listing.Listing.ListingID }, null) (&#163; @listing.Price)</p>
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    &#163; @item.Price
                                                </td>
                                                <td>
                                                    @if (Model.AsBuyer)
                                                    {
                                                        @Html.ActionLink(item.Seller.MaskedSellerName, "Seller", "Users", new { id = item.Seller.SellerId }, null)
                                                    }
                                                    else
                                                    {
                                                        @item.MaskedBuyerName
                                                        <br />
                                                        if (item.BuyerShippingAddress == null)
                                                        {
                                                            <button class="btn btn-default"
                                                                    onclick="showBuyerInfoModal(
                                                                        '@item.BuyerFullName',
                                                                        '',
                                                                        '',
                                                                        '',
                                                                        '',
                                                                        '',
                                                                        ''
                                                                        )">
                                                                Show buyer's info
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-default"
                                                                    onclick="showBuyerInfoModal(
                                                                        '@item.BuyerFullName',
                                                                        '@item.BuyerShippingAddress.Address_line1',
                                                                        '@item.BuyerShippingAddress.Address_line2',
                                                                        '@item.BuyerShippingAddress.City',
                                                                        '@item.BuyerShippingAddress.State_Province',
                                                                        '@item.BuyerShippingAddress.PostalCode',
                                                                        '@item.BuyerShippingAddress.Country'
                                                                        )">
                                                                Show buyer's info
                                                            </button>
                                                        }
                                                    }
                                                </td>
                                                <td>

                                                    @item.Postage
                                                </td>
                                                <td>

                                                    @item.PaymentType
                                                </td>
                                                <td class="text-center">
                                                    @if (item.Status.State == "COMPLETED")
                                                    {
                                                        <span class="table-badge tb-bg-success">@item.Status.State</span>
                                                    }
                                                    else if (item.Status.State == "CANCELLED")
                                                    {
                                                        <span class="table-badge tb-bg-danger">@item.Status.State</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="table-badge tb-bg-default">@item.Status.State</span>
                                                    }
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(model => item.Tracking.Description)
                                                    </td>*@
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                                <hr />
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">

                                        @using (Html.BeginForm("Export", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {

                                            @Html.HiddenFor(model => model.AsBuyer)

                                            for (int i = 0; i < Model.Orders.Count; i++)
                                            {
                                                @Html.HiddenFor(model => Model.Orders[i].OrderID)
                                                @Html.HiddenFor(model => Model.Orders[i].CreatedDate)
                                                @Html.HiddenFor(model => Model.Orders[i].Price)
                                                @Html.HiddenFor(model => Model.Orders[i].QTY)
                                                @Html.HiddenFor(model => Model.Orders[i].Postage)
                                                @Html.HiddenFor(model => Model.Orders[i].PaymentType)
                                                @Html.HiddenFor(model => Model.Orders[i].Status.State)
                                                @Html.HiddenFor(model => Model.Orders[i].Tracking.TrackingID)
                                                @Html.HiddenFor(model => Model.Orders[i].Tracking.Description)
                                                @Html.HiddenFor(model => Model.Orders[i].MaskedBuyerName)
                                                @Html.HiddenFor(model => Model.Orders[i].Seller.MaskedSellerName)

                                                for (int j = 0; j < Model.Orders[i].Listings.Count; j++)
                                                {
                                                    @Html.HiddenFor(model => Model.Orders[i].Listings[j].Listing.Title)
                                                    @Html.HiddenFor(model => Model.Orders[i].Listings[j].Quantity)
                                                    @Html.HiddenFor(model => Model.Orders[i].Listings[j].Price)
                                                }

                                            }

                                            <input class="btn btn-success" style="width: 100%" type="submit" value="Export current orders to CSV" />
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h3>No orders found</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="modalBuyerInfo" class="modal" style="top: 0%;">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h3>Buyer's info</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                Full name
            </div>
            <div class="col-md-5">
                <b id="buyerFullName"></b>
            </div>
            <div class="col-md-4 text-left">
                <button class="btn btn-light" onclick="copyToClipboard('buyerFullName')"><i class="sl sl-icon-docs"></i> Copy</button>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-3">
                Shipping address
            </div>
            <div class="col-md-5" id="buyerAddressInfo">
                <p>
                    <span id="buyerAddressLine1"></span><br />
                    <span id="buyerAddressLine2"></span>
                </p>
                <p>
                    <span id="buyerCityAndState"></span><br />
                    <span id="buyerPostalCode"></span><br />
                    <span id="buyerCountry"></span>
                </p>
            </div>
            <div class="col-md-4 text-left">
                <button class="btn btn-light" onclick="copyToClipboard('buyerAddressInfo')"><i class="sl sl-icon-docs"></i> Copy</button>
            </div>
        </div>
        <hr />
        <div class="row text-right">
            <div class="col-md-offset-9 col-md-3">
                <input class="btn btn-primary dismiss-modal-btn" style="margin-bottom: 0px" value="Dismiss" type="button" />
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        document.getElementById('dateFrom').valueAsDate = new Date();
        document.getElementById('dateTo').valueAsDate = new Date();

        var nowY = new Date().getFullYear(), options = "";

        for (var Y = nowY; Y >= 2020; Y--) {
            options += "<option value=\"" + Y + "\">" + Y + "</option>";
        }

        $("#years").append(options);

        //Modal
        var modalBuyerInfo;

        $(document).ready(function () {

            $('#tblOrdersHistory').DataTable({
                autoWidth: false,
                order: [[1, "desc"]]
            });

            modalBuyerInfo = document.getElementById('modalBuyerInfo');

            var closeModalSpans = $(".close-modal");
            var dismissModatBtns = $('.dismiss-modal-btn');

            for (var i = 0; i < dismissModatBtns.length; i++) {

                // When the user clicks on <span> (x), close the modal
                closeModalSpans[i].onclick = function () {
                    closeModal()
                }

                dismissModatBtns[i].onclick = function () {
                    closeModal()
                }
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modalBuyerInfo) {
                    closeModal()
                }
            }
        });

        function closeModal() {
            modalBuyerInfo.style.display = "none";
        }

        function showBuyerInfoModal(buyerFullName, buyerAddressLine1, buyerAddressLine2, buyerCity, buyerState, buyerPostalCode, buyerCountry) {

            $('#buyerFullName').text(buyerFullName);
            $('#buyerAddressLine1').text(buyerAddressLine1);
            $('#buyerAddressLine2').text(buyerAddressLine2);
            $('#buyerCityAndState').text(buyerCity + " - " + buyerState);
            $('#buyerPostalCode').text(buyerPostalCode);
            $('#buyerCountry').text(buyerCountry);

            modalBuyerInfo.style.display = "block";
        }

        function copyToClipboard(id) {

            var copyText = document.getElementById(id);
            var textArea = document.createElement("textarea");
            textArea.value = copyText.textContent;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("Copy");
            textArea.remove();
        }
    </script>

}