﻿@model CoinListingApp.Models.AllOrdersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@section stylesheets{
    <link rel="stylesheet" href="~/Styles/UDUI/css/w3SchoolsModal.css">
    <link href="/content/starrating/css/star-rating-svg.css" rel="stylesheet">
}

@Html.Partial("_Notify")

<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-basket-loaded"></i>Orders as Buyer</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            @Html.ActionLink("View Order History as Buyer", "History", new { asBuyer = true }, new { @class = "button border" })

                            @if (Model.OrdersAsBuyer.Count > 0)
                            {
                                <table id="tblOrdersAsBuyer" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                                    <thead>
                                        <tr>
                                            <th>
                                                Order Number
                                            </th>
                                            <th>
                                                Creation Date
                                            </th>
                                            <th>
                                                Listings
                                            </th>
                                            <th>
                                                Order Price
                                            </th>
                                            <th>
                                                Seller
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.OrdersAsBuyer[0].Status.State)
                                            </th>
                                            @*<th>
                                                    Tracking
                                                </th>*@
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.OrdersAsBuyer)
                                        {
                                            <tr>
                                                <td class="text-right" style="width: 20px;">
                                                    @item.OrderID
                                                </td>
                                                <td class="text-center">
                                                    @if (item.CreatedDate.HasValue)
                                                    {
                                                        <span style="display:none">@item.CreatedDate.Value.Ticks</span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (var listing in item.Listings)
                                                    {
                                                        <p>@listing.Quantity - @Html.ActionLink(listing.Listing.Title, "Details", "Listings", new { id = listing.Listing.ListingID }, null) (&#163; @listing.Price)</p>
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    &#163; @item.Price
                                                </td>
                                                <td>
                                                    @Html.ActionLink(item.Seller.MaskedSellerName, "Seller", "Users", new { id = item.Seller.SellerId }, null)
                                                </td>
                                                <td class="text-center">

                                                    @if (item.Status.State == "PAYMENT MADE")
                                                    {
                                                        <span class="table-badge tb-bg-success">WAITING FOR PAYMENT CONFIRMATION</span>
                                                    }
                                                    else if (item.Status.State == "PAYMENT PENDING")
                                                    {
                                                        <span class="table-badge tb-bg-danger">@item.Status.State</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="table-badge tb-bg-success">@item.Status.State</span>
                                                    }
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.Tracking.Description)
                                                    </td>*@
                                                <td class="text-center">
                                                    @if (item.Status.State == "CREATED" || item.Status.State == "PAYMENT PENDING")
                                                    {
                                                        <input class="btn btn-primary" style="width: 100%; margin: 2px 0px" value="Complete Order" type="button" onclick="goToPayment(@item.OrderID)" />
                                                        <br />
                                                    }

                                                    @if (item.Status.State == "SHIPPED")
                                                    {
                                                        <input class="btn btn-success" style="width: 80%; margin: 2px 0px" value="Item Received?" type="button" onclick="productReceived(@item.OrderID, @item.Seller.SellerId, @item.Seller.CurrentUserRating)" />
                                                        <br />
                                                    }

                                                    @if (item.Status.State != "CANCELLED" && item.Status.State != "COMPLETED")
                                                    {
                                                        <input class="btn btn-danger" style="width: 100%; margin: 2px 0px" value="Cancel Order" type="button" onclick="cancelOrder(@item.OrderID, true)" />
                                                        <br />
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h3>There are no current orders.</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div id="utf_add_listing_part">
            <div class="add_utf_listing_section">
                <div class="utf_add_listing_part_headline_part">
                    <h3><i class="sl sl-icon-badge"></i>Orders as Seller</h3>
                </div>
                <div class="row with-forms">
                    <div class="col-md-12">
                        <div class="form-group lis-relative">
                            @Html.ActionLink("View Order History as Seller", "History", new { asBuyer = false }, new { @class = "button border" })

                            @if (Model.OrdersAsSeller.Count > 0)
                            {
                                <table id="tblOrdersAsSeller" class="table table-striped table-bordered table-responsive display nowrap cells-vertical-align-middle">
                                    <thead>
                                        <tr>
                                            <th>
                                                Order Number
                                            </th>
                                            <th>
                                                Creation Date
                                            </th>
                                            <th>
                                                Listings
                                            </th>
                                            <th>
                                                Order Price
                                            </th>
                                            <th>
                                                Buyer
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.OrdersAsSeller[0].Status.State)
                                            </th>
                                            @*<th>
                                                    Tracking
                                                </th>*@
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrdersAsSeller)
                                        {
                                            <tr>
                                                <td class="text-right" style="width: 20px;">
                                                    @item.OrderID
                                                </td>
                                                <td class="text-center">
                                                    @if (item.CreatedDate.HasValue)
                                                    {
                                                        <span style="display:none">@item.CreatedDate.Value.Ticks</span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (var listing in item.Listings)
                                                    {
                                                        <p>@listing.Quantity - @Html.ActionLink(listing.Listing.Title, "Details", "Listings", new { id = listing.Listing.ListingID }, null) (&#163; @listing.Price)</p>
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    &#163; @item.Price
                                                </td>
                                                <td>
                                                    @item.MaskedBuyerName
                                                    <br />
                                                    @if (item.BuyerShippingAddress == null)
                                                    {
                                                        <button class="btn btn-default"
                                                                onclick="showBuyerInfoModal(
                                                                        '@item.BuyerFullName',
                                                                        '',
                                                                        '',
                                                                        '',
                                                                        '',
                                                                        '',
                                                                        ''
                                                                        )">
                                                            Show buyer's info
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-default"
                                                                onclick="showBuyerInfoModal(
                                                                        '@item.BuyerFullName',
                                                                        '@item.BuyerShippingAddress.Address_line1',
                                                                        '@item.BuyerShippingAddress.Address_line2',
                                                                        '@item.BuyerShippingAddress.City',
                                                                        '@item.BuyerShippingAddress.State_Province',
                                                                        '@item.BuyerShippingAddress.PostalCode',
                                                                        '@item.BuyerShippingAddress.Country'
                                                                        )">
                                                            Show buyer's info
                                                        </button>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.Status.State == "PAYMENT MADE")
                                                    {
                                                        <span class="table-badge tb-bg-danger">WAITING FOR PAYMENT CONFIRMATION</span>
                                                    }
                                                    else if (item.Status.State == "PAYMENT PENDING")
                                                    {
                                                        <span class="table-badge tb-bg-danger">@item.Status.State</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="table-badge tb-bg-success">@item.Status.State</span>
                                                    }
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.Tracking.Description)
                                                    </td>*@
                                                <td class="text-center">
                                                    @if (item.Status.State == "PAYMENT MADE" || item.Status.State == "PAYMENT PENDING" || item.Status.State == "CREATED")
                                                    {
                                                        <input class="btn btn-success" style="width: 80%; margin: 2px 0px" value="Payment Received?" type="button" onclick="paymentReceived(@item.OrderID)" />
                                                        <br />
                                                    }

                                                    @if (item.Status.State == "PAYMENT RECEIVED")
                                                    {
                                                        <input class="btn btn-primary" style="width: 80%; margin: 2px 0px" value="Product Shipped" type="button" onclick="productShipped(@item.OrderID)" />
                                                        <br />
                                                    }

                                                    @if (item.Status.State != "CANCELLED" && item.Status.State != "COMPLETED")
                                                    {
                                                        <input class="btn btn-danger" style="width: 80%; margin: 2px 0px" value="Cancel Order" type="button" onclick="cancelOrder(@item.OrderID, false)" />
                                                        <br />
                                                    }
                                                    <input class="btn btn-primary" style="width: 80%; margin: 2px 0px" value="Message Buyer" type="button" onclick="goToChat(@item.BuyerID)" />
                                                    <br />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h3>There are no current orders.</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="modalRateAndReportSeller" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h3>Please confirm</h3>
        <div class="row text-center">
            <div class="modal-message"></div>
        </div>
        <br />
        <div class="row text-center">
            <div class="col-md-offset-2 col-md-3">
                <input class="btn btn-primary confirm-modal-btn" style="margin-bottom: 0px" value="Confirm" type="button" onclick="" />
            </div>
            <div class="col-md-3">
                <input class="btn btn-danger dismiss-modal-btn" style="margin-bottom: 0px" value="Dismiss" type="button" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <input id="reportSellerBtn" class="btn btn-danger" style="width: 80%; margin: 2px 0px" value="Report Seller" type="button" />
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="modalOrderActions" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h3>Please confirm</h3>
        <div class="row text-center">
            <div class="modal-message"></div>
        </div>
        <hr />
        <div class="row text-right">
            <div class="col-md-offset-3 col-md-4">
                <input class="btn btn-primary confirm-modal-btn" style="margin-bottom: 0px" value="Confirm" type="button" onclick="" />
            </div>
            <div class="col-md-3">
                <input class="btn btn-danger dismiss-modal-btn" style="margin-bottom: 0px" value="Dismiss" type="button" />
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="modalBuyerInfo" class="modal" style="top: 0%;">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h3>Buyer's info</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                Full name
            </div>
            <div class="col-md-5">
                <b id="buyerFullName"></b>
            </div>
            <div class="col-md-4 text-left">
                <button class="btn btn-light" onclick="copyToClipboard('buyerFullName')"><i class="sl sl-icon-docs"></i> Copy</button>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-3">
                Shipping address
            </div>
            <div class="col-md-5" id="buyerAddressInfo">
                <p>
                    <span id="buyerAddressLine1"></span><br />
                    <span id="buyerAddressLine2"></span>
                </p>
                <p>
                    <span id="buyerCityAndState"></span><br />
                    <span id="buyerPostalCode"></span><br />
                    <span id="buyerCountry"></span>
                </p>
            </div>
            <div class="col-md-4 text-left">
                <button class="btn btn-light" onclick="copyToClipboard('buyerAddressInfo')"><i class="sl sl-icon-docs"></i> Copy</button>
            </div>
        </div>
        <hr />
        <div class="row text-right">
            <div class="col-md-offset-9 col-md-3">
                <input class="btn btn-primary dismiss-modal-btn" style="margin-bottom: 0px" value="Dismiss" type="button" />
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var modal;
        var modalBuyerInfo;
        var modalRateAndReportSeller;
        var modalId = 'modalOrderActions';
        var modalMessageDiv = $('#' + modalId + ' .modal-message')[0];
        var confirmModalBtn = $('#' + modalId + ' .confirm-modal-btn')[0];

        var rateAndReportModalMessageDiv = $('#modalRateAndReportSeller .modal-message')[0];
        var confirmRateAndReportModalBtn = $('#modalRateAndReportSeller .confirm-modal-btn')[0];
        var reportSellerBtn = $('#reportSellerBtn')[0];

        var ratedSellersDic = {};

        $(document).ready(function () {

            $('#tblOrdersAsBuyer').DataTable({
                autoWidth: false,
                order: [[1, "desc"]]
            });

            $('#tblOrdersAsSeller').DataTable({
                autoWidth: false,
                order: [[1, "desc"]]
            });

            // Get the modal
            modal = document.getElementById(modalId);
            modalBuyerInfo = document.getElementById('modalBuyerInfo');
            modalRateAndReportSeller = document.getElementById('modalRateAndReportSeller');

            // Get the <span> element that closes the modal
            //var closeModalSpan = $(".close-modal")[0];
            var closeModalSpans = $(".close-modal");

            // When the user clicks on <span> (x), close the modal
            //closeModalSpan.onclick = function () {
            //    closeModal()
            //}

            //var dismissModatBtn = $('#' + modalId + ' .dismiss-modal-btn')[0];
            var dismissModatBtns = $('.dismiss-modal-btn');

            for (var i = 0; i < dismissModatBtns.length; i++) {

                // When the user clicks on <span> (x), close the modal
                closeModalSpans[i].onclick = function () {
                    closeModal()
                }

                dismissModatBtns[i].onclick = function () {
                    closeModal()
                }

            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal || event.target == modalBuyerInfo || event.target == modalRateAndReportSeller) {
                    closeModal()
                }
            }

        });

        function closeModal() {
            modal.style.display = "none";
            modalBuyerInfo.style.display = "none";
            modalRateAndReportSeller.style.display = "none";

            confirmModalBtn.onclick = function () {
                closeModal()
            };

            confirmRateAndReportModalBtn.onclick = function () {
                closeModal();
            };

            reportSellerBtn.onclick = function () {

            };

        }

        function showModal() {
            modal.style.display = "block";
        }

        function showBuyerInfoModal(buyerFullName, buyerAddressLine1, buyerAddressLine2, buyerCity, buyerState, buyerPostalCode, buyerCountry) {

            $('#buyerFullName').text(buyerFullName);
            $('#buyerAddressLine1').text(buyerAddressLine1);
            $('#buyerAddressLine2').text(buyerAddressLine2);
            $('#buyerCityAndState').text(buyerCity + " - " + buyerState);
            $('#buyerPostalCode').text(buyerPostalCode);
            $('#buyerCountry').text(buyerCountry);

            modalBuyerInfo.style.display = "block";
        }

        function productReceived(orderId, sellerId, currentUserRating) {

            rateAndReportModalMessageDiv.innerHTML = "<h3><b>Please confirm below if you received your order.</b></h3>"
                + "<p>But before that, rate this seller or report him / her if something went wrong.</p>"
                + "<div class='row'>"
                + "<div class='col-md-offset-2 col-md-8'>"
                + "<div class='utf_box_widget opening-hours review-avg-wrapper'>"
                + "<h3><i class='sl sl-icon-star' style='background-color:gold'></i> Seller's Rating </h3>"
                + "<div class='box-inner'>"
                + "<div class='rating-avg-wrapper text-theme clearfix'>"
                + "<div class='my-rating-" + sellerId + "'></div>"
                + "</div>"
                + "</div>"
                + "</div>"
                + "</div>"
                + "</div>"
                ;

            var initialRating = currentUserRating;

            if (ratedSellersDic[sellerId]) {
                initialRating = ratedSellersDic[sellerId];
            }

            $(".my-rating-" + sellerId).starRating({
                starSize: 50,
                starShape: 'rounded',
                strokeWidth: 0,
                useGradient: false,
                ratedColor: '#707070',
                minRating: 1,
                readOnly: false,
                initialRating: initialRating,
                callback: function (newRating, $el) {
                    $.post("/Orders/RateSeller", { sellerId: sellerId, rating: newRating }, function (data) {
                        //no need to refresh here
                        ratedSellersDic[sellerId] = newRating;
                    });
                }
            });

            confirmRateAndReportModalBtn.onclick = function () {
                callController("ProductReceived", orderId);
                closeModal();
            };

            reportSellerBtn.onclick = function () {
                goToReportSeller(sellerId);
            };

            modalRateAndReportSeller.style.display = "block";
        }

        function cancelOrder(orderId, asBuyer) {

            modalMessageDiv.innerHTML = 'Are you sure you want to cancel this order?';

            if (asBuyer) {
                modalMessageDiv.innerHTML += '<br /><br /><b>You may only cancel the order<br />if this has been agreed between you and the Seller.</b>';
            }

            var btnC = $('#' + modalId + ' .confirm-modal-btn');
            btnC.val("Cancel Order");
            btnC.removeClass("btn-primary");
            btnC.addClass("btn-danger");

            var btnDismiss = $('#' + modalId + ' .dismiss-modal-btn');
            btnDismiss.removeClass("btn-danger");
            btnDismiss.addClass("btn-primary");

            confirmModalBtn.onclick = function () {
                callController("CancelOrder", orderId);
                btnC.val("Confirm");
                btnC.removeClass("btn-danger");
                btnC.addClass("btn-primary");

                btnDismiss.removeClass("btn-primary");
                btnDismiss.addClass("btn-danger");
                closeModal();
            };

            showModal();
        }

        function paymentReceived(orderId) {

            modalMessageDiv.innerText = 'Do you confirm that you received the order payment?';

            confirmModalBtn.onclick = function () {
                callController("PaymentReceived", orderId);
                closeModal();
            };

            showModal();
        }

        function productShipped(orderId) {

            modalMessageDiv.innerHTML = "<p>Do you confirm that you shipped the order?</p>"
                + "<p>If you have a tracking number, please enter it:</p>"
                + "<input class='form-control text-box single-line' data-val='true' data-val-length='The tracking number must be a text with a maximum length of 30.' data-val-length-max='30' id='trackingNumber' name='trackingNumber' type='text' value=''>";

            confirmModalBtn.onclick = function () {
                callController("ProductShipped", orderId, $("#trackingNumber").val());
                closeModal();
            };

            showModal();
        }

        function callController(action, orderId, trackingNumber) {

            $.post("/Orders/" + action, { id: orderId, trackingNumber: trackingNumber }, function (data) {

                //do whatever with the response
                if (data == "refresh") {
                    window.scrollTo(0, 0);
                    window.location.reload(true);
                }
            });
        }

        function goToPayment(orderId) {
            window.location.href = window.location.origin + "/Orders/Payment/" + orderId;
        }

        function goToReportSeller(sellerId) {
            window.location.href = window.location.origin + "/Orders/ReportSeller/" + sellerId;
        }

        function goToChat(otherUserId) {
            window.location.href = window.location.origin + "/Messages/StartNewChat?receiverUserId=" + otherUserId;
        }

        function copyToClipboard(id) {

            var copyText = document.getElementById(id);
            var textArea = document.createElement("textarea");
            textArea.value = copyText.textContent;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("Copy");
            textArea.remove();
        }
    </script>

    <script src="/content/starrating/jquery.star-rating-svg.js"></script>
}