﻿@model CoinListingApp.Models.Payments
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@Html.Partial("_Notify")

<div class="row text-center">
    <h2>Payment Instructions</h2>
</div>

<div class="row">
    <div class="col-md-2">
        <a class="button" href="@Url.Action("Index", "Orders")"><i class="sl sl-icon-arrow-left"></i>Go to Orders</a>
    </div>
</div>

<hr />

@*@if (!string.IsNullOrEmpty(Model.PaypalEmail))
    {
        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center well">
                <h3>Pay using Paypal:</h3>
                <br />
                <p>@Html.ActionLink("Buy Now", "BuyNow", new { id = Model.OrderID }, new { @class = "button border" })</p>
            </div>
        </div>
    }*@

<div class="row">
    <div class="col-md-offset-3 col-md-6 text-center well">

        @if (string.IsNullOrEmpty(Model.InstructionsMessage) || Model.AutomaticNotifications == 0)
        {
            <p>Thank you for your Order. Please wait for the Seller to contact you with His/Her payment instructions.</p>
            <p>This may be by Email Confirmation or the Seller will contact you via the Coinstacker message service.</p>
            <p>If the Seller has already provided his Payment instructions, please send the payment to the Seller and confirm it below.</p>

        }
        else
        {
            <p>@Model.InstructionsMessage</p>

            <p>Please send the payment to the Seller and confirm it below.</p>

        }

        <p>(You can also confirm payment later via the <a href="@Url.Action("Index", "Orders")">Orders</a> section)</p>

        <p>Your Order Number [@Model.OrderID] Amount to pay [£@Model.TotalPrice.ToString("N2")]</p>

        <a class="button" href="@Url.Action("NotPaypalPaymentSent", "Orders", new { id = Model.OrderID})">Confirm Payment Sent</a>
    </div>
</div>