﻿@model CoinListingApp.Models.ReportSellerViewModel

@{
    ViewBag.Title = "Report Seller";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

@using (Html.BeginForm("ReportSeller", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_Notify")

    <div class="row text-center">
        <h2>Reporting @Model.SellerMaskedName</h2>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-2">
            <a class="button" href="@Url.Action("Index", "Orders")"><i class="sl sl-icon-arrow-left"></i>Go to Orders</a>
        </div>
    </div>

    <hr />

    @Html.HiddenFor(model => model.SellerId)

    <div class="form-group row">
        <div class="col-md-offset-4 col-md-4">
            <label for="textarea" class="col-4 col-form-label text-center">Why are you reporting this seller?</label>
            @Html.TextAreaFor(model => model.Report, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4 text-center">
            <button type="submit" class="btn btn-primary button button4">Report Seller</button>
        </div>
    </div>

}
