﻿@model PagedList.IPagedList<CoinListingApp.Models.SellerViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = (string)ViewBag.CurrentAction;
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@Html.Partial("_TitleSection", null, new ViewDataDictionary { { "PageTitle", "Sellers A-Z" } })

<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="container">
    @Html.Partial("_Notify")
    <div class="row">
        <div class="col-md-12">
            <div class="listing_filter_block">
                @using (Html.BeginForm())
                {
                    <div class="col-md-12 col-xs-12">
                        <div class="contact-form-action">
                            <div class="input-group mb-3">
                                @Html.Hidden("newSearch", false)
                                <input class="form-control" id="search" name="search" type="text" value="@ViewBag.filter" onchange="flagAsNewSearch()" />
                                <div class="input-group-append">
                                    <input type="submit" value="Search" class="utf_theme_btn" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 col-xs-12">

                        <div class="sort-by">
                            <div class="utf_sort_by_select_item utf_search_map_section pull-left">
                                Order by:
                                <ul style="padding-left:0px;">
                                    @if (ViewBag.CurrentSortOrder == "AZ")
                                    {
                                        <li>@Html.ActionLink("A-Z", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter }, new { @class = "utf_common_button selected" })</li>
                                        <li>@Html.ActionLink("Z-A", (string)ViewBag.CurrentAction, new { sort = "ZA", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Newest Seller first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Oldest Seller first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Highest Rating first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        @*<li>@Html.ActionLink("Lowest Rating first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>*@
                                    }
                                    else if (ViewBag.CurrentSortOrder == "ZA")
                                    {
                                        <li>@Html.ActionLink("A-Z", (string)ViewBag.CurrentAction, new { sort = "AZ", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Z-A", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter }, new { @class = "utf_common_button selected" })</li>
                                        <li>@Html.ActionLink("Newest Seller first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Oldest Seller first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Highest Rating first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        @*<li>@Html.ActionLink("Lowest Rating first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>*@
                                    }
                                    else if (ViewBag.CurrentSortOrder == "Newest")
                                    {
                                        <li>@Html.ActionLink("A-Z", (string)ViewBag.CurrentAction, new { sort = "AZ", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Z-A", (string)ViewBag.CurrentAction, new { sort = "ZA", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Newest Seller first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter }, new { @class = "utf_common_button selected" })</li>
                                        <li>@Html.ActionLink("Oldest Seller first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Highest Rating first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        @*<li>@Html.ActionLink("Lowest Rating first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>*@
                                    }
                                    else if (ViewBag.CurrentSortOrder == "Oldest")
                                    {
                                        <li>@Html.ActionLink("A-Z", (string)ViewBag.CurrentAction, new { sort = "AZ", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Z-A", (string)ViewBag.CurrentAction, new { sort = "ZA", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Newest Seller first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Oldest Seller first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter }, new { @class = "utf_common_button selected" })</li>
                                        <li>@Html.ActionLink("Highest Rating first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        @*<li>@Html.ActionLink("Lowest Rating first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>*@
                                    }
                                    else if (ViewBag.CurrentSortOrder == "Highest")
                                    {
                                        <li>@Html.ActionLink("A-Z", (string)ViewBag.CurrentAction, new { sort = "AZ", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Z-A", (string)ViewBag.CurrentAction, new { sort = "ZA", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Newest Seller first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Oldest Seller first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Highest Rating first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter }, new { @class = "utf_common_button selected" })</li>
                                        @*<li>@Html.ActionLink("Lowest Rating first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>*@
                                    }
                                    else if (ViewBag.CurrentSortOrder == "Lowest")
                                    {
                                        <li>@Html.ActionLink("A-Z", (string)ViewBag.CurrentAction, new { sort = "AZ", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Z-A", (string)ViewBag.CurrentAction, new { sort = "ZA", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Newest Seller first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Oldest Seller first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Highest Rating first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        @*<li>@Html.ActionLink("Lowest Rating first", (string)ViewBag.CurrentAction, new { sort = "", search = ViewBag.filter }, new { @class = "utf_common_button selected" })</li>*@
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("A-Z", (string)ViewBag.CurrentAction, new { sort = "AZ", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Z-A", (string)ViewBag.CurrentAction, new { sort = "ZA", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Newest Seller first", (string)ViewBag.CurrentAction, new { sort = "Newest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Oldest Seller first", (string)ViewBag.CurrentAction, new { sort = "Oldest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        <li>@Html.ActionLink("Highest Rating first", (string)ViewBag.CurrentAction, new { sort = "Highest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>
                                        @*<li>@Html.ActionLink("Lowest Rating first", (string)ViewBag.CurrentAction, new { sort = "Lowest", search = ViewBag.filter }, new { @class = "utf_common_button" })</li>*@
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="utf_listing_item-container list-layout">
                            <a href="/users/seller/@item.Seller.UserID" class="utf_listing_item">
                                <div class="utf_listing_item-image">
                                    @if (!string.IsNullOrEmpty(item.Seller.ProfilePicture))
                                    {
                                        <img src="@item.Seller.ProfilePicture" alt="Profile picture">
                                    }
                                    @if (item.Favourite)
                                    {
                                        <span class="like-icon liked" id="likeBtn_Seller_@item.Seller.UserID" onclick="turnWatchingOff(@item.Seller.UserID)"></span>
                                    }
                                    else
                                    {
                                        <span class="like-icon" id="likeBtn_Seller_@item.Seller.UserID" onclick="turnWatchingOn(@item.Seller.UserID)"></span>
                                    }
                                </div>
                                <div class="utf_listing_item_content">
                                    <div class="utf_listing_item-inner">
                                        <div class="row">
                                            <h2>@item.MaskedSellerName</h2>
                                        </div>
                                        <div class="row">
                                            @if (item.CityAndCountry != null)
                                            {
                                                <span><i class="sl sl-icon-location"></i>@item.CityAndCountry</span>
                                            }
                                        </div>
                                        <div class="row">
                                            @if (item.AverageRating > 0)
                                            {
                                                <div class="utf_star_rating_section" data-rating="@item.AverageRating">
                                                    <div class="utf_counter_star_rating">(@item.AverageRating)</div>
                                                </div>
                                            }
                                            else
                                            {
                                                <span>Not rated yet</span>
                                            }
                                        </div>
                                        <div class="row">
                                            <p>Member since: @item.FormattedSignUpDate</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    @*<div class="utf_pagination_container_part margin-top-20 margin-bottom-75">
                        <nav class="pagination">
                            <ul>
                                <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                                <li><a href="#" class="current-page">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>*@
                    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
                    @Html.PagedListPager(Model, Page_No => Url.Action((string)ViewBag.CurrentAction,
                        new { id = ViewBag.SellerId, sort = ViewBag.CurrentSortOrder, search = ViewBag.filter, Page_No }))
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .input-group-append {
        margin-left: 10px;
    }
</style>

<script>
    function turnWatchingOff(sellerId) {
        toggleWatching(sellerId, "UnFavourite");
    }

    function turnWatchingOn(sellerId) {
        toggleWatching(sellerId, "Favourite");
    }

    function toggleWatching(sellerId, action) {

        var isAuthenticated = @Html.Raw(Json.Encode(Context.User.Identity.IsAuthenticated));

        if (!isAuthenticated) {
            window.location.href = window.location.origin + "/Account/Login?ReturnUrl=" + encodeURIComponent(window.location.pathname);
        } else {
            $.post("/Users/" + action, { sellerId: sellerId }, function (data) {
                //do whatever with the response
                //alert(data);
            });
        }
    }

    function flagAsNewSearch() {
        $("#newSearch").val(true);
    }
</script>
